<!DOCTYPE html>
  <html lang="en" <% if (currentUser.darkMode) { %> class="dark-mode" <% } %> >
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="/utilities/bootstrap/css/bootstrap.min.css">
      <!-- CSS -->
      <link rel="stylesheet" href="/stylesheets/app.css">
      <link rel="stylesheet" href="/stylesheets/user.css">

      <title>Neilit || <%= currentUser.username %></title>
    </head>
    <body>
      <!-- MENU BAR -->
      <div id="neilit-menu">
        <div id="header-menu" class="d-flex px-3">
            <h1>NEILIT</h1>
            <a id="toggle-c-menu" class="ml-auto" href="#!">
              <img src="/imgs/icons/menu-open.svg" alt="toggle menu">
            </a>
        </div>
        <div id="content-menu" class="d-flex flex-column">
          <a href="/<%= currentUser.username %>">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/home.svg" alt="home">
              <span class="pl-2"><%= __('Home') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/statistics">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/donut.svg" alt="statistics">
              <span class="pl-2"><%= __('Statistics') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/journal/entry">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/entry.svg" alt="journal">
              <span class="pl-2"><%= __('Entries') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/journal/ta">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/ta.svg" alt="journal">
              <span class="pl-2"><%= __('TA') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/journal/backtest">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/backtest.svg" alt="journal">
              <span class="pl-2"><%= __('Backtest') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/journal/comment">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/comment.svg" alt="journal">
              <span class="pl-2"><%= __('Comments') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/plan">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/plan.svg" alt="trading plan">
              <span class="pl-2"><%= __('Trading Plan') %></span>
            </div>
          </a>
          <a href="/<%= currentUser.username %>/calculator">
            <div class="element-menu d-flex align-items-center pl-3 py-1 mt-1">
              <img src="/imgs/icons/calculator.svg" alt="calculator">
              <span class="pl-2"><%= __('Calculator') %></span>
            </div>
          </a>
        </div>
        <!-- <div class="mt-auto text-center">
          <button class="btn-upgrade w-75">
            <strong><%= __('Upgrade to Legacy') %>!</strong>
          </button>
        </div> -->
      </div>

      <section id="content" class="mt-4">
        <div id="header-top" class="d-flex justify-content-between mx-4">
          <div>
            <a id="toggle-o-menu" class="ml-1 mr-4 d-none" href="#!">
              <img src="/imgs/icons/menu.svg">
            </a>
          </div>
          <div class="mr-2">
            <a href="/<%= currentUser.username %>/settings" class="btn-top">
              <img src="/imgs/icons/settings.svg" alt="settings">
            </a>
          </div>
        </div>

        <!-- flash messages -->
        <% if (error && error.length > 0) { %>
          <div id="flash-alert" class="container">
            <div class="alert alert-danger mt-2" role="alert">
              <%= error %>
            </div>
          </div>
        <% } %>
        <% if (success && success.length > 0) { %>
          <div id="flash-alert" class="container">
            <div class="alert alert-success mt-2" role="alert">
              <%= success %>
            </div>
          </div>
        <% } %>
