<%- include("../partials/header-home") %>

<div>
  <nav class="navbar d-none d-md-flex px-3">
  <!-- email -->
  <ul class="navbar-nav">
    <li class="nav-item ml-2">
      <p class="mb-0">
        <img src="/imgs/icons/email.svg" alt="email">
        info@neilit.com
      </p>
    </li>
  </ul>
  <!-- language -->
   <ul class="navbar-nav">
     <li class="nav-item">
        <a data-toggle="modal" data-target=".modal-language-lg" class="cursor-pointer ml-4">
          <img src="/imgs/icons/language.svg" alt="language">
          <span><%= __('Language')%></span>
        </a>
        <!-- language modal -->
        <div class="modal modal-language-lg fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content text-center">
              <div class="modal-body py-2">
                <form action="/language/en" method="POST">
                  <button type="submit"><%= __('English')%></button>
                </form>
                <form action="/language/es" method="POST">
                  <button type="submit"><%= __('Spanish')%></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
   <!-- social media -->
   <ul class="navbar-nav ml-auto">
     <li class="nav-item social">
       <p class="mb-0">
         <!-- facebook -->
         <!-- <img src="/imgs/icons/fb.svg" alt="facebook" class="ml-2"> -->
         <!-- instagram -->
         <!-- <img src="/imgs/icons/ig.svg" alt="instagram" class="ml-2"> -->
         <!-- youtube -->
         <!-- <img src="/imgs/icons/yt.svg" alt="youtube" class="ml-2"> -->
         <!-- linkedin -->
         <!-- <img src="/imgs/icons/linkedin.svg" alt="linkedin" class="ml-2"> -->
         <!-- twitter -->
         <!-- <img src="/imgs/icons/twitter.svg" alt="twitter" class="ml-2"> -->
       </p>
     </li>
    </ul>
  </nav>

  <div class="sticky-top">
    <p id="beta" class="mb-0"><strong><%= __('We are in BETA') %></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg px-lg-4" id="sticky-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <img class="icon-navbar" src="/imgs/icons/menu-orange.svg" alt="navbar">
      </span>
    </button>
    <div class="collapse navbar-collapse mt-2 mt-lg-0 px-3 pb-3 p-lg-0" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/" class="btn-nav"><%= __('Home')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/features" class="btn-nav"><%= __('Features')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/pricing" class="btn-nav"><%= __('Pricing')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/resources" class="btn-nav"><%= __('Resources')%></a>
        </li>
      </ul>
      <div class="ml-auto mt-3 mt-lg-0">
        <!-- login -->
        <a class="btn-neilit" href="/login">Login</a>
        <!-- signup -->
        <a class="btn-inverted ml-3" href="/signup">Sign Up</a>
      </div>
    </div>
  </nav>

  <div class="bg-sm-nav d-lg-none"></div>

  <div class="py-5">
    <div class="container">
      <h1>How to backtest</h1>
      <p>
        Go to the backtest tab on the menu bar. And click on the ‘new’ button
        on the bottom right of the page.
        <br>
        <br>
        Start by selecting the asset you are going to backtest. We recommend you
        select a single pair for consistency and precision. You will be able to find out if a method works on a single pair.
        <br>
        Next, you will have to decide whether you only want to take long trades,
        short traders or both. And how you want to record the result of your operations: percentage (%) or risk-reward ratio (R).
        <br>
        <br>
        In the specific section you’ll have to choose what timeframe you are
        performing your backtest in and what strategy you will use. Again, you
        are able to choose between a single one or multiple. Once these fields
        are completed you are all set to start backtesting.
      </p>
      <img class="w-100 mb-3" src="/imgs/resources-create-backtest-1.png" alt="how-to-create-a-backtest">
      <p>
        Moreover, there is also the possibility of adding custom parameters to
        your backtest. For instance, you might also want to account for the RSI
        value or record whether the price was above or below the 200 moving average.
        <br>
        To include these parameters you can press on the ‘add’ button. A new
        section will appear. You can continue to add new parameters by pressing
        to that same button. To correctly create a new parameter for your
        backtesting you will have to provide it with a title and choose between
        a numeric parameter or an option one.
      </p>
      <img class="w-100 mb-3" src="/imgs/resources-create-backtest-2.png" alt="how-to-create-a-backtest">
      <p>
        The numerical parameter will let you fill in any number and the only
        thing you have to do is select the checkbox below the title. Instead,
        if you want an option parameter leave the checkbox unchecked and fill in
        the options you want for it. To add more options put the cursor in the
        last option and press enter. You can also press the other ‘add’ button
        on the right side of it.
      </p>
      <img class="w-100 mb-3" src="/imgs/resources-create-backtest-3.png" alt="how-to-create-a-backtest">
    </div>
  </div>
</div>

<footer class="mt-2 py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo">N</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 col-lg-5">
        <span>
          <%= __('value statement') %>
        </span>
        <div class="my-3">
          <div class="footer-header"><%= __('Contact us') %>:</div>
          <div>
            <img class="mr-2" src="/imgs/icons/email-black.svg" alt="email">info@neilit.com
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-lg-3">
        <ul class="pl-0">
          <li><a href="/"><%= __('Home') %></a></li>
          <li><a href="/features"><%= __('Features') %></a></li>
          <li><a href="/pricing"><%= __('Pricing') %></a></li>
          <li><a href="/resources"><%= __('Resources') %></a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-lg-4">
        <span><%= ('Stay up to date on the latest from Neilit') %></span>
        <!-- Begin Mailchimp Signup Form -->
          <form action="https://neilit.us7.list-manage.com/subscribe/post?u=c948a8be82c0ef2a67a286794&amp;id=6b33ce7392" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        	     <input type="email" value="" name="EMAIL" class="my-2 newsletter px-2" id="mce-EMAIL" placeholder="<%= ('Email address') %>" required>
               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c948a8be82c0ef2a67a286794_6b33ce7392" tabindex="-1" value=""></div>
               <div class="clear"><input type="submit" value="<%= __('Subscribe') %>" name="subscribe" id="mc-embedded-subscribe" class="btn-neilit py-1"></div>
          </form>
          <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="footer-bottom">
      @2020 Neilit. All Rights Reseverd.
    </div>
  </div>
</footer>

<%- include("../partials/footer-home") %>
