<%- include("./partials/header-home") %>

<div class="pb-5">
  <div>
    <nav class="navbar">
    <!-- email -->
    <ul class="navbar-nav">
      <li class="nav-item ml-2">
        <p class="mb-0">
          <img src="/imgs/icons/email.svg" alt="email">
          info@neilit.com
        </p>
      </li>
    </ul>
    <!-- language -->
     <ul class="navbar-nav">
       <li class="nav-item">
          <a data-toggle="modal" data-target=".modal-language-lg" class="cursor-pointer ml-5">
            <img src="/imgs/icons/language.svg" alt="language">
            <span><%= __('Language')%></span>
          </a>
          <!-- language modal -->
          <div class="modal modal-language-lg fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content text-center">
                <div class="modal-body py-2">
                  <form action="/language/en" method="POST">
                    <button type="submit"><%= __('English')%></button>
                  </form>
                  <form action="/language/es" method="POST">
                    <button type="submit"><%= __('Spanish')%></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
     <!-- social media -->
     <ul class="navbar-nav ml-auto">
       <li class="nav-item social">
         <p class="mb-0">
           <!-- facebook -->
           <!-- <img src="/imgs/icons/fb.svg" alt="facebook" class="ml-2"> -->
           <!-- instagram -->
           <!-- <img src="/imgs/icons/ig.svg" alt="instagram" class="ml-2"> -->
           <!-- youtube -->
           <!-- <img src="/imgs/icons/yt.svg" alt="youtube" class="ml-2"> -->
           <!-- linkedin -->
           <!-- <img src="/imgs/icons/linkedin.svg" alt="linkedin" class="ml-2"> -->
           <!-- twitter -->
           <!-- <img src="/imgs/icons/twitter.svg" alt="twitter" class="ml-2"> -->
         </p>
       </li>
      </ul>
    </nav>
  </div>

  <div class="sticky-top">
    <nav class="navbar" id="sticky-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="btn-nav mr-4"><%= __('Home')%></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/features" class="btn-nav mr-4"><%= __('Features')%></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/pricing" class="btn-nav mr-4"><%= __('Pricing')%></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/resources" class="btn-nav mr-4"><%= __('Resources')%></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- login -->
          <a class="btn-neilit ml-3" href="/login">Login</a>
          <!-- signup -->
          <a class="btn-inverted ml-3" href="/signup">Sign Up</a>
        </li>
      </ul>
    </nav>
    <p id="beta" class="mb-0"><strong><%= __('We are in BETA') %></strong></p>
  </div>

  <div class="bg-neilit py-5">
    <div class="container">
      <h1><%= __('Measure you trading efficiently. And start becoming profitable.') %></h1>
      <p><%= __('The all-in-one journal station. One tool for all your trading. Record your operations, obtain statistics and watch your improvements.') %></p>
      <a href="/signup" class="btn-inverted"><strong><%= __('Get Started') %></strong></a>
    </div>
  </div>
  <div class="container mb-5">
    <img src="/imgs/dashboard-preview.png" class="border-box mt-5" alt="Preview">
    <hr class="my-4">
    <div class="text-center">
      <h2 class="text-dark"><%= __('Build to empower every trader') %></h2>
      <span class="subtitle-sm"><%= __('Neilt offers an all-in-one journal management tool') %></span>
    </div>
    <!-- features grid -->
    <table class="mt-5">
      <tr>
        <th>
          <img src="/imgs/icons/dashboard.svg" class="mb-2">
          <h4><%= __('Dashboard') %></h4>
          <p class="bio"><%= __('Visualize you current balance, track current operations and review your objectives') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/file.svg" class="mb-2">
          <h4><%= __('Journal') %></h4>
          <p class="bio"><%= __('Record your opertaions to generate useful metrics and audit later') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/statistics-altern.svg" class="mb-2">
          <h4><%= __('Statistics') %></h4>
          <p class="bio"><%= __('Discover our beautiful graphs and tables generated to provide helpful insights') %>.</p>
        </th>
      </tr>
      <tr>
        <th>
          <img src="/imgs/icons/funnel.svg" class="mb-2">
          <h4><%= __('Backtest') %></h4>
          <p class="bio"><%= __('Test your strategies and tweak them on the go to improve your ROI') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/map.svg" class="mb-2">
          <h4><%= __('Trading Plan') %></h4>
          <p class="bio"><%= __('Use Neilit\'s template to create a fully complete and objective trading plan') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/calculator-altern.svg" class="mb-2">
          <h4><%= __('Calculator') %></h4>
          <p class="bio"><%= __('Manage your position size before entering any operation') %>.</p>
        </th>
      </tr>
    </table>
  </div>

  <div class="bg-grey py-4 mb-4">
    <div class="container">
      <div class="story-heading d-flex">
        <span class="numbered mr-2">1</span>
        <div>
          <h2 class="text-dark"><%= __('Generate a Trading Plan') %></h2>
          <p class="mb-0"><%= __('Create an efficient and objective trading plan. And use our backtesting feature to ensure its liability.') %></p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/plan-preview.png" class="story-img mt-2" alt="Trading Plan">
      </div>
    </div>
  </div>
  <div class="py-4 mb-4">
    <div class="container">
      <div class="story-heading d-flex">
        <span class="numbered mr-2">2</span>
        <div>
          <h2 class="text-dark"><%= __('Log your Entries') %></h2>
          <p class="mb-0"><%= __('Manage your risk. Record the datapoints from your operations. And review them whenever you want.') %></p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/entry-preview.png" class="story-img mt-2" alt="Trading Plan">
      </div>
    </div>
  </div>
  <div class="bg-grey py-4 mb-4">
    <div class="container">
      <div class="story-heading d-flex">
        <span class="numbered mr-2">3</span>
        <div>
          <h2 class="text-dark"><%= __('Auto-Generated Statistics') %></h2>
          <p class="mb-0"><%= __('Analyse our custom statistics. Gain insights from your executed trades. And apply any improvement to your future performance.') %></p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/statistics-preview.png" class="story-img mt-2" alt="Trading Plan">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="mb-4">
    <div class="text-center">
      <h2 class="text-dark mb-4"><%= ('Monitor every step of your trading journey') %></h2>
      <div class="row mb-5">
        <div class="col-4">
          <div class="card">
            <img src="/imgs/placeholder.png" class="card-img-top">
            <div class="card-body text-left">
              <h4 class="card-title"><%= __('Technical Analysis') %></h4>
              <p class="card-text"><%= __('Write down your analysis on any asset and updated it as the narrative of your trade develops. If you end up taking the operation you can link the analysis to your entry.') %></p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="/imgs/placeholder.png" class="card-img-top">
            <div class="card-body text-left">
              <h4 class="card-title"><%= __('Objectives') %></h4>
              <p class="card-text"><%= __('State your objectives and check on them whenever you want. Your progress will be reflected through you achivements and milestones.') %></p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="/imgs/placeholder.png" class="card-img-top">
            <div class="card-body text-left">
              <h4 class="card-title"><%= __('Follow open P/L') %></h4>
              <p class="card-text"><%= __('In our dashboard you\'ll be able to see the operations that are currently open. Neilit provides an estimate of your unrealized P/L.') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h2 class="text-dark"><%= __('Get started today') %></h2>
      <span class="subtitle-sm d-block mb-3"><%= __('Becoming profitable is very simple if you know how') %></span>
      <a href="/signup" class="btn-neilit"><%= __('Create an account') %></a>
    </div>
  </div>
</div>

<%- include("./partials/footer-home") %>
