<%- include("./partials/header-home") %>

<div>
  <nav class="navbar d-none d-md-flex px-3">
  <!-- email -->
  <ul class="navbar-nav">
    <li class="nav-item ml-2">
      <p class="mb-0">
        <img src="/imgs/icons/email.svg" alt="email">
        info@neilit.com
      </p>
    </li>
  </ul>
  <!-- language -->
   <ul class="navbar-nav">
     <li class="nav-item">
        <a data-toggle="modal" data-target=".modal-language-lg" class="cursor-pointer ml-4">
          <img src="/imgs/icons/language.svg" alt="language">
          <span><%= __('Language')%></span>
        </a>
        <!-- language modal -->
        <div class="modal modal-language-lg fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content text-center">
              <div class="modal-body py-2">
                <form action="/language/en" method="POST">
                  <button type="submit" value="en"><%= __('English')%></button>
                </form>
                <form action="/language/es" method="POST">
                  <button type="submit" value="es"><%= __('Spanish')%></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
   <!-- social media -->
   <ul class="navbar-nav ml-auto">
     <li class="nav-item social">
       <p class="mb-0">
         <!-- facebook -->
         <!-- <img src="/imgs/icons/fb.svg" alt="facebook" class="ml-2"> -->
         <!-- instagram -->
         <!-- <img src="/imgs/icons/ig.svg" alt="instagram" class="ml-2"> -->
         <!-- youtube -->
         <!-- <img src="/imgs/icons/yt.svg" alt="youtube" class="ml-2"> -->
         <!-- linkedin -->
         <!-- <img src="/imgs/icons/linkedin.svg" alt="linkedin" class="ml-2"> -->
         <!-- twitter -->
         <!-- <img src="/imgs/icons/twitter.svg" alt="twitter" class="ml-2"> -->
       </p>
     </li>
    </ul>
  </nav>

  <div class="sticky-top">
    <p id="beta" class="mb-0"><strong><%= __('We are in BETA') %></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg px-lg-4" id="sticky-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <img class="icon-navbar" src="imgs/icons/menu-orange.svg" alt="navbar">
      </span>
    </button>
    <div class="collapse navbar-collapse mt-2 mt-lg-0 px-3 pb-3 p-lg-0" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/" class="btn-nav"><%= __('Home')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/features" class="btn-nav"><%= __('Features')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/pricing" class="btn-nav"><%= __('Pricing')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/resources" class="btn-nav"><%= __('Resources')%></a>
        </li>
      </ul>
      <div class="ml-auto mt-3 mt-lg-0">
        <!-- login -->
        <a class="btn-neilit" href="/login">Login</a>
        <!-- signup -->
        <a class="btn-inverted ml-3" href="/signup">Sign Up</a>
      </div>
    </div>
  </nav>

  <div class="bg-sm-nav d-lg-none"></div>

  <div class="bg-neilit py-5">
    <div class="container">
      <h1><%= __('Measure you trading efficiently. And start becoming profitable.') %></h1>
      <p><%= __('The all-in-one journal station. One tool for all your trading needs. Record your operations, obtain statistics and watch your improvements.') %></p>
      <a href="/signup" class="btn-neilit border border-light"><strong><%= __('Get Started') %></strong></a>
    </div>
  </div>
  <div class="d-none d-md-block container mb-5">
    <img src="/imgs/dashboard-preview.png" class="border-box mt-5" alt="Preview">
    <hr class="my-4">
    <div class="text-center">
      <h2 class="text-dark"><%= __('Build to empower every trader') %></h2>
      <span class="subtitle-sm"><%= __('Neilt offers an all-in-one journal management tool') %></span>
    </div>
    <!-- features grid -->
    <table class="mt-5">
      <tr>
        <th>
          <img src="/imgs/icons/dashboard.svg" class="mb-2">
          <h4><%= __('Dashboard') %></h4>
          <p class="bio"><%= __('Visualize you current balance, track current operations and review your objectives') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/file.svg" class="mb-2">
          <h4><%= __('Journal') %></h4>
          <p class="bio"><%= __('Record your opertaions to generate useful metrics and audit later') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/statistics-altern.svg" class="mb-2">
          <h4><%= __('Statistics') %></h4>
          <p class="bio"><%= __('Discover our beautiful graphs and tables generated to provide helpful insights') %>.</p>
        </th>
      </tr>
      <tr>
        <th>
          <img src="/imgs/icons/funnel.svg" class="mb-2">
          <h4><%= __('Backtest') %></h4>
          <p class="bio"><%= __('Test your strategies and tweak them on the go to improve your ROI') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/map.svg" class="mb-2">
          <h4><%= __('Strategies') %></h4>
          <p class="bio"><%= __('Use Neilit\'s template to create your next profitable strategy') %>.</p>
        </th>
        <th>
          <img src="/imgs/icons/calculator-altern.svg" class="mb-2">
          <h4><%= __('Calculator') %></h4>
          <p class="bio"><%= __('Manage your position size before entering any operation') %>.</p>
        </th>
      </tr>
    </table>
  </div>

  <div class="bg-grey py-4 mb-4">
    <div class="container">
      <div class="story-heading d-flex">
        <span class="numbered mr-2">1</span>
        <div>
          <h2 class="text-dark"><%= __('Develop your Strategies') %></h2>
          <p class="mb-0"><%= __('Create efficient and objective strategies. And use our backtesting feature to ensure its liability.') %></p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/strategies-preview.png" class="story-img mt-2" alt="Strategies">
      </div>
    </div>
  </div>
  <div class="py-4 mb-4">
    <div class="container">
      <div class="story-heading d-flex">
        <span class="numbered mr-2">2</span>
        <div>
          <h2 class="text-dark"><%= __('Log your Entries') %></h2>
          <p class="mb-0"><%= __('Manage your risk. Record the datapoints from your operations. And review them whenever you want.') %></p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/entry-preview.png" class="story-img mt-2" alt="Trading Plan">
      </div>
    </div>
  </div>
  <div class="bg-grey py-4 mb-4">
    <div class="container">
      <div class="story-heading d-flex">
        <span class="numbered mr-2">3</span>
        <div>
          <h2 class="text-dark"><%= __('Auto-Generated Statistics') %></h2>
          <p class="mb-0"><%= __('Analyse our custom statistics. Gain insights from your executed trades. And apply any improvement to your future performance.') %></p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/statistics-preview.png" class="story-img mt-2" alt="Trading Plan">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="mb-4">
    <div class="container mb-5">
      <div class="text-center">
        <h2 class="text-dark"><%= __('Assets') %></h2>
        <p class="subtitle-sm"><%= __('Add the assets you trade to your Neilit account. We allow user to create the own assets so you can still user them even if we don\'t have them. Lean how in') %> <a href="/resources/manage-assets" class="orange"><%= __('this post') %></a>.</p>
        <p class="subtitle-sm"><%= __('Premade assets are also available to all users. We do offer both') %> <a href="/assets/crypto" class="orange">Crypto</a> <%= __('and') %> <a href="/assets/forex" class="orange">Forex</a> <%= __('pre-created pair ready to be added to your account.') %></p>
      </div>
    </div>

    <hr class="mb-4">
    <div class="text-center">
      <h2 class="text-dark mb-4"><%= ('Monitor every step of your trading journey') %></h2>
      <div class="features-card row mb-5">
        <div class="col-10 col-md-6 col-lg-4 mx-auto mx-md-0 mb-4 mb-lg-0">
          <div class="card">
            <img src="/imgs/features-ta.png" class="card-img-top">
            <div class="card-body text-left">
              <h4 class="card-title"><%= __('Technical Analysis') %></h4>
              <p class="card-text"><%= __('Write down your analysis on any asset and updated it as the narrative of your trade develops. If you end up taking the operation you can link the analysis to your entry.') %></p>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-4 mx-auto mx-md-0 mb-4 mb-lg-0">
          <div class="card">
            <img src="/imgs/features-objectives.png" class="card-img-top">
            <div class="card-body text-left">
              <h4 class="card-title"><%= __('Objectives') %></h4>
              <p class="card-text"><%= __('State your objectives and check on them whenever you want. Your progress will be reflected through you achivements and milestones.') %></p>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-4 mx-auto mx-md-0">
          <div class="card">
            <img src="/imgs/features-pl.png" class="card-img-top">
            <div class="card-body text-left">
              <h4 class="card-title"><%= __('Follow open P/L') %></h4>
              <p class="card-text"><%= __('In our dashboard you\'ll be able to see the operations that are currently open. Neilit provides an estimate of your unrealized P/L.') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <h2 class="text-dark"><%= __('Get started today') %></h2>
      <span class="subtitle-sm d-block mb-3"><%= __('Becoming profitable is very simple if you know how') %></span>
      <a href="/signup" class="btn-neilit"><%= __('Create an account') %></a>
    </div>
  </div>
</div>

<footer class="mt-5 py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo">N</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 col-lg-5">
        <span>
          <%= __('value statement') %>
        </span>
        <div class="my-3">
          <div class="footer-header"><%= __('Contact us') %>:</div>

          <div>
            <img class="mr-2" src="/imgs/icons/email-black.svg" alt="email">info@neilit.com
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-lg-3">
        <ul class="pl-0">
          <li><a href="/"><%= __('Home') %></a></li>
          <li><a href="/features"><%= __('Features') %></a></li>
          <li><a href="/pricing"><%= __('Pricing') %></a></li>
          <li><a href="/resources"><%= __('Resources') %></a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-lg-4">
        <span><%= ('Stay up to date on the latest from Neilit') %></span>
        <!-- Begin Mailchimp Signup Form -->
          <form action="https://neilit.us7.list-manage.com/subscribe/post?u=c948a8be82c0ef2a67a286794&amp;id=6b33ce7392" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        	     <input type="email" value="" name="EMAIL" class="my-2 newsletter px-2" id="mce-EMAIL" placeholder="<%= ('Email address') %>" required>
               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c948a8be82c0ef2a67a286794_6b33ce7392" tabindex="-1" value=""></div>
               <div class="clear"><input type="submit" value="<%= __('Subscribe') %>" name="subscribe" id="mc-embedded-subscribe" class="btn-neilit py-1"></div>
          </form>
          <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="footer-bottom">
      @2020 Neilit. All Rights Reseverd.
    </div>
  </div>
</footer>

<%- include("./partials/footer-home") %>
