<%- include("./partials/header-home") %>

<div class="bg-orange py-1">
  <div class="w-100 row mx-auto d-flex align-items-center">
    <div class="col-12">
      <h1 class="text-light text-center mb-0">NEILIT</h1>
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8 col-lg-5 mt-5 text-center">
      <h2 class="orange"><%= __('Forgot Your Password?') %></h2>
      <p class="border-bottom pb-2 mb-3"><%= __("We'll send a link to your email to reset your password") %></p>
      <form method="POST" action="/forgot-password" class="access">
        <!-- email -->
        <input class="mb-2 pl-2" type="email" name="email" placeholder="<%= __('Email') %>" required="required">
        <a href="/login" class="font-14 link-gris d-block mb-2"><%= __('Back to log in') %></a>
        <div class="mt-4">
          <button class="btn-neilit" type="submit"><%= __('Send') %></button>
        </div>
      </form>
    </div>
  </div>
</div>


<%- include("./partials/footer-home") %>
