<%- include("./partials/header-home") %>

<div id="home">
  <nav class="navbar d-none d-md-flex px-3">
  <!-- email -->
  <ul class="navbar-nav">
    <li class="nav-item ml-2">
      <p class="mb-0">
        <img src="/imgs/icons/email.svg" alt="email">
        info@neilit.com
      </p>
    </li>
  </ul>
  <!-- language -->
   <ul class="navbar-nav">
     <li class="nav-item">
        <a data-toggle="modal" data-target=".modal-language-lg" class="cursor-pointer ml-4">
          <img src="/imgs/icons/language.svg" alt="language">
          <span><%= __('Language')%></span>
        </a>
        <!-- language modal -->
        <div class="modal modal-language-lg fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content text-center">
              <div class="modal-body py-2">
                <form action="/language/en" method="POST">
                  <button type="submit"><%= __('English')%></button>
                </form>
                <form action="/language/es" method="POST">
                  <button type="submit"><%= __('Spanish')%></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
   <!-- social media -->
   <ul class="navbar-nav ml-auto">
     <li class="nav-item social">
       <p class="mb-0">
         <!-- facebook -->
         <!-- <img src="/imgs/icons/fb.svg" alt="facebook" class="ml-2"> -->
         <!-- instagram -->
         <!-- <img src="/imgs/icons/ig.svg" alt="instagram" class="ml-2"> -->
         <!-- youtube -->
         <!-- <img src="/imgs/icons/yt.svg" alt="youtube" class="ml-2"> -->
         <!-- linkedin -->
         <!-- <img src="/imgs/icons/linkedin.svg" alt="linkedin" class="ml-2"> -->
         <!-- twitter -->
         <!-- <img src="/imgs/icons/twitter.svg" alt="twitter" class="ml-2"> -->
       </p>
     </li>
    </ul>
  </nav>

  <div class="sticky-top">
    <p id="beta" class="mb-0"><strong><%= __('We are in BETA') %></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg px-lg-4" id="sticky-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <img class="icon-navbar" src="imgs/icons/menu-orange.svg" alt="navbar">
      </span>
    </button>
    <div class="collapse navbar-collapse mt-2 mt-lg-0 px-3 pb-3 p-lg-0" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/" class="btn-nav"><%= __('Home')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/features" class="btn-nav"><%= __('Features')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/pricing" class="btn-nav"><%= __('Pricing')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/resources" class="btn-nav"><%= __('Resources')%></a>
        </li>
      </ul>
      <div class="ml-auto mt-3 mt-lg-0">
        <!-- login -->
        <a class="btn-neilit" href="/login">Login</a>
        <!-- signup -->
        <a class="btn-inverted ml-3" href="/signup">Sign Up</a>
      </div>
    </div>
  </nav>
  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div id="flash-alert" class="position-absolute container">
      <div class="alert alert-danger mt-2" role="alert">
        <%= error %>
      </div>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div id="flash-alert" class="position-absolute container">
      <div class="alert alert-success mt-2" role="alert">
        <%= success %>
      </div>
    </div>
  <% } %>
  <!-- neilit home -->
  <div>
    <div class="text-center">
      <h1 id="neilit" class="mb-0">NEILIT</h1>
    </div>
    <div class="text-center mb-2">
      <h2 id="slogan"><%= __('slogan')%></h2>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn-neilit" href="#!"><%= __('Learn More')%></a>
    </div>
  </div>
</div>

<!-- content web -->
<div class="container text-center mt-4">
  <h1><%= __('How Does Neilit Work?')%></h1>
  <span class="subtitle-sm"><%= __('Get the most out of your trading')%></span>
</div>

<div class="d-block mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-4 text-right border-orange-r">
        <h3>
          <span class="orange">1.</span>
          <%= __('Technical Analysis')%>
        </h3>
        <p class="hover-black">
          <%= __('Store all your ')%><span class="orange"><%= __('technical analysis in Neilit')%></span>
          <%= __(' to review you thought process whenever you want.')%>
        </p>
      </div>
      <div class="col-md-6 border-orange-l"></div>
    </div>
    <div class="row">
      <div class="col-md-6 border-orange-r"></div>
      <div class="col-md-6 border-orange-l">
        <h3>
          <span class="orange">2.</span>
          <%= __('Entry')%>
        </h3>
        <p class="hover-black">
          <%= __("Whenever you enter a trade save the operation parameters in Neilit. You'll be able to ")%>
          <span class="orange"><%= __('link your entry to a TA.')%></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-right border-orange-r">
        <h3>
          <span class="orange">3.</span>
          <%= __('Statistics')%>
        </h3>
        <p class="hover-black">
          <%= __('Know the detail of your operations through ')%>
          <span class="orange"><%= __('Neilit statistics')%></span>.
          <%= __(' Seeing your mistakes is the first step to avoid them.')%>
        </p>
      </div>
      <div class="col-md-6 border-orange-l"></div>
    </div>
    <div class="row">
      <div class="col-md-6 border-orange-r"></div>
      <div class="col-md-6 pb-2 border-orange-l">
        <h3>
          <span class="orange">4.</span>
          <%= __('Improvements')%>
        </h3>
        <p class="hover-black">
          <%= __('Apply the insights from Neilit statistics to your trading to ')%>
          <span class="orange"><%= __('improve you profitability')%></span>.
          <%= __(" We'll help you in the process.")%>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="d-block mt-4">
  <div class="jumbotron py-4">
    <div class="container text-center">
      <h2><%= __('Measure you data')%>. <%= __('Improve your results')%>.</h2>
      <p class="text-light mt-2">
        <%= __("With our statistics you'll gain intel on the strategies that better suit you methodology.")%>
        <%= __("This way you'll be able to focus on what works and keep improving.")%>
      </p>
      <a href="#!" class="btn-white"><%= __('Tutorial')%></a>
    </div>
  </div>
</div>

<div class="d-block">
  <div class="container">
    <h2 class="text-body"><%= __('Personalised Statistics')%></h2>
    <h3 class="text-center"><%= __('Obtain better profitability')%></h3>
    <div class="row d-flex justify-content-center mt-4">
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/search-orange.svg" class="icon-content">
        <h4><%= __('Filter throught Assets')%></h4>
        <p>
          <%= __('If you want to know the percentage of ')%><span class="orange"><%= __('won operations')%></span>
          <%= __(" of an asset, simply select it and you'll see that data instantly.")%>
        </p>

      </div>
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/swap-orange.svg" class="icon-content">
        <h4><%= __('Entry Direction')%></h4>
        <p>
          <%= __('Add the trade direction to your entry, ')%>
          <span class="orange"><%= __('long or short')%></span>,
          <%= __(' for your data to be more precise.')%>
        </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/calendar-orange.svg" class="icon-content">
        <h4><%= __('Custom Periods')%></h4>
        <p>
          <%= __('Filter through custom ')%><span class="orange"><%= __('from and to dates')%></span>
          <%= __('to get precise time period data.')%>
        </p>

      </div>
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/chart-orange.svg" class="icon-content">
        <h4><%= __('Trigger Patterns')%></h4>
        <p>
          <%= __('Know what ')%> <span class="orange"><%= __('patterns')%></span>
          <%= __(' are the ones that give you the ')%><span class="orange"><%= __('highest hit rate')%></span>
          <%= __(' and which ones are imprecise.')%>
        </p>
      </div>
    </div>
    <div class="d-none d-md-flex flex-column align-items-center">
      <img src="/imgs/icons/dots-orange.svg" class="icon-content">
      <h4><%= __('More')%></h4>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row d-flex flex-column text-center">
      <h2 class="text-body">
        Demo
        <span class="badge">Beta</span>
      </h2>
      <p class="m-2 px-3">
        <%= __("Create a simple personalised statistics with sample data and discover the Neilit's true potential.")%>
        <br>
        <%= __("Follow the steps and explore what you're able to do.")%>
      </p>
    </div>

    <!-- statistics demo -->
    <div class="row d-flex justify-content-center">
      <div class="col-10 col-lg-8 text-center mt-3 py-2" id="demo-statistics">
        <div class="text-center my-3 font-20">
          <span class="orange mr-2">1</span>
          <%= __("Select all the assets you want to disclose:")%>
        </div>
        <div class="row d-flex justify-content-center text-left mb-3">
          <div class="col-4">
            <label class="checkbox-orange" id="eurusd">
              EUR/USD
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="gbpusd">
              GBP/USD
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="audjpy">
              AUD/JPY
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="nzdjpy">
              NZD/JPY
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-4">
            <label class="checkbox-orange" id="usdjpy">
             USD/JPY
             <input type="checkbox">
             <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="cadjpy">
              CAD/JPY
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="audusd">
              AUD/USD
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="usdchf">
              USD/CHF
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="text-center my-3 font-20">
          <span class="orange mr-2">2</span>
          <%= __("Select a trade direction:")%>
        </div>
        <div class="row d-flex justify-content-center text-left mb-3">
          <div class="col-4">
            <label class="checkbox-orange" id="buy">
              <%= __("Long")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-4">
            <label class="checkbox-orange" id="short">
              <%= __("Short")%>
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="text-center my-3 font-20">
          <span class="orange mr-2">3</span>
          <%= __("What strategies were triggered in the operation?")%>
        </div>
        <div class="row d-flex justify-content-center text-left mb-3">
          <div class="col-8 col-md-4">
            <label class="checkbox-orange" id="trendline">
              <%= __("Bull Flag")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="zone">
              <%= __("Butterfly pattern")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="double-bottom">
              <%= __("Double Floor")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="double-top">
              <%= __("Double Top")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-8 col-md-4">
            <label class="checkbox-orange" id="triangle">
              <%= __("Triangle pattern")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="h&s">
              <%= __("Head & Shoulders")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="fibonacci">
              Fibonacci
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="butterfly">
              <%= __("Butterfly pattern")%>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="text-center d-flex flex-column font-20">
          <%= __("Percentage of won operations:")%>
          <span class="orange"><span id="winrate">-</span>%</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>

<%- include("./partials/footer-home") %>
