<%- include("./partials/header-home") %>

<div class="bg-orange py-1">
  <div class="w-100 row mx-auto d-flex align-items-center">
    <div class="col-4">
      <a href="/" class="text-light">
        <img src="/imgs/icons/arrow-left.svg" class="icon-content-xs">
        <%= __("Go Back") %>
      </a>
    </div>
    <div class="col-4">
      <h1 class="text-light text-center mb-0">NEILIT</h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <div class="d-none d-md-block text-light">
        <%= __('Not a member?') %>
        <a href="/signup" class="text-light ml-1 hover-white">
          <strong><%= __('Sign up') %></strong>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8 col-lg-5 mt-5 text-center">
      <h2 class="orange"><%= __("Welcome Back") %></h2>
      <p class="border-bottom pb-2 mb-3"><%= __("Log in into your account") %></p>
      <form method="POST" action="/login">
        <!-- email -->
        <input class="mb-3 pl-2" type="email" required="required" name="email" placeholder="<%= __("Email") %>">
        <!-- password -->
        <input class="mb-2 pl-2" type="password" required="required" name="password"placeholder="<%= __("Password") %>">
        <a href="/forgot-password" class="font-14 link-gris d-block"><%= __("Forgot your password?") %></a>
        <div class="mt-4 d-flex flex-row justify-content-center">
          <button class="btn-neilit" type="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("./partials/footer-home") %>
