<%- include("./partials/header-home") %>

<div class="bg-orange py-1">
  <div class="w-100 row mx-auto d-flex align-items-center">
    <div class="col-12">
      <h1 class="text-light text-center mb-0">NEILIT</h1>
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8 col-lg-5 mt-5 text-center">
      <h2 class="orange"><%= __('Reset Your Password') %></h2>
      <p class="border-bottom pb-2 mb-3"><%= __('To successfully reset you password you must confirm it') %></p>
      <form method="POST" action="/reset/<%= token %>">
        <!-- password -->
        <input class="mb-3 pl-2" type="password" required="required" name="password" placeholder="<%= __('New Password') %>">
        <!-- confirm password -->
        <input class="mb-2 pl-2" type="password" required="required" name="confirmPassword" placeholder="<%= __('Confirm Password') %>">
        <a href="/login" class="font-14 link-gris d-block"><%= __('Back to log in') %></a>
        <div class="mt-4 d-flex flex-row justify-content-center">
          <button class="btn-neilit" type="submit"><%= __('Update Password') %></button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("./partials/footer-home") %>
