<%- include("./partials/header-home") %>

<div class="bg-orange py-1">
  <div class="w-100 row mx-auto d-flex align-items-center">
    <div class="col-4">
      <a href="/" class="text-light">
        <img src="/imgs/icons/arrow-left.svg" class="icon-content-xs">
        <%= __('Go Back') %>
      </a>
    </div>
    <div class="col-4">
      <h1 class="text-light text-center mb-0">NEILIT</h1>
    </div>

    <div class="col-4 d-flex justify-content-end">
      <div class="d-none d-md-block text-light">
        <%= __('Already a member?') %>
        <a href="/login" class="text-light ml-1 hover-white">
          <strong><%= __('Log in') %></strong>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
  <div class="row d-flex justify-content-center">
    <!-- NOTE: adjust the bootstrap class to change dimensions across different screens -->
    <div class="col-10 col-md-8 col-lg-5 mt-5 text-center">
      <h2 class="orange"><%= __('Join Neilit') %></h2>
      <p class="border-bottom pb-2 mb-3"><%= __('Create a new account') %></p>
      <form method="POST" action="/signup">
        <!-- first name -->
        <input class="mb-3 pl-2" type="text" required="required" name="name" value="" placeholder="<%= __('First Name') %>">
        <!-- last name -->
        <input class="mb-3 pl-2" type="text" required="required" name="surname"placeholder="<%= __('Last Name') %>">
        <!-- username -->
        <input class="mb-3 pl-2" type="text" required="required" name="username" placeholder="<%= __('Username') %>">
        <!-- email -->
        <input class="mb-3 pl-2" type="email" required="required" name="email" placeholder="<%= __('Email') %>">
        <!-- password -->
        <input class="mb-3 pl-2" type="password" required="required" name="password" placeholder="<%= __('Password') %>">
        <!-- confirm password -->
        <input class="mb-3 pl-2" type="password" required="required" name="confirmPassword" placeholder="<%= __('Confirm Password') %>">
        <!-- base currency -->
        <div class="dropright">
          <input class="mb-3 pl-2" id="dd" class="dropdown-select" data-toggle="dropdown" type="text" required="required" name="base" placeholder="<%= __("Account's Base Currency") %>" readonly>
          <ul class="dropdown-menu" aria-labelledby="dd">
            <li>USD</li>
            <li>EUR</li>
            <li>CAD</li>
            <li>JPY</li>
            <li>GBP</li>
            <li>CHF</li>
            <li>AUD</li>
          </ul>
        </div>
        <!-- account balance -->
        <input class="mb-3 pl-2" type="number" required="required" name="balance" placeholder="<%= __('Account Balance') %>" min="0" step="0.01">
        <a href="/login" class="font-14 link-gris d-block mb-2"><%= __('Already a member?') %> <%= __('Log in') %></a>
        <!-- Boton -->
        <div class="mt-4">
          <button class="btn-neilit" type="submit"><%= __('Continue') %></button>
        </div>
        <div class="mt-3 font-13 color-gris">
          <%= __("By clicking “Next step” above, you acknowledge that you have read and understood, and agree to Neilit's") %>
          <a href="#" class="link-gris"><ins><%= __('Terms & Conditions') %><ins></a> <%= __('and') %> <a href="#" class="link-gris"><ins><%= __('Privacy Policy') %></ins></a>.
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("./partials/footer-home") %>
