<%- include("../partials/header-calculator") %>

  <!-- CONTENT -->
  <div class="pt-4 mx-4">
    <section id="calculator">
      <div class="container">
        <h2><%= __('Position Size Calculator') %></h2>
        <% if (currentUser.currency_id == null) { %>
          <div id="local-alert">
            <div class="alert alert-danger mt-2" role="alert">
              <%= __('To use position size calculator you must first select you account currenty inside settings.') %>
            </div>
          </div>
        <% } %>
        <div class="journal-box px-0 w-50">
          <h3 class="mx-3"><%= __('Account information') %></h3>
          <hr>
          <div class="mx-3">
            <input id="base" type="text" value="<%= currency %>" class="d-none">
            <input id="account-size" class="d-block px-2 mb-2 w-100 py-1" type="number" min="0" placeholder="<%= __('Account size') %>">
            <input id="ops-risk" class="d-block px-2 mb-2 w-100 py-1" type="number" min="0" placeholder="<%= __('Risk in %') %>">
            <div class="separator"><%= __('or') %></div>
            <input id="trade-size" class="d-block px-2 mb-2 w-100 py-1" type="number" min="0" placeholder="<%= __('Amount at risk') %>">
          </div>
          <br>
          <h3 class="mx-3"><%= __('Trade information') %></h3>
          <hr>
          <div class="mx-3">
            <input id="sl-pip" class="d-block px-2 mb-2 w-100 py-1" type="number" min="0" placeholder="<%= __('Stop-Loss distance in Pips') %>">
          </div>
          <br>
          <h3 class="mx-3"><%= __('Asset') %></h3>
          <hr>
          <div class="mb-0 mx-3">
            <!--Dropdown temporalidad widget-->
            <div class="dropdown">
              <button id="dropdown-label" class="dropdown-select w-100 text-left py-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= currencies[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input id="dropdown-search" class="p-2 w-100" type="text" placeholder="Search..." onkeyup="searchDropdown()">
                <% for (var i = 0; i < currencies.length; i++) { %>
                  <li><%= currencies[i] %></li>
                <% } %>
              </ul>
            </div>
            <div class="mt-3">
              <button type="button" class="btn-inverted" onclick="changePair('EUR/USD')">EUR/USD</button>
              <button type="button" class="btn-inverted" onclick="changePair('USD/JPY')">USD/JPY</button>
              <button type="button" class="btn-inverted" onclick="changePair('GBP/USD')">GBP/USD</button>
              <button type="button" class="btn-inverted" onclick="changePair('USD/CAD')">USD/CAD</button>
              <button type="button" class="btn-inverted" onclick="changePair('AUD/USD')">AUD/USD</button>
            </div>
          </div>
          <br>
          <h3 class="mx-3"><%= __('Result') %></h3>
          <hr>
          <div class="mx-3">
            <p class="d-inline"><%= __('Size of the trade in lots') %>:</p>
            <strong><span id="lots-size" class="bg-grey orange px-2"></span></strong>
          </div>
          <div class="mx-3">
            <p class="d-inline"><%= __('Size of the trade in units') %>:</p>
            <strong><span id="units-size" class="bg-grey orange px-2"></span></strong>
          </div>
          <div class="d-flex justify-content-end mx-3 mt-2">
            <button class="btn-neilit" onclick="calcRisk()"><%= __('Calculate') %></button>
          </div>
        </div>
      </div>
    </section>
  </div>

<script type="text/javascript">
  var currencies = <%- JSON.stringify(currencies) %>;
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-calculator") %>
