<%- include("../partials/header-journal") %>

  <!-- CONTENT -->
  <div class="mt-3 mx-4">
    <section id="journal">
      <div class="container">
        <h2>Diario</h2>
        <div class="row mb-4">

          <!-- ENTRIES -->
          <div class="col-5">
            <div class="journal-box">
              <a href="/username/journal/entry">
                <h3 class="mb-0">Últimas entradas</h3>
              </a>
              <hr>
              <div class="input-group">
                <% entries.title.forEach((entry, i) => { %>
                  <a class="journal-link" href="/username/journal/entry/<%= entries.id[i] %>"><%= entry %></a>
                <% }); %>
              </div>
              <br>
              <h3 class="mb-0">Crear una entrada</h3>
              <hr>
              <form class="d-flex flex-column" action="journal/entry/new">
                <select name="pair" class="custom-select py-1">
                  <!-- FIXME: passing the PAIR id is probably off by 1 -->
                  <% for (var i = 0; i < pairs.length; i++) { %>
                    <option value="<%= i %>"><%= pairs[i] %></option>
                  <% } %>
                </select>
                <div class="mx-auto my-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="entry-direction" type="radio" id="new-entry-buy" value="1" onclick="createEntryDirection(this.value)">
                    <label class="form-check-label" for="new-entry-buy">Compra</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="entry-direction" type="radio" id="new-entry-sell" value="2" onclick="createEntryDirection(this.value)">
                    <label class="form-check-label" for="new-entry-sell">Venta</label>
                  </div>
                </div>
                <input type="submit" value="Continuar" class="btn-neilit">
              </form>
            </div>
          </div>

          <!-- TECHNICAL ANALYSIS -->
          <div class="col-7">
            <div class="journal-box">
              <h3 class="mb-0">Análisis técnico</h3>
              <hr>
              <div class="input-group">
                <% tas.title.forEach((ta, i) => { %>
                  <a class="journal-link" href="/username/journal/ta/<%= tas.id[i] %>"><%= ta %></a>
                <% }); %>
              </div>
              <br>
              <h3 class="mb-0">Nuevo análisis técnico</h3>
              <hr>
              <form class="d-flex flex-column" action="/username/journal/ta/new">
                <select class="custom-select py-1 mb-2">
                  <!-- FIXME: passing the PAIR id is probably off by 1 -->
                  <% for (var i = 0; i < pairs.length; i++) { %>
                    <option value="<%= i %>"><%= pairs[i] %></option>
                  <% } %>
                </select>
                <input type="submit" value="Continuar" class="btn-neilit">
              </form>
            </div>
          </div>

        </div>

        <!-- COMMENTS -->
        <div class="row mb-4">
          <div class="col-12">
            <div class="journal-box">
              <a href="/username/journal/comment">
                <h3 class="mb-0">Últimos comentarios</h3>
              </a>
              <hr>
              <table>
                <% comments.date.forEach((date, index) => { %>
                  <tr>
                    <td class="comment-date pr-3"><%= date %></td>
                    <td><a class="journal-link" href="/username/journal/comment/<%= comments.id[index] %>"><%- comments.content[index] %></a></td>
                  </tr>
                <% }) %>
              </table>
              <br>
              <form class="d-flex flex-column" action="/<%= currentUser.username %>/journal/comment/new">
                <input type="submit" class="btn-neilit" value="Continuar">
              </form>
            </div>
          </div>
        </div>

        <div class="row mb-4">

          <!-- BACKTESTING -->
          <div class="col-4">
            <div class="journal-box">
              <h3 class="mb-0">Backtesting</h3>
              <hr>
              <p>Conoce el comportamiento de los activos.</p>
              <br>
              <form class="d-flex flex-column">
                <input type="submit" class="btn-neilit" value="Continuar">
              </form>
            </div>
          </div>

          <!-- STRATEGY  -->
          <div class="col-8">
            <div class="journal-box">
              <h3 class="mb-0">Creación de estrategias</h3>
              <hr>
              <p>Prueba nuevas estrategias y conoce su posible rentabilidad. Compárala con tus otras estrategias.</p>
              <form class="d-flex flex-column">
                <input type="submit" class="btn-neilit" value="Continuar">
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-journal") %>
