<%- include("../partials/header-plan") %>

  <!-- CONTENT -->
  <div class="pt-4 mx-4">
    <section id="trading-plan">
      <div class="container">
        <h2><%= __('Trading Plan') %></h2>
        <div class="journal-box px-0">
        <% plans.id.forEach((plan, i) => { %>
          <div class="d-flex justify-content-between plan-box mx-3 mb-3">
            <div class="d-flex align-items-center">
              <h3 class="m-1"><%= plans.title[i] %></h3>
              <span class="mx-2">-</span>
              <span><%= plans.date[i] %></span>
            </div>
            <div class="d-flex align-items-center">
              <a href="/<%= currentUser.username %>/plan/<%= plan %>" class="btn-neilit d-inline mr-2 px-2">
                <img src="/imgs/icons/visibility-white.svg" alt="show">
              </a>
              <form action="/<%= currentUser.username %>/plan/<%= plan %>?_method=DELETE" method="POST">
                <button type="submit" class="btn-neilit d-inline mr-2 px-2">
                  <img src="/imgs/icons/delete-white.svg" alt="delete">
                </button>
              </form>
            </div>
          </div>
        <% }) %>
          <div class="d-flex mx-3">
            <a href="/<%= currentUser.username %>/plan/components/" class="btn-neilit"><%= __('New') %></a>
          </div>
        </div>
      </div>
    </section>
  </div>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-plan") %>
