<%- include("../partials/header-psychology") %>

<!-- CONTENT -->
<div class="mx-2 mx-lg-4">
  <section>
    <div class="container">
      <h2 class="mx-auto">
        <%= __('Trading Psychology Tips') %>
        <img src="/imgs/icons/help.svg" class="d-inline align-top image-tooltip" data-toggle="tooltip" data-placement="right" title="<%= __('psychology tooltip') %>">
      </h2>
      <div class="journal-box px-0 mx-auto mb-5">
        <ol class="pt-2">
          <li>
            <p>
              <%= __('It is') %> <span class="orange"><%= __('more important to make money') %></span> <%= __('than to') %> <span class="orange"><%= __('be right') %></span>. <%= __('Therefore, there is nothing too expensive or too cheap') %>.
              <%= __('Ever. Remember that oil went down to negative on 2020') %>.
            </p>
          </li>
          <li>
            <p>
              <%= __('A game plan is a must. Before entering any operation, you have to know where will you take profit and where will you place your stop loss') %>.
              <%= __('And it has to be as objective as possible') %>.
            </p>
          </li>
          <li>
            <p>
              <span class="orange"><%= __('Trust your edge') %>.</span> <%= __('You will have 4 losing trades in a row and it is okay') %>. <span class="orange">
              <%= __('Do not change your attitude') %></span> <%= __('towards trading. This is how a profit graph could potentially look') %>:<img src="/imgs/profit_graph.png" alt="Profits Graph">
            </p>
          </li>
          <li>
            <p>
              <%= __('Be aware that') %> <span class="orange"><%= __('being uncomfortable when trading is completely okay') %></span>. <%= __('It will never get easier') %>.
              <%= __('You have to incomplete information; therefore, you will never be 100% comfortable') %>.
            </p>
          </li>
          <li>
            <p>
              <span class="orange"><%= __('Do not') %></span> <%= __('try to make money by catching tops and bottoms') %>.
            </p>
          </li>
          <li>
            <p>
              <%= __('Always remember that you, as a trader, also have the') %> <span class="orange"><%= __('right to make money') %></span> (<%= __('inner psychology') %>).
            </p>
          </li>
          <li>
            <p>
              <span class="orange"><%= __('Do not') %></span> <%= __('be scared to change sides in the middle of a trade. Switch your directional bias when convenient and necessary') %>.
              <%= __('Do not marry a side') %>.
            </p>
          </li>
          <li>
            <p>
              <span class="orange"><%= __('Do not FOMO') %>!</span> <%= __('The market will open again tomorrow. It does not make sense to beat yourself over missing on something') %>.
              <span class="orange"><%= __('New opportunities will come') %>.</span>
            </p>
          </li>
          <li>
            <p>
              <%= __('Do not') %> <span class="orange"><%= __('EVER EVER EVER') %></span> <%= __('add to a losing position') %>.
            </p>
          </li>
          <li>
            <p>
              <%= __('Cash is the goal. But never the measure of success. For instance, a measure of success would be') %>: <span class="orange"><%= __('did I follow my rules today') %>?</span>
              <%= __('Even if it is a negative day in terms of cash flows it can still be a successful day') %>.
            </p>
          </li>
          <li>
            <p>
              <span class="orange"><%= __('Read the right side of the chart instead of the left') %></span> (<%= __('it takes practice') %>). <%= __('Everybody knows how to see a Head and Shoulders after it has formed') %>.
              Start by trying to anticipate the next candles of your most traded asset.
            </p>
          </li>
          <li>
            <p>
              <%= __('You should be able to explain your edge to someone else in an elevator ride') %>. <span class="orange"><%= __('Otherwise you do not have an edge') %></span>.
            </p>
          </li>
          <li>
            <p>
              <%= __('Losing a trade does not make you a loser') %>.
            </p>
          </li>
          <li>
            <p>
              <%= __('The original conviction on an active trade') %> <span class="orange"><%= __('must remain') %></span> <%= __('unless something major changes') %>.
            </p>
          </li>
        </ol>
        <div class="d-flex justify-content-end mx-3">
          <button class="btn-neilit" onclick="goBack()"><%= __('Back') %></button>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include("../partials/footer-psychology") %>
