<%- include("../partials/header-settings") %>

  <div class="bg-orange py-2">
    <div class="w-100 row mx-auto d-flex align-items-center">
      <div class="col-6">
        <a href="#!" class="text-light" id="back">
          <p class="m-0 p-0 mr-2"><%= __('Back') %></p>
        </a>
      </div>
    </div>
  </div>
  <!-- error -->
  <div id="error-alert" class="container d-none">
    <div id="error-text" class="alert alert-danger mt-2" role="alert">
      <span></span>
    </div>
  </div>
  <!-- loading spinner -->
  <div class="modal" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center my-3">
    <ul class="nav containerMenuSettings d-flex flex-row justify-content-center">
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#profile" data-toggle="tab">
          <%= __('Profile') %>
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#accountBilling" data-toggle="tab">
          <%= __('Account and Billing') %>
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#settings" data-toggle="tab">
          <%= __('Settings') %>
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#customization" data-toggle="tab">
          <%= __('Customization') %>
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#helpSupport" data-toggle="tab">
          <%= __('Help and Support') %>
        </a>
      </li>
    </ul>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <!-- tabs content -->
    <div class="tab-content">
      <!-- flash messages -->
      <% if (error && error.length > 0) { %>
        <div id="flash-alert" class="container px-0">
          <div class="alert alert-danger mt-2" role="alert">
            <%= error %>
          </div>
        </div>
      <% } %>
      <% if (success && success.length > 0) { %>
        <div id="flash-alert" class="container px-0">
          <div class="alert alert-success mt-2" role="alert">
            <%= success %>
          </div>
        </div>
      <% } %>
      <!-- profile -->
      <div role="tabpanel" class="tab-box tab-pane" id="profile">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">

            <div class="w-50 mx-5 my-4">
              <h4 class="pb-1 mb-3"><%= __('Private Information') %></h4>
                <!-- Name -->
                <div class="mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0"><%= __('First Name') %></h5>
                  <p class="mb-0 pb-0 font-16"><%= currentUser.name %></p>
                </div>
                <!-- Last name -->
                <div class="mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0"><%= __('Last Name') %></h5>
                  <p class="mb-0 pb-0 font-16"><%= currentUser.surname %></p>
                </div>
                <!-- Email -->
                <div class="mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0"><%= __('Email') %></h5>
                  <p class="mb-0 pb-0 font-16"><%= currentUser.email %></p>
                </div>
                <!-- Password -->
                <div class="mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0"><%= __('Password') %></h5>
                  <a href="/forgot-password" class="bg-hover mb-0 pb-0 px-1 font-16">Change password</a>
                </div>
            </div>

            <div class="w-50 mx-5 my-4">
              <h4 class="pb-1 mb-3"><%= __('Public Information') %></h4>
              <!-- Profile Picture -->
              <div class="mb-2 d-flex flex-row justify-content-center">
                <div class="profile-container">
                  <% if (profilePicture != null) { %>
                    <img src="<%= profilePicture %>" class="profile-picture mx-auto mb-2" alt="profile picture">
                  <% } else { %>
                    <img src="/imgs/icons/face.svg" class="profile-default profile-picture mx-auto mb-2" alt="profile picture">
                  <% } %>
                  <div class="profile-btn">
                    <form id="profile-image-form" action="/<%= currentUser.username %>/settings/uploadProfileImage" method="POST" enctype="multipart/form-data">
                      <input id="profile-input" type="file" name="profileImage" class="d-none">
                      <button id="profile-upload" type="button" class="btn-neilit">Change Image</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Username -->
              <div class="mb-2 d-flex flex-row justify-content-between align-items-baseline">
                <h5 class="mb-0 pb-0"><%= __('Username') %></h5>
                <p class="mb-0 pb-0 font-16">@<%= currentUser.username %></p>
              </div>
            </div>
          </div>
          <hr class="profile">
          <div class="text-center mt-3 mb-3">
            <a id="logout" href="/logout" class="p-1 px-2 font-16"><%= __('Sign off') %></a>
          </div>
        </div>
      </div>

      <!-- account & billing -->
      <div role="tabpanel" class="tab-box tab-pane" id="accountBilling">
        <% if (0) { %>
          <div class="bg-orange d-flex flex-column text-center py-5 containerOferta">
            <!-- promotion board -->
            <h2 class="text-light">Get 6 months free!</h2>
            <h5 class="text-light">Switch to the annual plan and save $60. You will have access to exclusive features.</h5>
          </div>
        <% } %>
        <div class="d-flex justify-content-between">
          <div class="w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3"><%= __('My Plan') %></h4>
            <div class="d-flex flex-row justify-content-between align-items-baseline mb-2">
              <h5 class="mb-1"><%= role.toUpperCase() %></h5>
              <a href="/plans" class="d-none bg-hover px-1 font-16"><%= __('What does the plan include?') %></a>
            </div>
            <% if (currentUser.role_id == 2) { %>
              <div class="d-flex flex-row justify-content-between align-items-baseline">
                <h5 class="mb-1"><%= __('Next invoice') %></h5>
                <!-- Poner los dias que de verdad faltan para cada usuario -->
                <p href="#!" class="mb-0 pb-0 font-16 grey"><%= Math.round((new Date(next * 1000) - new Date()) / (24 * 60 * 60 * 1000)) %> <%= __('days') %></p>
              </div>
            <% } %>
            <div class="d-none text-right mt-3">
              <a href="/<%= currentUser.username %>/settings/change-plan" class="btn-inverted font-16">
                <%= __('Change plan') %>
              </a>
            </div>
          </div>
          <div class="w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3"><%= __('Payment method') %></h4>
            <% if (currentUser.role_id == 2) { %>
              <div class="d-flex align-items-center">
                <img src="/imgs/icons/payment.svg" class="img-md mr-2">
                <p class="mb-0 pb-0 mr-2 font-16">*<%= last %></p>
                <img src="/imgs/icons/lock.svg" class="img-sm mr-2" data-toggle="tooltip" data-placement="right" title="<%= __('This are the last 4 digits of the card that is currently used for billing') %>.">
              </div>
              <div class="text-right">
                <a href="/<%= currentUser.username %>/settings/update-payment" class="bg-hover mb-2 px-1 font-14"><%= __('Change payment method') %></a>
              </div>
              <div class="d-flex align-items-center">
                <h5 class="mb-0 mr-2"><%= __('Billing Interval') %></h5>
                <p class="mb-0 font-16"><%= __('Monthly') %></p>
              </div>
              <div class="d-flex align-items-center">
                <h5 class="mb-0 mr-2"><%= __('Invoice Amount') %></h5>
                <!-- Poner el precio de cada usuario -->
                <p class="mb-0 font-16"><%= amount/100 %>€</p>
              </div>
            <% } %>
          </div>
        </div>
      </div>

      <!-- settings -->
      <div role="tabpanel" class="tab-box tab-pane" id="settings">
        <div class="d-flex justify-content-between">
          <div class="text-left w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3"><%= __('Account Configuration') %></h4>
            <div class="d-flex flex-row justify-content-between align-items-center mb-2">
              <div>
                <h5 class="mb-0 mr-2"><%= __('Account currency') %></h5>
              </div>
              <!--dropdown-->
              <div class="dropdown">
                <button id="dd" class="currency dropdown-select font-16" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= currencies[currentUser.currency_id - 1] %>
                </button>
                <ul id="currency" class="dropdown-menu" aria-labelledby="dd">
                  <% currencies.forEach((currency) => { %>
                    <li><%= currency %></li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <div class="mb-2 d-flex flex-row justify-content-between align-items-center">
              <h5 class="mb-0 mr-2 d-block"><%= __('Initial balance') %></h5>
              <input type="text" id="initial-balance" class="font-16 text-right" value="<%= currentUser.balance %>" readonly>
            </div>
            <!-- show profits in entry -->
            <div class="d-flex flex-row justify-content-between align-items-center mb-2">
              <h5 class="mb-0 mr-2 w-100"><%= __('Show profits inside entries') %></h5>
              <label class="switch mb-0">
                <input id="show-profits" type="checkbox"
                <% if (currentUser.showProfits) { %>
                  checked
                  <% } %>
                  >
                  <span class="slider round"></span>
                </label>
              </div>
              <!-- dark mode -->
              <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                <h5 class="mb-0 mr-2 w-100"><%= __('Dark mode') %></h5>
                <label class="switch mb-0">
                <input id="dark" type="checkbox"
                  <% if (currentUser.darkMode) { %>
                    checked
                  <% } %>
                >
                <span class="slider round"></span>
              </label>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mb-2">
              <div>
                <h5 class="mb-0 mr-2"><%= __('Language') %></h5>
              </div>
              <!--dropdown-->
              <div class="dropdown">
                <button id="dd" class="language dropdown-select font-16" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if (currentUser.language == 'en') { %>
                    <%= __('English') %>
                  <% } else { %>
                    <%= __('Spanish') %>
                  <% } %>
                </button>
                <ul id="language" class="dropdown-menu" aria-labelledby="dd">
                  <li onclick="changeLanguage('es')"><%= __('Spanish') %></li>
                  <li onclick="changeLanguage('en')"><%= __('English') %></li>
                </ul>
              </div>
            </div>
            <div class="pt-4">
              <h4 class="pb-1 mb-2">
                <%= __('Premade Assets') %>
                <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="top" title="<%= __('Add or remove our premade assets to your list. Get more info on premade assets on resources') %>">
              </h4>
              <!-- forex -->
              <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                <h5 class="mb-0 mr-2 w-100"><%= __('Include Forex assets') %></h5>
                <label class="switch mb-0">
                  <input id="forex" type="checkbox"
                    <% if (currentUser.has_forex) { %>
                      checked
                    <% } %>
                  >
                  <span class="slider round"></span>
                </label>

              </div>
              <!-- crypto -->
              <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                <h5 class="mb-0 mr-2 w-100"><%= __('Include Crypto assets') %></h5>
                <label class="switch mb-0">
                  <input id="crypto" type="checkbox"
                    <% if (currentUser.has_crypto) { %>
                      checked
                    <% } %>
                  >
                  <span class="slider round"></span>
                </label>
              </div>

            </div>
            <div class="pt-4">
              <h4 class="pb-1 mb-2">
                <%= __('Custom Assets') %>
                <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="top" title="<%= __('Add the assets you trade if we don\'t have them') %>">
              </h4>
              <!-- custom assets -->
              <div class="d-flex align-items-center">
                <input id="asset-name" type="text" placeholder="<%= __('New asset') %>" class="font-16 mr-2">
                <!--dropdown-->
                <div class="dropdown mx-auto">
                  <button id="dd" class="asset dropdown-select font-16" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Forex
                  </button>
                  <ul class="dropdown-menu cateogry" aria-labelledby="dd">
                    <li>Forex</li>
                    <li>Crypto</li>
                    <li>Stock</li>
                    <li>Futures</li>
                    <li>CDF</li>
                    <li>Index</li>
                  </ul>
                </div>
              </div>
              <button id="create-asset" type="button" class="mt-2 btn-neilit py-0"><%= __('Create asset') %></button>
              <ul id="listAsets" class="pl-0 list">
                <% customAssets.forEach((asset) => { %>
                  <li class="mt-2 py-0 font-16 asset-li">
                    <span class="asset-name"><%= asset.pair %></span>
                    <button type="button" class="float-right asset-delete" onclick="deleteAsset(this)">
                      <img class="icon-20" src="/imgs/icons/delete.svg">
                    </button>
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
          <!-- Goals! -->
          <div class="text-left w-50 mx-5 my-4">
            <div class="mb-3">
              <h4 class="pb-1 mb-2">
                <%= __('Current Goals') %>
                <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="<%= __('Add up to 5 goals to your Neilit account') %>">
              </h4>
              <input type="text" id="addGoal" placeholder="<%= __('New Goal') %>" class="w-100 font-16">
              <!-- Up to 5 goals -->
              <ul id="listGoals" class="pl-0 list">
                <% goals.forEach((goal) => { %>
                  <li class="mt-2 py-0 font-16 goal-li">
                    <span class="goal"><%= goal %></span>
                    <button type="button" class="float-right goal-delete" onclick="deleteGoal(this)">
                      <img class="icon-20" src="/imgs/icons/delete.svg">
                    </button>
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="pt-4">
              <div class="d-block flex-row justify-content-between">
                <h4 class="pb-1 mb-3">
                  <%= __('Strategies') %>
                  <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="<%= __('tooltip-delete-strategy') %>">
                </h4>
              </div>
              <input type="text" id="addStrategy" placeholder="<%= __('New Strategy') %>" class="w-100 font-16">
              <!-- all strategies -->
              <ul id="listStrategy" class="pl-0 list">
                <% strategies.forEach((strategy) => { %>
                  <li class="mt-2 py-0 strategy-li">
                    <span class="strategy"><%= strategy %></span>
                    <button type="button" class="float-right strategy-delete" onclick="deleteStrategy(this)">
                      <img class="icon-20" src="/imgs/icons/delete.svg">
                    </button>
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- customization -->
      <div role="tabpanel" class="tab-box tab-pane" id="customization">
        <div class="d-flex flex-column py-5 text-center align-items-center">
          <a href="!#"></a>
          <h2 class="mx-auto orange w-50 mb-4"><%= __('We Are Currently Working On This Page') %></h2>
          <span class="w-50 mt-3 grey"><%= __('To know more about what we are working on, you can visit our') %> <a href="/features" class="bg-hover px-1"><%= __('next updates') %></a>.</span>
        </div>
      </div>

      <!-- help & support -->
      <div role="tabpanel" class="tab-box tab-pane" id="helpSupport">
        <div class="d-flex justify-content-between">
          <div class="w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3">
              <%= __('FAQs') %>
              <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="<%= __('Frequently Asked Question(s)') %>'">
            </h4>
            <div class="d-flex flex-column">
              <a href="/resources/create-entry" class="FAQ pl-1 mb-1 bg-hover font-16"><%= __('How to create an entry?') %></a>
              <a href="/resources/create-backtest" class="FAQ pl-1 mb-1 bg-hover font-16"><%= __('How to backtest?') %></a>
              <a href="/resources/add-strategies" class="FAQ pl-1 mb-1 bg-hover font-16"><%= __('How to add strategies?') %></a>
              <a href="/resources/link-technical-analysis-to-entry" class="FAQ pl-1 mb-1 bg-hover font-16"><%= __('Link a technical analysis to an entry') %></a>
              <a href="/resources/create-technical-analysis" class="FAQ pl-1 mb-1 bg-hover font-16"><%= __('How to create a technical analysis?') %></a>
              <a href="/resources/manage-assets" class="FAQ pl-1 mb-1 bg-hover font-16"><%= __('Learn how to manage your assets') %></a>
            </div>
          </div>

          <div class="w-50 mx-5 my-4">
            <div class="mb-4">
              <h4 class="pb-1 mb-3"><%= __('Ask Us') %></h4>
              <span class="grey font-16">
                <%= __('Send a message to') %>
                <a href="#"><%= __('support@neilit.com') %></a>
                <%= __('and we will help you as soon as possible') %>.
              </span>
            </div>

            <div class="">
              <h4 class="pb-1 mb-3"><%= __('Resources') %></h4>
              <span class="grey font-16">
                <%= __("Solve all your doubts at the moment. You will find most of Neilit's functions described in depth") %>.
              </span>
              <div class="d-flex flex-row justify-content-center mt-4">
                <a href="/resources" class="bg-hover px-1 font-16 change-plan">
                  <%= __('Go to Resources') %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  var username    = <%- JSON.stringify(currentUser.username) %>;
  var strategies  = <%- JSON.stringify(strategies) %>;
</script>

<%- include("../partials/footer-settings") %>
