<%- include("../partials/header-settings") %>

  <div class="bg-orange py-2">
    <div class="w-100 row mx-auto d-flex align-items-center">
      <a href="javascript:history.back()" class="text-light">
      <div class="col-4 d-flex flex-row">
        <img src="/imgs/icons/arrow-left.svg" class="align-middle">
        <p class="m-0 p-0">Back</p>
      </div>
      </a>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-center my-3">
    <ul class="nav containerMenuSettings d-flex flex-row justify-content-center">
      <li class="nav-item p-0">
        <a class="nav-link active" role="tab" href="#profile" data-toggle="tab">
          Profile
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#accountBilling" data-toggle="tab">
          Account and Billing
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#settings" data-toggle="tab">
          Settings
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#customization" data-toggle="tab">
          Customization
        </a>
      </li>
      <li class="nav-item p-0">
        <a class="nav-link" role="tab" href="#helpSupport" data-toggle="tab">
          Help and Support
        </a>
      </li>
    </ul>
  </div>

  <div class="d-flex justify-content-center">
    <!-- tabs content -->
    <div class="tab-content">
      <!-- profile -->
      <div role="tabpanel" class="tab-box tab-pane active" id="profile">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between">

            <div class="w-50 mx-5 my-4">
              <h4 class="pb-1 mb-3">Private Information</h4>
                <!-- Name -->
                <div class="container-info-settings mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0">First Name</h5>
                  <p class="mb-0 pb-0 font-16"><%= currentUser.name %></p>
                </div>
                <!-- Last name -->
                <div class="container-info-settings mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0">Last Name</h5>
                  <p class="mb-0 pb-0 font-16"><%= currentUser.surname %></p>
                </div>
                <!-- Email -->
                <div class="container-info-settings d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0">Email</h5>
                  <p class="mb-0 pb-0 font-16"><%= currentUser.email %></p>
                </div>
                <div class="mb-2 d-flex flex-row justify-content-end">
                  <a href="#" class="mb-0 pb-0 pr-2 font-14">Change email</a>
                </div>
                <!-- Password -->
                <div class="container-info-settings mb-2 d-flex flex-row justify-content-between align-items-baseline">
                  <h5 class="mb-0 pb-0">Password</h5>
                  <a href="#" class="mb-0 pb-0 pr-1 font-16">Change password</a>
                </div>
            </div>

            <div class="w-50 mx-5 my-4">
              <h4 class="pb-1 mb-3"> Public Information </h4>
              <!-- Profile Picture -->
              <div class="mb-2 d-flex flex-row justify-content-center align-items-baseline">
                <!-- // DEBUG: hacer que cuando hagas hover aparezca texto encima con un color negro al 25% para cambiar la imagen. -->
                <a href="#">
                  <img src="/imgs/icons/face.svg" class="profile-picture mb-2" alt="profile picture">
                </a>
              </div>
              <!-- Username -->
              <div class="container-info-settings mb-2 d-flex flex-row justify-content-between align-items-baseline">
                <h5 class="mb-0 pb-0">Username</h5>
                <p class="mb-0 pb-0 font-16">@<%= currentUser.username %></p>
              </div>
            </div>
          </div>
          <hr class="profile">
          <div class="text-center mt-3 mb-3">
            <a href="/logout" class="btn-logout font-16">Sign off</a>
          </div>
        </div>
      </div>

      <!-- account & billing -->
      <div role="tabpanel" class="tab-box tab-pane" id="accountBilling">
        <div class="bg-orange d-flex flex-column text-center py-5 containerOferta">
          <h2 class="text-light">Get 6 months free!</h2>
          <h5 class="text-light">Switch to the annual plan and save $ 60. You will have access to exclusive features.</h5>
        </div>
        <div class="d-flex justify-content-between">
          <div class="w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3">My Plan</h4>
            <div class="container-info-settings d-flex flex-row justify-content-between align-items-baseline mb-2">
              <h5 class="mb-1">Neilit Pro</h5>
              <a href="#!" class="orange font-16">What does the plan include?</a>
            </div>
            <div class="container-info-settings d-flex flex-row justify-content-between align-items-baseline">
              <h5 class="mb-1">Remaining days</h5>
              <!-- Poner los dias que de verdad faltan para cada usuario -->
              <p href="#!" class="mb-0 pb-0 font-16 grey" id="#remaining-days">14 days</p>
            </div>
            <div class="mb-2 d-flex flex-row justify-content-end">
              <a href="#" class="mb-0 pb-0 pr-2 font-14">Cancel automatic renewal</a>
            </div>
            <div class="d-flex flex-row justify-content-center mt-4">
              <a href="#" class="font-16 change-plan">
                Change plan
              </a>
            </div>
          </div>
          <div class="w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3">Payment method</h4>
            <div class="container-info-settings d-flex align-items-center">
              <img src="/imgs/icons/payment.svg" class="img-md mr-2">
              <p class="mb-0 pb-0 mr-2 font-16">*9872</p>
              <img src="/imgs/icons/lock.svg" class="img-sm mr-2" data-toggle="tooltip" data-placement="right" title="Mensaje sobre seguridad del metodo de pago">
            </div>
            <div class="d-flex flex-row justify-content-end">
              <a href="#!" class="mb-2 font-14">Change payment method</a>
            </div>
            <div class="container-info-settings d-flex align-items-center">
              <h5 class="mb-0 mr-2">Billing Interval</h5>
              <p class="mb-0 font-16">Monthly</p>
            </div>
            <div class="container-info-settings d-flex align-items-center">
              <h5 class="mb-0 mr-2">Invoice Amount</h5>
              <!-- Poner el precio de cada usuario -->
              <p class="mb-0 font-16">$25</p>
            </div>
            <div class="container-info-settings d-flex align-items-center" data-toggle="tooltip" data-placement="right" title="Si quieres cambiar la dirección donde enviamos las facturas, dirigite a Profile">
              <h5 class="mb-0 mr-2">Email</h5>
              <!-- Para cambiar el mail, debe hacerlo desde "profile". Supongo que deberíamos confirmar que el mail es bueno. -->
              <p class="mb-0 font-16" >gelabertgalmes98@gmail.com</p>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <a href="#" class="orange font-16" data-toggle="modal" data-target="#invoices"> See Invoices</a>
            </div>

            <!-- modal invoices -->
            <div class="modal fade" id="invoices" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body ">
                    <a href="#!" class="outline-none">
                      <div class="d-flex justify-content-between align-items-center invoice px-1">
                        <span class="font-16">10 de Septiembre 2020</span>
                        <div class="d-flex justify-content-end align-items-center">
                          <span class="invoice-pending px-1 ml-5 font-16">Pending</span>
                          <span class="ml-3 font-16">$25</span>
                          <img src="/imgs/icons/download.svg" class="ml-3" alt="download invoice">
                        </div>
                      </div>
                    </a>
                    <a href="#!" class="outline-none">
                      <div class="d-flex justify-content-between align-items-center invoice px-1">
                        <span class="font-16">10 de Septiembre 2020</span>
                        <div class="d-flex justify-content-end align-items-center">
                          <span class="invoice-clear px-1 ml-5 font-16">Succesfull</span>
                          <span class="ml-3 font-16">$25</span>
                          <img src="/imgs/icons/download.svg" class="ml-3" alt="download invoice">
                        </div>
                      </div>
                    </a>
                    <a href="#!" class="outline-none">
                      <div class="d-flex justify-content-between align-items-center invoice px-1">
                        <span class="font-16">10 de Septiembre 2020</span>
                        <div class="d-flex justify-content-end align-items-center">
                          <span class="invoice-clear px-1 ml-5 font-16">Succesfull</span>
                          <span class="ml-3 font-16">$25</span>
                          <img src="/imgs/icons/download.svg" class="ml-3" alt="download invoice">
                        </div>
                      </div>
                    </a>
                    <a href="#!" class="outline-none">
                      <div class="d-flex justify-content-between align-items-center invoice px-1">
                        <span class="font-16">10 de Septiembre 2020</span>
                        <div class="d-flex justify-content-end align-items-center">
                          <span class="invoice-clear px-1 ml-5 font-16">Succesfull</span>
                          <span class="ml-3 font-16">$25</span>
                          <img src="/imgs/icons/download.svg" class="ml-3" alt="download invoice">
                        </div>
                      </div>
                    </a>
                    <a href="#!" class="outline-none">
                      <div class="d-flex justify-content-between align-items-center invoice px-1">
                        <span class="font-16">10 de Septiembre 2020</span>
                        <div class="d-flex justify-content-end align-items-center">
                          <span class="invoice-clear px-1 ml-5 font-16">Succesfull</span>
                          <span class="ml-3 font-16">$25</span>
                          <img src="/imgs/icons/download.svg" class="ml-3" alt="download invoice">
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- settings -->
      <div role="tabpanel" class="tab-box tab-pane" id="settings">
       <div class="d-flex justify-content-between">
        <div class="text-left w-50 mx-5 my-4">
          <h4 class="pb-1 mb-3">Configuración de Balance</h4>
          <div class="container-info-settings d-flex flex-row justify-content-between align-items-center mb-2">
            <div>
              <h5 class="mb-0 mr-2">Account Currency</h5>
            </div>
            <!--dropdown-->
            <div class="dropdown">
              <button id="dLabel" class="dropdown-select font-16" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= currencies[currentUser.currency_id - 1] %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <% currencies.forEach((currency) => { %>
                  <li><%= currency %></li>
                <% }) %>
              </ul>
            </div>
          </div>
          <div class="mb-2 d-flex flex-row justify-content-between align-items-center">
            <h5 class="mb-0 mr-2 d-block">Balance Inicial</h5>
            <input type="text" id="initial-balance" class="font-16 text-right" value="<%= currentUser.balance %>" readonly>
          </div>
          <!-- dark mode -->
          <div class="d-flex flex-row justify-content-between align-items-center mb-2">
            <h5 class="mb-0 mr-2">Dark mode</h5>
            <label class="switch mb-0">
              <input id="dark" type="checkbox"
              <% if (currentUser.dark_mode) { %>
                checked
              <% } %>
              >
              <span class="slider round"></span>
            </label>
          </div>
          <!-- sound -->
          <div class="d-flex flex-row justify-content-between align-items-center mb-2">
            <h5 class="mb-0 mr-2">Enable sound</h5>
            <label class="switch mb-0">
              <input id="sound" type="checkbox"
              <% if (currentUser.sound) { %>
                checked
              <% } %>
              >
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <!-- Goals! -->
        <div class="text-left w-50 mx-5 my-4">
          <div class="mb-3">
            <h4 class="pb-1 mb-2">
              Current Goals
              <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="Add up to 5 goals to focus on">
            </h4>
            <input type="text" id="addGoal" placeholder="New Goal" class="w-100 font-16">
            <!-- Up to 5 goals -->
            <a href="#!" id="">
              <ul id="listGoals" class="pl-0">
                <% goals.forEach((goal) => { %>
                  <li class="mt-2 py-0 font-16 goal-li">
                    <input type="text" value="<%= goal %>" class="goal">
                    <button type="button" class="float-right goal-delete" onclick="deleteGoal(this)">
                      <img class="icon-20" src="/imgs/icons/delete.svg">
                    </button>
                  </li>
                <% }); %>
              </ul>
            </a>
          </div>
          <div class="pt-4">
            <div class="d-block flex-row justify-content-between">
              <h4 class="pb-1 mb-3">
                Strategies
                <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="Create a new strategy to add to your TA">
              </h4>
            </div>
            <input type="text" id="addStrategy" placeholder="New Strategy Name" class="w-100 font-16">
            <!-- all strategies -->
            <a href="#!" id="">
              <ul id="listStrategy" class="pl-0">
                <% strategies.forEach((strategy) => { %>
                  <li class="mt-2 py-0 strategy-li">
                    <input type="text" class="strategy" value="<%= strategy %>">
                    <button type="button" class="float-right strategy-delete" onclick="deleteStrategy(this)">
                      <img class="icon-20" src="/imgs/icons/delete.svg">
                    </button>
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- customization -->
      <div role="tabpanel" class="tab-box tab-pane" id="customization">
        <div class="d-flex flex-column py-5 text-center">
              <h2 class="mx-auto w-50 mb-4">We Are Currently Working On This Page.</h2>
            <span class="w-50 mt-3 grey">
              To know more about what we are working on, you can visit
              <a href="#!">next updates</a>.
            </span>
        </div>
      </div>

      <!-- help & support -->
      <div role="tabpanel" class="tab-box tab-pane" id="helpSupport">
        <div class="d-flex justify-content-between">

          <div class="w-50 mx-5 my-4">
            <h4 class="pb-1 mb-3">
              FAQs
              <img class="info float-right" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="Frequently Asked Question(s)">
            </h4>
            <div class="d-flex flex-column">
              <a href="#!" class="FAQ mb-1 container-info-settings font-16">How to create an entry</a>
              <a href="#!" class="FAQ mb-1 container-info-settings font-16">How to backtest</a>
              <a href="#!" class="FAQ mb-1 container-info-settings font-16">Interpret statistics</a>
              <a href="#!" class="FAQ mb-1 container-info-settings font-16">Upgrade your plan</a>
              <a href="#!" class="FAQ mb-1 container-info-settings font-16">Random questions</a>
              <a href="#!" class="FAQ mb-1 container-info-settings font-16">How to create an entry</a>
            </div>
          </div>

          <div class="w-50 mx-5 my-4">
            <div class="mb-4">
              <h4 class="pb-1 mb-3">Ask Us</h4>
              <span class="grey font-16">
                Send a message to
                <a href="#">support@neilit.com</a>
                and we will help you as soon as possible.
              </span>
            </div>

            <div class="">
              <h4 class="pb-1 mb-3">Wiki</h4>
              <span class="grey font-16">
                Solve all your doubts at the moment. You will
                find most of Neilit's functions described in depth.
              </span>
              <div class="d-flex flex-row justify-content-center mt-4">
                <a href="#" class="font-16 change-plan">
                  Go to Wiki
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  var currentUser = <%- JSON.stringify(currentUser) %>
  var strategies = <%- JSON.stringify(strategies) %>;
</script>

<%- include("../partials/footer-settings") %>
