<%- include("../partials/header-stats") %>

<!-- CONTENT -->
<div class="mt-2 mx-4">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <!--PRIMER WIDGET PRIMERA LINEA || PROFITS-->
      <div class="widget-tercio mx-3">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/profits.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Profits</h5>
          </div>
          <!--Superior Derecha Widget-->
          <a href="#" class="mr-2">
            <div class="grey font-16 mb-0">
              <!--Dropdown temporalidad widget-->
              <div class="dropdown">
                <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li onclick="getProfits('today')">Today</li>
                  <li onclick="getProfits('cweek')">Current week</li>
                  <li onclick="getProfits('lweek')">Last week</li>
                  <li onclick="getProfits('cmonth')">Current month</li>
                  <li onclick="getProfits('lmonth')">Last month</li>
                  <li onclick="getProfits('cquarter')">Current quarter</li>
                  <li onclick="getProfits('lquarter')">Last quarter</li>
                  <li onclick="getProfits('all')">All</li>
                  <li>
                    <button type="button" data-toggle="modal" data-target="#customProfits">Custom period</button>
                  </li>
                </ul>
              </div>
            </div>
          </a>
          <!-- modal -->
          <div class="modal fade" id="customProfits" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Custom period</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="mb-0">From:</p>
                  <input id="from-profits" type="date" class="bg-hover form-control mb-2 px-2">
                  <p class="mb-0">To:</p>
                  <input id="to-profits" type="date" class="bg-hover form-control px-2">
                </div>
                <div class="modal-footer">
                  <button type="button" onclick="getCustomProfits(document.getElementById('from-profits'), document.getElementById('to-profits'))" class="btn-neilit" data-dismiss="modal">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
        <a href="#!" class="">
          <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
            <div class="parte-central">
              <% if (!(Number.isNaN(statistics.profits.percent))) { %>
                <h1 id="profits-percent" class="black-h1"><%= statistics.profits.percent %>%</h1>
              <% } else { %>
                <h1 id="profits-percent" class="black-h1">N/A</h1>
              <% } %>
            </div>
            <div id="profits-amount">
              <% if (statistics.profits.amount >= 0) { %>
                <p class="pill pill-verde font-16"><img src="/imgs/icons/trending-up-green.svg" class="imagen-widget-grande mr-2">
              <% } else { %>
                <p class="pill pill-roja font-16"><img src="/imgs/icons/trending-down-red.svg" class="imagen-widget-grande mr-2">
              <% } %>
                <%= (Math.round((statistics.profits.amount + Number.EPSILON) * 100) / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> <%= userBase %>
              </p>
            </div>
          </div>
        </a>
        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma.">
            </div>
          </a>
          </div>
        </div>
      </div>
      <!--SEGUNDO WIDGET PRIMERA LINEA || ENTRIES-->
      <div class="widget-tercio mx-3">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/donut.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Entries</h5>
          </div>
          <!--Superior Derecha Widget-->
          <a href="#" class="mr-2">
            <div class="grey font-16 mb-0">
              <!--Dropdown temporalidad widget-->
              <div class="dropdown">
                <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li onclick="getEntries('today')">Today</li>
                  <li onclick="getEntries('cweek')">Current week</li>
                  <li onclick="getEntries('lweek')">Last week</li>
                  <li onclick="getEntries('cmonth')">Current month</li>
                  <li onclick="getEntries('lmonth')">Last month</li>
                  <li onclick="getEntries('cquarter')">Current quarter</li>
                  <li onclick="getEntries('lquarter')">Last quarter</li>
                  <li onclick="getEntries('all')">All</li>
                  <li>
                    <button type="button" data-toggle="modal" data-target="#customEntries">Custom period</button>
                  </li>
                </ul>
              </div>
            </div>
          </a>
          <!-- modal -->
          <div class="modal fade" id="customEntries" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Custom period</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="mb-0">From:</p>
                  <input id="from-entries" type="date" class="bg-hover form-control mb-2 px-2">
                  <p class="mb-0">To:</p>
                  <input id="to-entries" type="date" class="bg-hover form-control px-2">
                </div>
                <div class="modal-footer">
                  <button type="button" onclick="getCustomEntries(document.getElementById('from-entries'), document.getElementById('to-entries'))" class="btn-neilit" data-dismiss="modal">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
        <a href="#!">
          <div class="parte-central my-2 d-flex flex-column justify-content-center align-items-center px-1 wpx-100">
            <% if (statistics.entries.win + statistics.entries.loss + statistics.entries.be > 0) { %>
              <canvas id="donutChartWidgetTradesWinBELoss" width="100" height="100"></canvas>
              <p id="no-data-entries-graph" class="placeholder-stats d-none">Not enough data</p>
            <% } else { %>
              <canvas id="donutChartWidgetTradesWinBELoss" class="d-none"></canvas>
              <p id="no-data-entries-graph" class="placeholder-stats">Not enough data</p>
            <% } %>
          </div>
        </a>
        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
      <!--TERCER WIDGET PRIMERA LINEA || PROFITS-->
      <div class="widget-tercio mx-3">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/star.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Best Asset</h5>
          </div>
          <!--Superior Derecha Widget-->
          <a href="#" class="mr-2">
            <div class="grey font-16 mb-0">
              <!--Dropdown temporalidad widget-->
              <div class="dropdown">
                <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li onclick="getBestAsset('today')">Today</li>
                  <li onclick="getBestAsset('cweek')">Current week</li>
                  <li onclick="getBestAsset('lweek')">Last week</li>
                  <li onclick="getBestAsset('cmonth')">Current month</li>
                  <li onclick="getBestAsset('lmonth')">Last month</li>
                  <li onclick="getBestAsset('cquarter')">Current quarter</li>
                  <li onclick="getBestAsset('lquarter')">Last quarter</li>
                  <li onclick="getBestAsset('all')">All</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center w-100">
            <a href="#">
            <div class="parte-central">
              <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
              <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
              <h1 id="best-asset-percent" class="black-h1"><%= Math.round(((Math.max(...assetStats.percent)) + Number.EPSILON) * 100) / 100 %>%</h1>
            </div>
            <div id="best-asset-amount" class="d-flex flex-row justify-content-center align-items-center">
              <!--DEPENDIENDO DE SI ESTAMOS EN BENEFICIO O PERDIDA, EL COLOR DE BEREMOS PONER UNA CLASE DE "PILL" U OTRA-->
              <!--Aquí debe ir el porcentaje de beneficio o perdida de todas las operaciones de cada usuario-->
              <a href="#">
                <p class="pill px-0 font-16 grey"><%= pairs[assetStats.percent.indexOf(Math.max(...assetStats.percent))] %></p>
              </a>
              <% if (Math.max(...assetStats.percent) >= 0) { %>
                <p class="pill pill-verde font-16 mx-1"><img src="/imgs/icons/trending-up-green.svg" class="imagen-widget-grande mr-2">
              <% } else { %>
                <p class="pill pill-roja font-16 mx-1"><img src="/imgs/icons/trending-down-red.svg" class="imagen-widget-grande mr-2">
              <% } %>
                <%= (Math.round(assetStats.amount[assetStats.percent.indexOf(Math.max(...assetStats.percent))] * 100) / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> <%= userBase %>
              </p>
            </div>
            </a>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <!--ÚNICO WIDGET SEGUNDA LINEA || TIMEFRAMES--> <!-- Mover más abajo una vez tengamos más widgets creados. -->
      <!-- ESCRITO POR JAUME: Mi idea es que automaticamente Neilit añada los Timeframes de las entradas. Es decir, que el usuario no tenga que seleccionar nada en este widget a parte del periodo de tiempo-->
      <div class="widget-100 mx-3 mt-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/patrones.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Strategies</h5>
          </div>
          <!--Superior Derecha Widget-->
          <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current quarter</li>
                    <li>Last quarter</li>
                    <li>All</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <a href="#">
            <!-- Al hacer click, añadir la clase "active-change" en el div. -->
            <!-- Cuando este activado, en lugar de ver los datos en forma de tabla, lo veremos como gráfico. Es posible que se pueda hacer con pills? -->
            <!-- Una vez este hecha la funcionalidad, añadiremos el gráfico donde corresponda. -->
            <!-- Estaría bien tener logos como los de TradingView para cada activo -->
            <!-- En futuras actualizaciones, al hacer click, que salga una página con todos los detalles de cada activo-->
            <div class="d-flex flex-row justify-content-center align-items-center mr-2 mb-1 background-change">
              <img src="/imgs/icons/bar-chart.svg" class="mx-2 py-1 imagen-widget-change" alt="profits">
            </div>
          </a>
          </div>

        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 w-100">
            <div class="parte-central">
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="En esta columna se muestran todos los activos con almenos una operación cerrada">Paterns</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de entradas con cada timeframe como principal.">Entries</th>
                    <!--El Avg Return mejor en % que en moneda-->
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Resultado medio en cada timeframe">Avg. return</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones ganadoras">Winners</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones en Break even">Break evens</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones perdidas">Loosers</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (const property in strategyStats) { %>
                    <tr>
                      <th scope="row" class="align-middle"><a href="#" class="grey"><%= strategyStats[property].name %></a></th>
                      <td><%= strategyStats[property].quantity %></td>
                      <td>
                        <% if (strategyStats[property].quantity == 0) { %>
                          0
                        <% } else { %>
                          <% if (strategyStats[property].percent/strategyStats[property].quantity >= 0) { %>
                            <p class="mb-0 pill pill-verde">
                              <%= strategyStats[property].percent/strategyStats[property].quantity %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-roja">
                              <%= strategyStats[property].percent/strategyStats[property].quantity %>%
                            </p>
                          <% } %>
                        <% } %>
                      </td>
                      <td><%= strategyStats[property].win %></td>
                      <td><%= strategyStats[property].be %></td>
                      <td><%= strategyStats[property].loss %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <a href="#">
                <p class="pill font-16 grey mb-0">See more details</p>
              </a>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <!--ÚNICO WIDGET TERCERA LINEA || TIMEFRAMES--> <!-- Mover más abajo una vez tengamos más widgets creados. -->
      <!-- ESCRITO POR JAUME: Mi idea es que automaticamente Neilit añada los Timeframes de las entradas. Es decir, que el usuario no tenga que seleccionar nada en este widget a parte del periodo de tiempo-->
      <div class="widget-100 mx-3 mt-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/flag.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Assets</h5>
          </div>
          <!--Superior Derecha Widget-->
          <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current quarter</li>
                    <li>Last quarter</li>
                    <li>All</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <a href="#">
            <!-- Al hacer click, añadir la clase "active-change" en el div. -->
            <!-- Cuando este activado, en lugar de ver los datos en forma de tabla, lo veremos como gráfico. Es posible que se pueda hacer con pills? -->
            <!-- Una vez este hecha la funcionalidad, añadiremos el gráfico donde corresponda. -->
            <!-- Estaría bien tener logos como los de TradingView para cada activo -->
            <!-- En futuras actualizaciones, al hacer click, que salga una página con todos los detalles de cada activo-->
            <div class="d-flex flex-row justify-content-center align-items-center mr-2 mb-1 background-change">
              <img src="/imgs/icons/bar-chart.svg" class="mx-2 py-1 imagen-widget-change" alt="profits">
            </div>
          </a>
          </div>

        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 w-100">
            <div class="parte-central">
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="En esta columna se muestran todos los activos con almenos una operación cerrada">Assets</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de entradas con cada timeframe como principal.">Entries</th>
                    <!--El Avg Return mejor en % que en moneda-->
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Resultado medio en cada timeframe">Avg. return</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones ganadoras">Winners</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones en Break even">Break evens</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones perdidas">Loosers</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i = 6; i > -1; i--) { %>
                    <tr>
                      <th scope="row" class="align-middle"><a href="#" class="grey"><%= pairs[assetStats.showcase[i][1]] %></a></th>
                      <td><%= assetStats.showcase[i][0] %></td>
                      <td>
                        <% if (assetStats.showcase[i][0] == 0) { %>
                          0
                        <% } else { %>
                          <% if (assetStats.percent[assetStats.showcase[i][1]]/assetStats.showcase[i][0] >= 0) { %>
                            <p class="mb-0 pill pill-verde">
                              <%= assetStats.percent[assetStats.showcase[i][1]]/assetStats.showcase[i][0] %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-roja">
                              <%= assetStats.percent[assetStats.showcase[i][1]]/assetStats.showcase[i][0] %>%
                            </p>
                          <% } %>
                        <% } %>
                      </td>
                      <td><%= assetStats.win[assetStats.showcase[i][1]] %></td>
                      <td><%= assetStats.be[assetStats.showcase[i][1]] %></td>
                      <td><%= assetStats.loss[assetStats.showcase[i][1]] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <a href="#">
                <p class="pill font-16 grey mb-0">See more details</p>
              </a>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <!--ÚNICO WIDGET TERCERA LINEA || ACTIVOS Y RENTABILIDAD
      <!-- ESCRITO POR JAUME: Mi idea es que automaticamente Neilit añada los Timeframes de las entradas. Es decir, que el usuario no tenga que seleccionar nada en este widget a parte del periodo de tiempo-->
      <div class="widget-100 mx-3 mt-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/timeframes.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Timeframes</h5>
          </div>
          <!--Superior Derecha Widget-->
          <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current quarter</li>
                    <li>Last quarter</li>
                    <li>All</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <a href="#">
            <!-- Al hacer click, añadir la clase "active-change" en el div. -->
            <!-- Cuando este activado, en lugar de ver los datos en forma de tabla, lo veremos como gráfico. Es posible que se pueda hacer con pills? -->
            <!-- Una vez este hecha la funcionalidad, añadiremos el gráfico donde corresponda. -->
            <div class="d-flex flex-row justify-content-center align-items-center mr-2 mb-1 background-change">
              <img src="/imgs/icons/bar-chart.svg" class="mx-2 py-1 imagen-widget-change" alt="profits">
            </div>
          </a>
          </div>

        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 w-100">
            <div class="parte-central">
              <!-- Cambiar el color al hacer hover por nuestro gris flojo -->
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="En esta columna se muestran todos los timeframes de las operaciones que se han llevado a cabo.">Timeframe</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de entradas con cada timeframe como principal.">Entries</th>
                    <!--El Avg Return mejor en % que en moneda-->
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Resultado medio en cada timeframe">Avg. return</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones ganadoras">Winners</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones en Break even">Break evens</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones perdidas">Loosers</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i = 6; i > -1; i--) { %>
                    <tr>
                      <th scope="row" class="align-middle"><a href="#" class="grey"><%= timeframes[timeframeStats.showcase[i][1]] %></a></th>
                      <td><%= timeframeStats.showcase[i][0] %></td>
                      <td>
                        <% if (timeframeStats.showcase[i][0] == 0) { %>
                          0
                        <% } else { %>
                          <% if (assetStats.percent[timeframeStats.showcase[i][1]]/timeframeStats.showcase[i][0] >= 0) { %>
                            <p class="mb-0 pill pill-verde">
                              <%= timeframeStats.percent[timeframeStats.showcase[i][1]]/timeframeStats.showcase[i][0] %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-roja">
                              <%= timeframeStats.percent[timeframeStats.showcase[i][1]]/timeframeStats.showcase[i][0] %>%
                            </p>
                          <% } %>
                        <% } %>
                      </td>
                      <td><%= timeframeStats.win[timeframeStats.showcase[i][1]] %></td>
                      <td><%= timeframeStats.be[timeframeStats.showcase[i][1]] %></td>
                      <td><%= timeframeStats.loss[timeframeStats.showcase[i][1]] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <a href="#">
                <p class="pill font-16 grey mb-0">See more details</p>
              </a>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <!--ÚNICO WIDGET TERCERA LINEA || ACTIVOS Y RENTABILIDAD
      <!-- ESCRITO POR JAUME: Mi idea es que automaticamente Neilit añada los Timeframes de las entradas. Es decir, que el usuario no tenga que seleccionar nada en este widget a parte del periodo de tiempo-->
      <div class="widget-100 mx-3 mt-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/today.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Days</h5>
          </div>
          <!--Superior Derecha Widget-->
          <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current quarter</li>
                    <li>Last quarter</li>
                    <li>All</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <a href="#">
            <!-- Al hacer click, añadir la clase "active-change" en el div. -->
            <!-- Cuando este activado, en lugar de ver los datos en forma de tabla, lo veremos como gráfico. Es posible que se pueda hacer con pills? -->
            <!-- Una vez este hecha la funcionalidad, añadiremos el gráfico donde corresponda. -->
            <div class="d-flex flex-row justify-content-center align-items-center mr-2 mb-1 background-change">
              <img src="/imgs/icons/bar-chart.svg" class="mx-2 py-1 imagen-widget-change" alt="profits">
            </div>
          </a>
          </div>

        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 w-100">
            <div class="parte-central">
              <!-- Cambiar el color al hacer hover por nuestro gris flojo -->
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="En esta columna se muestran todos los timeframes de las operaciones que se han llevado a cabo.">Day of the week</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de entradas con cada timeframe como principal.">Entries</th>
                    <!--El Avg Return mejor en % que en moneda-->
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Resultado medio en cada timeframe">Avg. return</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones ganadoras">Winners</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones en Break even">Break evens</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones perdidas">Loosers</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (const property in dayWeekStats) { %>
                    <tr>
                      <th scope="row" class="align-middle"><a href="#" class="grey"><%= dayWeekStats[property].name %></a></th>
                      <td><%= dayWeekStats[property].quantity %></td>
                      <td>
                        <% if (dayWeekStats[property].quantity == 0) { %>
                          0
                        <% } else { %>
                          <% if (dayWeekStats[property].percent/dayWeekStats[property].quantity >= 0) { %>
                            <p class="mb-0 pill pill-verde">
                              <%= dayWeekStats[property].percent/dayWeekStats[property].quantity %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-roja">
                              <%= dayWeekStats[property].percent/dayWeekStats[property].quantity %>%
                            </p>
                          <% } %>
                        <% } %>
                      </td>
                      <td><%= dayWeekStats[property].win %></td>
                      <td><%= dayWeekStats[property].be %></td>
                      <td><%= dayWeekStats[property].loss %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <a href="#">
                <p class="pill font-16 grey mb-0">See more details</p>
              </a>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <!--PRIMER WIDGET QUINTA LINEA || DIRECCIÓN--> <!-- Mover más abajo una vez tengamos más widgets creados. -->
      <!-- ESCRITO POR JAUME: Mi idea es que automaticamente Neilit añada los Timeframes de las entradas. Es decir, que el usuario no tenga que seleccionar nada en este widget a parte del periodo de tiempo-->
      <div class="widget-tercio mx-3 mt-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/order-direction.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Direction Breakout</h5>
          </div>
          <!--Superior Derecha Widget-->
          <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current quarter</li>
                    <li>Last quarter</li>
                    <li>All</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          </div>

        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 w-100">
            <div class="parte-central my-2 d-flex flex-column justify-content-center align-items-center px-1 wpx-100">
              <% if (statistics.direction.long + statistics.direction.short > 0) { %>
                <canvas id="orderDirection" width="100" height="100"></canvas>
              <% } else { %>
                <canvas id="orderDirection" class="d-none"></canvas>
                <p class="placeholder-stats">Not enough data</p>
              <% } %>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="widget-dos-tercios mx-3 mt-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/order-direction.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Direction</h5>
          </div>
          <!--Superior Derecha Widget-->
          <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="d-flex flex-row">
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current quarter</li>
                    <li>Last quarter</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          </div>

        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="mb-2 mt-3 w-100">
            <div class="parte-central">
              <!-- Cambiar el color al hacer hover por nuestro gris flojo -->

              <canvas id="orderDirectionResults" width="100" height="100"></canvas>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <!--ÚNICO WIDGET TERCERA LINEA || ACTIVOS Y RENTABILIDAD
      <!-- ESCRITO POR JAUME: Mi idea es que automaticamente Neilit añada los Timeframes de las entradas. Es decir, que el usuario no tenga que seleccionar nada en este widget a parte del periodo de tiempo-->
      <div class="widget-100 mx-3 mt-4 mb-4">
        <!--PARTE SUPERIOR DEL WIDGET-->
        <div class="superior-widget d-flex flex-row justify-content-between mt-2">
          <!--Superior Izquierda Widget-->
          <div class="d-flex flex-row align-items-center">
            <img src="/imgs/icons/custom.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
            <h5 class="mb-0 py-1">Custom Statistics</h5>
          </div>
        </div>
        <!--PARTE CENTRAL DEL WIDGET-->
          <div class="w-100">
            <div class="custom-stats-soon d-flex flex-row justify-content-center align-content-center">
              <div>
                <p class="mb-0">We are currently working on this feature. </p>
              </div>
              <div>
              <p class="mb-0">If you want to know more about our Custom Stats, read this article.</p>
              </div>
            </div>
          </div>

        <!--PARTE INFERIOR DEL WIDGET-->
        <div class="inferior-widget d-flex flex-row justify-content-between px-2 pt-1 mb-1">
          <div class="grey">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Estamos trabajando en esta funcionalidad. Muy pronto estará lista." alt="alt">
              <p class="font-16 mb-0 mr-0 pl-2 py-1">Download</p>
              <img src="/imgs/icons/download.svg" class="py-1 imagen-widget" alt="alt">
            </div>
          </a>
          </div>
          <div class="">
          <a href="#">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  var currentUser = <%- JSON.stringify(currentUser); %>
  var statistics = <%- JSON.stringify(statistics) %>;
  var userBase = <%- JSON.stringify(userBase) %>;
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-stats") %>
