<%- include("../partials/header-statistics") %>

<!-- CONTENT -->
<div class="pt-4 mx-4">
  <section>
    <div class="container">
      <!-- 1st row: three square widget -->
      <div class="d-flex justify-content-between mb-4">
        <!-- pofits widget -->
        <div class="neilit-widget widget-three mr-2">
          <div class="d-flex justify-content-between align-items-start mt-3 mr-2">
            <span class="d-flex">
              <img src="/imgs/icons/balance.svg" class="mx-2 image-widget" alt="profits">
              <h5 class="mb-0 no-wrap"><%= __('Profits') %></h5>
            </span>
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getProfits('today')"><%= __('Today') %></li>
                <li onclick="getProfits('cweek')"><%= __('Current week') %></li>
                <li onclick="getProfits('lweek')"><%= __('Last week') %></li>
                <li onclick="getProfits('cmonth')"><%= __('Current month') %></li>
                <li onclick="getProfits('lmonth')"><%= __('Last month') %></li>
                <li onclick="getProfits('cquarter')"><%= __('Current quarter') %></li>
                <li onclick="getProfits('lquarter')"><%= __('Last quarter') %></li>
                <li onclick="getProfits('all')"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customProfits"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <!-- modal -->
            <div class="modal fade" id="customProfits" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Custom period') %></h5>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0"><%= __('From') %>:</p>
                    <input id="from-profits" type="date" class="bg-hover form-control mb-2 px-2">
                    <p class="mb-0"><%= __('To') %>:</p>
                    <input id="to-profits" type="date" class="bg-hover form-control px-2">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="getCustomProfits(document.getElementById('from-profits'), document.getElementById('to-profits'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 mb-3 d-flex flex-column align-items-center">
            <% if (!(Number.isNaN(statistics.profits.percent))) { %>
              <h1 id="profits-percent" class="data-widget"><%= statistics.profits.percent %>%</h1>
            <% } else { %>
              <h1 id="profits-percent" class="data-widget">N/A</h1>
            <% } %>
            <div id="profits-amount">
              <% if (statistics.profits.amount >= 0) { %>
                <p class="pill pill-verde font-16"><img src="/imgs/icons/trending-up-green.svg" class="image-widget-grande mr-2">
              <% } else { %>
                <p class="pill pill-roja font-16"><img src="/imgs/icons/trending-down-red.svg" class="image-widget-grande mr-2">
              <% } %>
                <%= (Math.round((statistics.profits.amount + Number.EPSILON) * 100) / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> <%= userBase %>
              </p>
            </div>
          </div>
          <hr class="mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Current account profit fom the selected period of time. Neilit calculates this data based on the recorded operations.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- entries widget -->
        <div class="neilit-widget widget-three mx-2">
          <div class="d-flex justify-content-between align-items-start mt-3 mx-2">
            <span class="d-flex">
              <img src="/imgs/icons/donut-chart.svg" class="mx-2 image-widget" alt="entries">
              <h5 class="mb-0 no-wrap"><%= __('Entries') %></h5>
            </span>
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getEntries('today')"><%= __('Today') %></li>
                <li onclick="getEntries('cweek')"><%= __('Current week') %></li>
                <li onclick="getEntries('lweek')"><%= __('Last week') %></li>
                <li onclick="getEntries('cmonth')"><%= __('Current month') %></li>
                <li onclick="getEntries('lmonth')"><%= __('Last month') %></li>
                <li onclick="getEntries('cquarter')"><%= __('Current quarter') %></li>
                <li onclick="getEntries('lquarter')"><%= __('Last quarter') %></li>
                <li onclick="getEntries('all')"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customEntries"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <!-- modal -->
            <div class="modal fade" id="customEntries" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Custom period') %></h5>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0"><%= __('From') %>:</p>
                    <input id="from-entries" type="date" class="bg-hover form-control mb-2 px-2">
                    <p class="mb-0"><%= __('To') %>:</p>
                    <input id="to-entries" type="date" class="bg-hover form-control px-2">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="getCustomEntries(document.getElementById('from-entries'), document.getElementById('to-entries'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 mb-3 d-flex flex-column justify-content-center align-items-center">
            <% if (statistics.entries.win + statistics.entries.loss + statistics.entries.be > 0) { %>
              <canvas id="donutChartWidgetTradesWinBELoss" width="100" height="100"></canvas>
              <p id="no-data-entries-graph" class="placeholder-stats d-none"><%= __('Not enough data') %></p>
            <% } else { %>
              <canvas id="donutChartWidgetTradesWinBELoss" class="d-none"></canvas>
              <p id="no-data-entries-graph" class="placeholder-stats"><%= __('Not enough data') %></p>
            <% } %>
          </div>
          <hr class="mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Trades distributed between win, loss, and break even.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- best asset -->
        <div class="neilit-widget widget-three ml-2">
          <div class="d-flex justify-content-between align-items-start mt-3 mx-2">
            <span class="d-flex">
              <img src="/imgs/icons/star.svg" class="mx-2 image-widget" alt="best asset">
              <h5 class="mb-0 no-wrap"><%= __('Best Asset') %></h5>
            </span>
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getBestAsset('today')"><%= __('Today') %></li>
                <li onclick="getBestAsset('cweek')"><%= __('Current week') %></li>
                <li onclick="getBestAsset('lweek')"><%= __('Last week') %></li>
                <li onclick="getBestAsset('cmonth')"><%= __('Current month') %></li>
                <li onclick="getBestAsset('lmonth')"><%= __('Last month') %></li>
                <li onclick="getBestAsset('cquarter')"><%= __('Current quarter') %></li>
                <li onclick="getBestAsset('lquarter')"><%= __('Last quarter') %></li>
                <li onclick="getBestAsset('all')"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customBestAsset"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <!-- modal -->
            <div class="modal fade" id="customBestAsset" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Custom period') %></h5>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0"><%= __('From') %>:</p>
                    <input id="from-best" type="date" class="bg-hover form-control mb-2 px-2">
                    <p class="mb-0"><%= __('To') %>:</p>
                    <input id="to-best" type="date" class="bg-hover form-control px-2">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="getCustomBestAsset(document.getElementById('from-best'), document.getElementById('to-best'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 mb-3 d-flex flex-column align-items-center">
            <h1 id="best-asset-percent" class="data-widget"><%= Math.round(((Math.max(...assetStats.percent)) + Number.EPSILON) * 100) / 100 %>%</h1>
            <div id="best-asset-amount" class="d-flex align-items-center">
                <p class="pr-2"><%= pairs[assetStats.percent.indexOf(Math.max(...assetStats.percent))] %></p>
              <% if (Math.max(...assetStats.percent) >= 0) { %>
                <p class="pill pill-verde font-16 mx-1"><img src="/imgs/icons/trending-up-green.svg" class="image-widget-grande mr-2">
              <% } else { %>
                <p class="pill pill-roja font-16 mx-1"><img src="/imgs/icons/trending-down-red.svg" class="image-widget-grande mr-2">
              <% } %>
                <%= (Math.round(assetStats.amount[assetStats.percent.indexOf(Math.max(...assetStats.percent))] * 100) / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> <%= userBase %>
              </p>
            </div>
          </div>
          <hr class="mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget info my-atuo" data-toggle="tooltip" data-placement="bottom" title="<%= __('Best performing asset from the select time period. Neilit calculates this data from the recorded operations.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- strategies -->
      <div class="neilit-widget widget-one mb-4">
        <div class="d-flex justify-content-between align-items-center pt-3 mx-2">
          <div class="d-flex">
            <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Strategies">
            <h5 class="mb-0 no-wrap"><%= __('Strategies') %></h5>
          </div>
          <div class="d-flex">
            <!--dropdown-->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getStrategies('today'); return false;"><%= __('Today') %></li>
                <li onclick="getStrategies('cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getStrategies('lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getStrategies('cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getStrategies('lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getStrategies('cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getStrategies('lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getStrategies('all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customTable" onclick="updateSelectTable('strategies'); return false;"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="px-3 mt-3">
          <table class="table table-hover table-borderless font-16 text-center">
            <thead>
              <tr class="pb-4">
                <th scope="col"><%= __('Strategy') %></th>
                <th scope="col"><%= __('Entries') %></th>
                <th scope="col"><%= __('Avg. return') %></th>
                <th scope="col"><%= __('Wins') %></th>
                <th scope="col"><%= __('Break evens') %></th>
                <th scope="col"><%= __('Losses') %></th>
              </tr>
            </thead>
            <tbody>
              <% for (const property in strategyStats) { %>
                <tr>
                  <th scope="row" class="align-middle"><a href="#!" class="grey"><%= strategyStats[property].name %></a></th>
                  <td id="<%= property %>-quantity"><%= strategyStats[property].quantity %></td>
                  <td id="<%= property %>-average">
                    <% if (strategyStats[property].quantity == 0) { %>
                      0
                    <% } else { %>
                      <% if (strategyStats[property].percent/strategyStats[property].quantity >= 0) { %>
                        <p class="mb-0 pill pill-verde">
                          <%= (strategyStats[property].percent/strategyStats[property].quantity).toFixed(2) %>%
                        </p>
                      <% } else { %>
                        <p class="mb-0 pill pill-roja">
                          <%= (strategyStats[property].percent/strategyStats[property].quantity).toFixed(2) %>%
                        </p>
                      <% } %>
                    <% } %>
                  </td>
                  <td id="<%= property %>-win"><%= strategyStats[property].win %></td>
                  <td id="<%= property %>-be"><%= strategyStats[property].be %></td>
                  <td id="<%= property %>-loss"><%= strategyStats[property].loss %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <div class="text-center">
            <a href="statistics/strategies">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="mb-0">
        <div class="px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on the account\'s strategies.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- assets -->
      <div class="neilit-widget widget-one mb-4">
        <div class="d-flex justify-content-between align-items-center pt-3 mx-2">
          <div class="d-flex">
            <img src="/imgs/icons/flag.svg" class="mx-2 image-widget" alt="Assets">
            <h5 class="mb-0"><%= __('Assets') %></h5>
          </div>
          <div class="d-flex">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getAssets('today'); return false;"><%= __('Today') %></li>
                <li onclick="getAssets('cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getAssets('lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getAssets('cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getAssets('lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getAssets('cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getAssets('lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getAssets('all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customTable" onclick="updateSelectTable('assets'); return false;"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="px-3 mt-3">
          <table class="table table-hover table-borderless font-16 text-center">
            <thead>
              <tr class="pb-4">
                <th scope="col"><%= __('Assets') %></th>
                <th scope="col"><%= __('Entries') %></th>
                <th scope="col"><%= __('Avg. return') %></th>
                <th scope="col"><%= __('Wins') %></th>
                <th scope="col"><%= __('Break evens') %></th>
                <th scope="col"><%= __('Losses') %></th>
              </tr>
            </thead>
            <tbody id="assets-body">
              <% for (var i = 6; i > -1; i--) { %>
                <tr>
                  <th scope="row" class="align-middle"><a href="#" class="grey"><%= pairs[assetStats.showcase[i][1]] %></a></th>
                  <td><%= assetStats.showcase[i][0] %></td>
                  <td>
                    <% if (assetStats.showcase[i][0] == 0) { %>
                      0
                    <% } else { %>
                      <% if (assetStats.percent[assetStats.showcase[i][1]]/assetStats.showcase[i][0] >= 0) { %>
                        <p class="mb-0 pill pill-verde">
                          <%= (assetStats.percent[assetStats.showcase[i][1]]/assetStats.showcase[i][0]).toFixed(2) %>%
                        </p>
                      <% } else { %>
                        <p class="mb-0 pill pill-roja">
                          <%= (assetStats.percent[assetStats.showcase[i][1]]/assetStats.showcase[i][0]).toFixed(2) %>%
                        </p>
                      <% } %>
                    <% } %>
                  </td>
                  <td><%= assetStats.win[assetStats.showcase[i][1]] %></td>
                  <td><%= assetStats.be[assetStats.showcase[i][1]] %></td>
                  <td><%= assetStats.loss[assetStats.showcase[i][1]] %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <div class="text-center">
            <a href="statistics/assets">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="mb-0">
        <div class="px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on assets.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- timeframes -->
      <div class="neilit-widget widget-one mb-4">
        <div class="d-flex justify-content-between align-items-center pt-3 mx-2">
          <div class="d-flex">
            <img src="/imgs/icons/timeframes.svg" class="mx-2 image-widget" alt="Timeframes">
            <h5 class="mb-0"><%= __('Timeframes') %></h5>
          </div>
          <div class="d-flex">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getTimeframes('today'); return false;"><%= __('Today') %></li>
                <li onclick="getTimeframes('cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getTimeframes('lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getTimeframes('cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getTimeframes('lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getTimeframes('cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getTimeframes('lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getTimeframes('all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customTable" onclick="updateSelectTable('timeframes'); return false;"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="px-3 mt-3">
          <table class="table table-hover table-borderless font-16 text-center">
            <thead>
              <tr class="pb-4">
                <th scope="col"><%= __('Timeframe') %></th>
                <th scope="col"><%= __('Entries') %></th>
                <th scope="col"><%= __('Avg. return') %></th>
                <th scope="col"><%= __('Wins') %></th>
                <th scope="col"><%= __('Break evens') %></th>
                <th scope="col"><%= __('Losses') %></th>
              </tr>
            </thead>
            <tbody id="timeframes-body">
              <% for (var i = 6; i > -1; i--) { %>
                <tr>
                  <th scope="row" class="align-middle"><a href="#" class="grey"><%= timeframes[timeframeStats.showcase[i][1]] %></a></th>
                  <td><%= timeframeStats.showcase[i][0] %></td>
                  <td>
                    <% if (timeframeStats.showcase[i][0] == 0) { %>
                      0
                    <% } else { %>
                      <% if (timeframeStats.percent[timeframeStats.showcase[i][1]]/timeframeStats.showcase[i][0] >= 0) { %>
                        <p class="mb-0 pill pill-verde">
                          <%= (timeframeStats.percent[timeframeStats.showcase[i][1]]/timeframeStats.showcase[i][0]).toFixed(2) %>%
                        </p>
                      <% } else { %>
                        <p class="mb-0 pill pill-roja">
                          <%= (timeframeStats.percent[timeframeStats.showcase[i][1]]/timeframeStats.showcase[i][0]).toFixed(2) %>%
                        </p>
                      <% } %>
                    <% } %>
                  </td>
                  <td><%= timeframeStats.win[timeframeStats.showcase[i][1]] %></td>
                  <td><%= timeframeStats.be[timeframeStats.showcase[i][1]] %></td>
                  <td><%= timeframeStats.loss[timeframeStats.showcase[i][1]] %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <div class="text-center">
            <a href="statistics/timeframes">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="mb-0">
        <div class="px-3 mt-3">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on timeframes.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- days -->
      <div class="neilit-widget widget-one mb-4">
        <div class="d-flex justify-content-between align-items-center pt-3 mx-2">
          <div class="d-flex">
            <img src="/imgs/icons/today.svg" class="mx-2 image-widget" alt="Days of Week">
            <h5 class="mb-0"><%= __('Days') %></h5>
          </div>
          <div class="d-flex">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getDays('today'); return false;"><%= __('Today') %></li>
                <li onclick="getDays('cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getDays('lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getDays('cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getDays('lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getDays('cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getDays('lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getDays('all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customTable" onclick="updateSelectTable('days'); return false;"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="px-3 mt-2">
          <table class="table table-hover table-borderless font-16 text-center">
            <thead>
              <tr class="pb-4">
                <th scope="col"><%= __('Day of the week') %></th>
                <th scope="col"><%= __('Entries') %></th>
                <th scope="col"><%= __('Avg. return') %></th>
                <th scope="col"><%= __('Wins') %></th>
                <th scope="col"><%= __('Break evens') %></th>
                <th scope="col"><%= __('Losses') %></th>
              </tr>
            </thead>
            <tbody>
              <% for (const property in dayWeekStats) { %>
                <tr>
                  <th scope="row" class="align-middle"><a href="#" class="grey"><%= dayWeekStats[property].name %></a></th>
                  <td id="<%= property %>-quantity"><%= dayWeekStats[property].quantity %></td>
                  <td id="<%= property %>-average">
                    <% if (dayWeekStats[property].quantity == 0) { %>
                      0
                    <% } else { %>
                      <% if (dayWeekStats[property].percent/dayWeekStats[property].quantity >= 0) { %>
                        <p class="mb-0 pill pill-verde">
                          <%= dayWeekStats[property].percent/dayWeekStats[property].quantity %>%
                        </p>
                      <% } else { %>
                        <p class="mb-0 pill pill-roja">
                          <%= dayWeekStats[property].percent/dayWeekStats[property].quantity %>%
                        </p>
                      <% } %>
                    <% } %>
                  </td>
                  <td id="<%= property %>-win"><%= dayWeekStats[property].win %></td>
                  <td id="<%= property %>-be"><%= dayWeekStats[property].be %></td>
                  <td id="<%= property %>-loss"><%= dayWeekStats[property].loss %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <div class="text-center">
            <a href="statistics/days">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="mb-0">
        <div class="px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on day of the week.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- 5th row: one square widget and one double square widget -->
      <div class="d-flex justify-content-between mb-4">
        <!-- direction widget -->
        <div class="neilit-widget widget-three mr-2">
          <div class="d-flex justify-content-between align-items-start mt-3 mx-2">
            <div class="d-flex">
              <img src="/imgs/icons/order-direction.svg" class="mx-2 image-widget" alt="Direction Distribution">
              <h5 class="mb-0 no-wrap"><%= __('Direction Breakout') %></h5>
            </div>
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getDirection('today'); return false;"><%= __('Today') %></li>
                <li onclick="getDirection('cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getDirection('lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getDirection('cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getDirection('lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getDirection('cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getDirection('lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getDirection('all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customDirection" onclick="return false;"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <!-- modal -->
            <div class="modal fade" id="customDirection" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Custom period') %></h5>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0"><%= __('From') %>:</p>
                    <input id="from-direction" type="date" class="bg-hover form-control mb-2 px-2">
                    <p class="mb-0"><%= __('To') %>:</p>
                    <input id="to-direction" type="date" class="bg-hover form-control px-2">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="getCustomDirection(document.getElementById('from-direction'), document.getElementById('to-direction'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 mb-3 d-flex justify-content-center">
            <% if (statistics.direction.long + statistics.direction.short > 0) { %>
              <canvas id="orderDirection" width="100" height="100"></canvas>
              <p id="no-data-direction-graph" class="placeholder-stats d-none"><%= __('Not enough data') %></p>
            <% } else { %>
              <canvas id="orderDirection" class="d-none"></canvas>
              <p id="no-data-direction-graph" class="placeholder-stats"><%= __('Not enough data') %></p>
            <% } %>
          </div>
          <hr class="mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Trades distributed based on its  direction: long or short.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- direction graph widget -->
        <div class="neilit-widget widget-three-2 ml-2">
          <div class="d-flex justify-content-between align-items-start mt-3 mx-2">
            <div class="d-flex">
              <img src="/imgs/icons/order-direction.svg" class="mx-2 image-widget" alt="Direction Graph">
              <h5 class="mb-0 no-wrap"><%= __('Direction') %></h5>
            </div>
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getDirectionPer('today'); return false;"><%= __('Today') %></li>
                <li onclick="getDirectionPer('cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getDirectionPer('lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getDirectionPer('cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getDirectionPer('lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getDirectionPer('cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getDirectionPer('lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getDirectionPer('all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" data-toggle="modal" data-target="#customDirectionPer" onclick="return false;"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <!-- modal -->
            <div class="modal fade" id="customDirectionPer" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Custom period') %></h5>
                  </div>
                  <div class="modal-body">
                    <p class="mb-0"><%= __('From') %>:</p>
                    <input id="from-directionPer" type="date" class="bg-hover form-control mb-2 px-2">
                    <p class="mb-0"><%= __('To') %>:</p>
                    <input id="to-directionPer" type="date" class="bg-hover form-control px-2">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="getCustomDirectionPer(document.getElementById('from-directionPer'), document.getElementById('to-directionPer'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-3 mt-2">
            <canvas id="orderDirectionResults" width="100" height="115"></canvas>
          </div>
          <hr class="mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Operation outcomes distributed through a monthly grid and distributed according to its direction.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- personalized statistics -->
      <div class="neilit-widget widget-one mb-4">
        <div class="d-flex justify-content-between align-items-center pt-3 mx-2">
          <div class="d-flex">
            <img src="/imgs/icons/custom.svg" class="mx-2 image-widget">
            <h5 class="mb-0"><%= __('Custom Statistics') %></h5>
          </div>
        </div>
        <div class="px-3 py-1">
          <div class="coming-soon px-2">
            <p class="my-3"><%= __('We are currently working on this feature') %>. <%= __('If you want to know more about our') %> <strong><%= __('Custom Stats') %></strong>, <%= __('read') %> <a href="/resources" class="orange"><%= __('this post') %></a>.</p>
          </div>
        </div>
        <hr class="mb-0">
        <div class="px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Currently working on this feature.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- modal -->
      <div class="modal fade" id="customTable" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content neilit-widget">
            <div class="modal-header">
              <h5 class="modal-title"><%= __('Custom period') %></h5>
            </div>
            <div class="modal-body">
              <p class="mb-0"><%= __('From') %>:</p>
              <input id="from-table" type="date" class="bg-hover form-control mb-2 px-2">
              <p class="mb-0"><%= __('To') %>:</p>
              <input id="to-table" type="date" class="bg-hover form-control px-2">
            </div>
            <div class="modal-footer">
              <button type="button" onclick="getCustomTable(document.getElementById('from-table'), document.getElementById('to-table'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  var currentUser = <%- JSON.stringify(currentUser); %>
  var statistics = <%- JSON.stringify(statistics) %>;
  var userBase = <%- JSON.stringify(userBase) %>;
  var pairs = <%- JSON.stringify(pairs) %>;
  var timeframes = <%- JSON.stringify(timeframes) %>;
  var months = <%- JSON.stringify(months) %>;
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-statistics") %>
