<%- include("../partials/header-statistics") %>

<!-- CONTENT -->
<div class="mx-2 mx-lg-4">
  <section>
    <div class="container">
      <!-- modal -->
      <div class="modal fade" id="custom" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content widget-neilit">
            <div class="modal-header">
              <h5 class="modal-title"><%= __('Custom') %></h5>
            </div>
            <div class="modal-body">
              <p class="mb-0"><%= __('From') %>:</p>
              <input type="text" class="datepicker form-control p-1 px-2 mb-2" data-target="custom-from">
              <input type="text" id="custom-from" class="d-none">
              <p class="mb-0"><%= __('To') %>:</p>
              <input type="text" class="datepicker form-control p-1 px-2" data-target="custom-to">
              <input type="text" id="custom-to" class="d-none">
            </div>
            <div class="modal-footer">
              <button type="button" onclick="getCustom()" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
            </div>
          </div>
        </div>
      </div>
      <!-- 1st row: three square widget -->
      <div class="row mx-2">
        <!-- pofits widget -->
        <div class="col-12 col-lg-4 px-0 mb-4">
          <div class="widget-neilit mr-1">
            <div class="d-flex justify-content-between align-items-start flex-wrap pt-3 mx-2">
              <span class="d-flex align-items-strat">
                <img src="/imgs/icons/balance.svg" class="mx-2 image-widget" alt="profits">
                <h5 class="m-0 no-wrap"><%= __('Profits') %></h5>
              </span>
              <!-- dropdown -->
              <div class="dropdown ml-auto">
                <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown">
                  <%= __('All') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd">
                  <li onclick="getData('profits', 'today')"><%= __('Today') %></li>
                  <li onclick="getData('profits', 'cweek')"><%= __('Current week') %></li>
                  <li onclick="getData('profits', 'lweek')"><%= __('Last week') %></li>
                  <li onclick="getData('profits', 'cmonth')"><%= __('Current month') %></li>
                  <li onclick="getData('profits', 'lmonth')"><%= __('Last month') %></li>
                  <li onclick="getData('profits', 'cquarter')"><%= __('Current quarter') %></li>
                  <li onclick="getData('profits', 'lquarter')"><%= __('Last quarter') %></li>
                  <li onclick="getData('profits', 'all')"><%= __('All') %></li>
                  <li>
                    <button type="button" class="text-left" onclick="setCustom('profits')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-sq-content my-4 d-flex flex-column justify-content-center align-items-center">
              <% if (!(Number.isNaN(basicStats.percent))) { %>
                <h1 id="profits-percent" class="widget-data"><%= basicStats.percent.toFixed(2) %>%</h1>
              <% } else { %>
                <h1 id="profits-percent" class="widget-data">N/A</h1>
              <% } %>
              <div id="profits-amount" class="font-16">
                <% if (basicStats.outcome >= 0) { %>
                  <p class="d-inline pill pill-green font-16"><img src="/imgs/icons/trending-up-green.svg" class="image-widget-grande mr-2">
                <% } else { %>
                  <p class="d-inline pill pill-red font-16"><img src="/imgs/icons/trending-down-red.svg" class="image-widget-grande mr-2">
                <% } %>
                  <%= basicStats.outcome.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> <%= userBase %>
                </p>
              </div>
            </div>
            <hr class="mb-0">
            <div class="px-3 py-1">
              <a href="#!">
                <div class="text-right">
                  <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Current account profit fom the selected period of time. Neilit calculates this data based on the recorded operations.') %>">
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- entries widget -->
        <div class="col-12 col-lg-4 px-0 mb-4">
          <div class="widget-neilit mx-1">
            <div class="d-flex justify-content-between align-items-start flex-wrap pt-3 mx-2">
              <span class="d-flex align-items-start">
                <img src="/imgs/icons/donut-chart.svg" class="mx-2 image-widget" alt="entries">
                <h5 class="m-0 no-wrap"><%= __('Entries') %></h5>
              </span>
              <!-- dropdown -->
              <div class="dropdown ml-auto">
                <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown">
                  <%= __('All') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd">
                  <li onclick="getData('entries', 'today')"><%= __('Today') %></li>
                  <li onclick="getData('entries', 'cweek')"><%= __('Current week') %></li>
                  <li onclick="getData('entries', 'lweek')"><%= __('Last week') %></li>
                  <li onclick="getData('entries', 'cmonth')"><%= __('Current month') %></li>
                  <li onclick="getData('entries', 'lmonth')"><%= __('Last month') %></li>
                  <li onclick="getData('entries', 'cquarter')"><%= __('Current quarter') %></li>
                  <li onclick="getData('entries', 'lquarter')"><%= __('Last quarter') %></li>
                  <li onclick="getData('entries', 'all')"><%= __('All') %></li>
                  <li>
                    <button type="button" class="text-left" onclick="setCustom('entries')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-sq-content my-4 d-flex flex-column justify-content-center align-items-center">
              <% if (basicStats.win + basicStats.loss + basicStats.be > 0) { %>
                <canvas id="donutChartWidgetTradesWinBELoss" width="100" height="100"></canvas>
                <p id="no-data-entries-graph" class="placeholder-stats d-none"><%= __('Not enough data') %></p>
              <% } else { %>
                <canvas id="donutChartWidgetTradesWinBELoss" class="d-none"></canvas>
                <p id="no-data-entries-graph" class="placeholder-stats"><%= __('Not enough data') %></p>
              <% } %>
            </div>
            <hr class="mb-0">
            <div class="px-3 py-1">
              <a href="#!">
                <div class="text-right">
                  <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Trades distributed between win, loss, and break even.') %>">
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- best asset -->
        <div class="col-12 col-lg-4 px-0 mb-4">
          <div class="widget-neilit ml-1">
            <div class="d-flex justify-content-between align-items-start flex-wrap pt-3 mx-2">
              <span class="d-flex align-items-start">
                <img src="/imgs/icons/star.svg" class="mx-2 image-widget" alt="best asset">
                <h5 class="m-0 no-wrap"><%= __('Best Asset') %></h5>
              </span>
              <!-- dropdown -->
              <div class="dropdown ml-auto">
                <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown">
                  <%= __('All') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd">
                  <li onclick="getData('best-asset', 'today')"><%= __('Today') %></li>
                  <li onclick="getData('best-asset', 'cweek')"><%= __('Current week') %></li>
                  <li onclick="getData('best-asset', 'lweek')"><%= __('Last week') %></li>
                  <li onclick="getData('best-asset', 'cmonth')"><%= __('Current month') %></li>
                  <li onclick="getData('best-asset', 'lmonth')"><%= __('Last month') %></li>
                  <li onclick="getData('best-asset', 'cquarter')"><%= __('Current quarter') %></li>
                  <li onclick="getData('best-asset', 'lquarter')"><%= __('Last quarter') %></li>
                  <li onclick="getData('best-asset', 'all')"><%= __('All') %></li>
                  <li>
                    <button type="button" class="text-left" onclick="setCustom('best-asset')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-sq-content my-4 d-flex flex-column justify-content-center align-items-center">
              <% if (bestAsset.length > 0) { %>
                <h1 id="best-asset-percent" class="widget-data"><%= bestAsset[0].percent.toFixed(2) %>%</h1>
                <div id="best-asset-amount">
                    <p class="text-center mb-0"><%= bestAsset[0].pair %></p>
                  <% if (bestAsset[0].outcome >= 0) { %>
                    <p class="d-inline pill pill-green font-16 mx-1"><img src="/imgs/icons/trending-up-green.svg" class="image-widget-grande mr-2">
                  <% } else { %>
                    <p class="d-inline pill pill-red font-16 mx-1"><img src="/imgs/icons/trending-down-red.svg" class="image-widget-grande mr-2">
                  <% } %>
                    <%= bestAsset[0].outcome.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> <%= userBase %>
                  </p>
                </div>
              <% } else { %>
                <p id="no-data-entries-graph" class="placeholder-stats"><%= __('Not enough data') %></p>
              <% } %>
            </div>
            <hr class="mb-0">
            <div class="px-3 py-1">
              <a href="#!">
                <div class="text-right">
                  <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Best performing asset from the select time period. Neilit calculates this data from the recorded operations.') %>">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- strategies -->
      <div class="widget-neilit row mx-2 mb-4">
        <div class="d-flex justify-content-between align-items-start w-100 pt-3 mx-2">
          <span class="d-flex align-items-start">
            <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Strategies">
            <h5 class="mb-0 no-wrap"><%= __('Strategies') %></h5>
          </span>
          <div class="d-flex align-items-start ml-auto">
            <!--dropdown-->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getData('strategies', 'today'); return false;"><%= __('Today') %></li>
                <li onclick="getData('strategies', 'cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getData('strategies', 'lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getData('strategies', 'cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getData('strategies', 'lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getData('strategies', 'cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getData('strategies', 'lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getData('strategies', 'all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" class="text-left" onclick="setCustom('strategies')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="mt-2 w-100">
          <div class="position-relative">
            <div class="overflow-auto">
              <table class="table table-hover table-borderless font-16 text-center mb-0">
                <thead>
                  <tr>
                    <th scope="col"><%= __('Strategy') %></th>
                    <th scope="col"><%= __('Entries') %></th>
                    <th scope="col"><%= __('Avg. return') %></th>
                    <th scope="col"><%= __('Wins') %></th>
                    <th scope="col"><%= __('Break evens') %></th>
                    <th scope="col"><%= __('Losses') %></th>
                  </tr>
                </thead>
                <tbody id="table-strategies">
                  <% strategyStats.forEach((strategy) => { %>
                    <tr>
                      <td><a href="#!" class="grey"><%= strategy.strategy %></a></td>
                      <td><%= strategy.entries %></td>
                      <td>
                        <% if (strategy.avg_return >= 0) { %>
                          <p class="mb-0 pill pill-green">
                            <%= strategy.avg_return.toFixed(2) %>%
                          </p>
                        <% } else { %>
                          <p class="mb-0 pill pill-red">
                            <%= strategy.avg_return.toFixed(2) %>%
                          </p>
                        <% } %>
                      </td>
                      <td><%= strategy.win %></td>
                      <td><%= strategy.be %></td>
                      <td><%= strategy.loss %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center mt-4">
            <a href="statistics/strategies">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="w-100 my-0">
        <div class="w-100 px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on the account\'s strategies.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- assets -->
      <div class="widget-neilit row mx-2 mb-4">
        <div class="d-flex justify-content-between align-items-center w-100 pt-3 mx-2">
          <div class="d-flex align-items-start">
            <img src="/imgs/icons/flag.svg" class="mx-2 image-widget" alt="Assets">
            <h5 class="mb-0 no-wrap"><%= __('Assets') %></h5>
          </div>
          <div class="d-flex align-items-start ml-auto">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getData('assets', 'today'); return false;"><%= __('Today') %></li>
                <li onclick="getData('assets', 'cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getData('assets', 'lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getData('assets', 'cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getData('assets', 'lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getData('assets', 'cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getData('assets', 'lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getData('assets', 'all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" class="text-left" onclick="setCustom('assets')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="mt-2 w-100">
          <div class="position-relative">
            <div class="overflow-auto">
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col"><%= __('Assets') %></th>
                    <th scope="col"><%= __('Entries') %></th>
                    <th scope="col"><%= __('Avg. return') %></th>
                    <th scope="col"><%= __('Wins') %></th>
                    <th scope="col"><%= __('Break evens') %></th>
                    <th scope="col"><%= __('Losses') %></th>
                  </tr>
                </thead>
                <tbody id="table-assets">
                  <% assetStats.forEach((asset) => {  %>
                    <tr>
                      <td><a href="#" class="grey"><%= asset.pair %></a></td>
                      <td><%= asset.entries %></td>
                      <td>
                        <% if (asset.avg_return >= 0) { %>
                          <p class="mb-0 pill pill-green">
                            <%= asset.avg_return.toFixed(2) %>%
                          </p>
                        <% } else { %>
                          <p class="mb-0 pill pill-red">
                            <%= asset.avg_return.toFixed(2) %>%
                          </p>
                        <% } %>
                      </td>
                      <td><%= asset.win %></td>
                      <td><%= asset.be %></td>
                      <td><%= asset.loss %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center mt-4">
            <a href="statistics/assets">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="w-100 my-0">
        <div class="w-100 px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on assets.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- timeframes -->
      <div class="widget-neilit row mx-2 mb-4">
        <div class="d-flex justify-content-between align-items-center w-100 pt-3 mx-2">
          <div class="d-flex align-items-start">
            <img src="/imgs/icons/timeframes.svg" class="mx-2 image-widget" alt="Timeframes">
            <h5 class="mb-0 no-wrap"><%= __('Timeframes') %></h5>
          </div>
          <div class="d-flex aling-items-start ml-auto">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getData('timeframes', 'today'); return false;"><%= __('Today') %></li>
                <li onclick="getData('timeframes', 'cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getData('timeframes', 'lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getData('timeframes', 'cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getData('timeframes', 'lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getData('timeframes', 'cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getData('timeframes', 'lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getData('timeframes', 'all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" class="text-left" onclick="setCustom('timeframes')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="mt-2 w-100">
          <div class="position-relative">
            <div class="overflow-auto">
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col"><%= __('Timeframe') %></th>
                    <th scope="col"><%= __('Entries') %></th>
                    <th scope="col"><%= __('Avg. return') %></th>
                    <th scope="col"><%= __('Wins') %></th>
                    <th scope="col"><%= __('Break evens') %></th>
                    <th scope="col"><%= __('Losses') %></th>
                  </tr>
                </thead>
                <tbody id="table-timeframes">
                  <% timeframeStats.forEach((timeframe) => { %>
                    <tr>
                      <td><a href="#" class="grey"><%= timeframe.timeframe %></a></td>
                      <td><%= timeframe.entries %></td>
                      <td>
                        <% if (timeframe.avg_return >= 0) { %>
                          <p class="mb-0 pill pill-green">
                            <%= timeframe.avg_return.toFixed(2) %>%
                          </p>
                        <% } else { %>
                          <p class="mb-0 pill pill-red">
                            <%= timeframe.avg_return.toFixed(2) %>%
                          </p>
                        <% } %>
                      </td>
                      <td><%= timeframe.win %></td>
                      <td><%= timeframe.be %></td>
                      <td><%= timeframe.loss %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center mt-4">
            <a href="statistics/timeframes">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="w-100 my-0">
        <div class="w-100 px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on timeframes.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- days -->
      <div class="widget-neilit row mx-2 mb-4">
        <div class="d-flex justify-content-between align-items-center w-100 pt-3 mx-2">
          <div class="d-flex align-items-start">
            <img src="/imgs/icons/today.svg" class="mx-2 image-widget" alt="Days of Week">
            <h5 class="mb-0 no-wrap"><%= __('Days') %></h5>
          </div>
          <div class="d-flex align-items-start">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= __('All') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dd">
                <li onclick="getData('days', 'today'); return false;"><%= __('Today') %></li>
                <li onclick="getData('days', 'cweek'); return false;"><%= __('Current week') %></li>
                <li onclick="getData('days', 'lweek'); return false;"><%= __('Last week') %></li>
                <li onclick="getData('days', 'cmonth'); return false;"><%= __('Current month') %></li>
                <li onclick="getData('days', 'lmonth'); return false;"><%= __('Last month') %></li>
                <li onclick="getData('days', 'cquarter'); return false;"><%= __('Current quarter') %></li>
                <li onclick="getData('days', 'lquarter'); return false;"><%= __('Last quarter') %></li>
                <li onclick="getData('days', 'all'); return false;"><%= __('All') %></li>
                <li>
                  <button type="button" class="text-left" onclick="setCustom('days')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                </li>
              </ul>
            </div>
            <a href="#!">
              <div class="bg-hover">
                <img src="/imgs/icons/bar-chart.svg" class="mx-2 image-widget">
              </div>
            </a>
          </div>
        </div>
        <div class="mt-2 w-100">
          <div class="position-relative">
            <div class="overflow-auto">
              <table class="table table-hover table-borderless font-16 text-center">
                <thead>
                  <tr class="pb-4">
                    <th scope="col"><%= __('Day of the week') %></th>
                    <th scope="col"><%= __('Entries') %></th>
                    <th scope="col"><%= __('Avg. return') %></th>
                    <th scope="col"><%= __('Wins') %></th>
                    <th scope="col"><%= __('Break evens') %></th>
                    <th scope="col"><%= __('Losses') %></th>
                  </tr>
                </thead>
                <tbody id="table-days">
                  <% dayStats.forEach((day) => { %>
                    <tr>
                      <td><a href="#" class="grey"><%= day.day %></a></td>
                      <td><%= day.entries %></td>
                      <td>
                        <% if (day.avg_return >= 0) { %>
                          <p class="mb-0 pill pill-green">
                            <%= day.avg_return.toFixed(2) %>%
                          </p>
                        <% } else { %>
                          <p class="mb-0 pill pill-red">
                            <%= day.avg_return.toFixed(2) %>%
                          </p>
                        <% } %>
                      </td>
                      <td><%= day.win %></td>
                      <td><%= day.be %></td>
                      <td><%= day.loss %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-center mt-4">
            <a href="statistics/days">
              <p class="font-16 grey"><%= __('See more details') %></p>
            </a>
          </div>
        </div>
        <hr class="w-100 my-0">
        <div class="w-100 px-3 py-1">
          <a href="#!">
            <div class="text-right">
              <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on day of the week.') %>">
            </div>
          </a>
        </div>
      </div>
      <!-- 5th row: one square widget and one double square widget -->
      <div class="row mx-2">
        <!-- direction widget -->
        <div class="col-12 col-lg-4 px-0 mb-4">
          <div class="widget-neilit mr-1">
            <div class="d-flex justify-content-between align-items-start pt-3 mx-2">
              <div class="d-flex align-items-start">
                <img src="/imgs/icons/order-direction.svg" class="mx-2 image-widget" alt="Direction Distribution">
                <h5 class="m-0 no-wrap"><%= __('Direction Breakout') %></h5>
              </div>
              <!-- dropdown -->
              <div class="dropdown ml-auto">
                <button id="dd" class="dropdown-select text-right font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= __('All') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd">
                  <li onclick="getData('directionDist', 'today'); return false;"><%= __('Today') %></li>
                  <li onclick="getData('directionDist', 'cweek'); return false;"><%= __('Current week') %></li>
                  <li onclick="getData('directionDist', 'lweek'); return false;"><%= __('Last week') %></li>
                  <li onclick="getData('directionDist', 'cmonth'); return false;"><%= __('Current month') %></li>
                  <li onclick="getData('directionDist', 'lmonth'); return false;"><%= __('Last month') %></li>
                  <li onclick="getData('directionDist', 'cquarter'); return false;"><%= __('Current quarter') %></li>
                  <li onclick="getData('directionDist', 'lquarter'); return false;"><%= __('Last quarter') %></li>
                  <li onclick="getData('directionDist', 'all'); return false;"><%= __('All') %></li>
                  <li>
                    <button type="button" class="text-left" onclick="setCustom('directionDist')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-rct-content my-4 d-flex align-items-center justify-contnet-center">
              <% if (basicStats.d_long + basicStats.d_short > 0) { %>
                <canvas id="orderDirection" width="100" height="100"></canvas>
                <p id="no-data-direction-graph" class="placeholder-stats d-none"><%= __('Not enough data') %></p>
              <% } else { %>
                <canvas id="orderDirection" class="d-none"></canvas>
                <p id="no-data-direction-graph" class="placeholder-stats"><%= __('Not enough data') %></p>
              <% } %>
            </div>
            <hr class="mb-0">
            <div class="px-3 py-1">
              <a href="#!">
                <div class="text-right">
                  <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Trades distributed based on its  direction: long or short.') %>">
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- direction graph widget -->
        <div class="col-12 col-lg-8 px-0 mb-4">
          <div class="widget-neilit ml-1">
            <div class="d-flex justify-content-between align-items-start pt-3 mx-2">
              <div class="d-flex align-items-start">
                <img src="/imgs/icons/order-direction.svg" class="mx-2 image-widget" alt="Direction Graph">
                <h5 class="mb-0 no-wrap"><%= __('Direction') %></h5>
              </div>
              <!-- dropdown -->
              <div class="dropdown ml-auto">
                <button id="dd" class="dropdown-select font-16 mb-0 mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= __('All') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd">
                  <li onclick="getData('directionGraph', 'today');"><%= __('Today') %></li>
                  <li onclick="getData('directionGraph', 'cweek'); return false;"><%= __('Current week') %></li>
                  <li onclick="getData('directionGraph', 'lweek'); return false;"><%= __('Last week') %></li>
                  <li onclick="getData('directionGraph', 'cmonth'); return false;"><%= __('Current month') %></li>
                  <li onclick="getData('directionGraph', 'lmonth'); return false;"><%= __('Last month') %></li>
                  <li onclick="getData('directionGraph', 'cquarter'); return false;"><%= __('Current quarter') %></li>
                  <li onclick="getData('directionGraph', 'lquarter'); return false;"><%= __('Last quarter') %></li>
                  <li onclick="getData('directionGraph', 'all'); return false;"><%= __('All') %></li>
                  <li>
                    <button type="button" class="text-left" onclick="setCustom('directionGraph')" data-toggle="modal" data-target="#custom"><%= __('Custom period') %></button>
                  </li>
                </ul>
              </div>
              <!-- modal -->
              <div class="modal fade" id="customDirectionPer" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                  <div class="modal-content neilit-widget">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= __('Custom period') %></h5>
                    </div>
                    <div class="modal-body">
                      <p class="mb-0"><%= __('From') %>:</p>
                      <input id="from-directionPer" type="date" class="bg-hover form-control mb-2 px-2">
                      <p class="mb-0"><%= __('To') %>:</p>
                      <input id="to-directionPer" type="date" class="bg-hover form-control px-2">
                    </div>
                    <div class="modal-footer">
                      <button type="button" onclick="getCustomDirectionPer(document.getElementById('from-directionPer'), document.getElementById('to-directionPer'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget-rct-content my-4 d-flex flex-column align-items-center px-2">
              <canvas id="orderDirectionResults" width="100" height="115"></canvas>
            </div>
            <hr class="mb-0">
            <div class="px-3 py-1">
              <a href="#!">
                <div class="text-right">
                  <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Operation outcomes distributed through a monthly grid and distributed according to its direction.') %>">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- personalized statistics -->
      <div class="widget-neilit row mx-2 mb-4">
        <div class="d-flex flex-column w-100">
          <div class="d-flex align-items-center pt-3 mx-2">
            <img src="/imgs/icons/custom.svg" class="mx-2 image-widget">
            <h5 class="mb-0"><%= __('Custom Statistics') %></h5>
          </div>
          <div class="px-3 mt-2">
            <p class="my-3"><%= __('We are currently working on this feature') %>. <%= __('If you want to know more about our') %> <strong><%= __('Custom Stats') %></strong>, <%= __('read') %> <a href="/resources/custom-statistics" class="orange"><%= __('this post') %></a>.</p>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Currently working on this feature.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- modal -->
      <div class="modal fade" id="customTable" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content neilit-widget">
            <div class="modal-header">
              <h5 class="modal-title"><%= __('Custom period') %></h5>
            </div>
            <div class="modal-body">
              <p class="mb-0"><%= __('From') %>:</p>
              <input id="from-table" type="date" class="bg-hover form-control mb-2 px-2">
              <p class="mb-0"><%= __('To') %>:</p>
              <input id="to-table" type="date" class="bg-hover form-control px-2">
            </div>
            <div class="modal-footer">
              <button type="button" onclick="getCustomTable(document.getElementById('from-table'), document.getElementById('to-table'))" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  var username        = <%- JSON.stringify(currentUser.username) %>;
  var language        = <%- JSON.stringify(currentUser.language) %>;
  var darkMode        = <%- JSON.stringify(currentUser.darkMode) %>;
  var userBase        = <%- JSON.stringify(userBase) %>;
  var months          = <%- JSON.stringify(months) %>;
  var basicStats      = <%- JSON.stringify(basicStats) %>;
  var dataDirectionGraph  = <%- JSON.stringify(directionGraph) %>;
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-statistics") %>
