<%- include("../partials/header-user") %>

<!-- clean this bullshit design -->
<div class="">
  <!-- CONTENT -->
  <!-- First widget has to be shown just once. It's a "what's new". The user must be able to close this widget.-->
  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 mx-4 w-100">
      <div class="d-flex flex-row justify-content-between mx-2">
        <!-- Second Widget on dashboard//home-->
        <% if (notification) { %>
          <div class="widget-100 notification">
            <div class=" d-flex flex-row justify-content-between mt-2 pt-1">
              <div class="d-flex flex-row align-items-center">
                <h5 class="mb-0 py-1 ml-3 mt-2"><%= __("What's new?") %></h5>
              </div>
              <a onclick="removeNotification()" href="#!" class="mr-2">
                <img src="/imgs/icons/close-white.svg" class="py-1 imagen-widget" alt="Close">
              </a>
            </div>
            <!-- Content of "Whats new" goes here!-->
            <!-- My idea (Jaume) is to put maximum 3 new features and if the user wants to see more, put that info in another page -->
            <div class="mb-2">
              <p class="mx-3 mt-1 mb-0">
                <%= __('Here you will find all the new stuff that we are introducing to Neilit. If you want to know everything that we\'ve introduced over time, click on "Everything that\'s new" button.') %>
              </p>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center pb-3">
              <a href="/resources" class="news mx-3 px-3">
                <%= __('Everything that\'s new') %>
              </a>
              <a id="send-suggestion" href="#!" class="suggest mx-3 px-3">
                <%= __('Suggest features') %>
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 w-100">
      <div class="d-flex flex-row justify-content-between">
        <!--PRIMER WIDGET PRIMERA LINEA || PROFITS-->
        <div class="neilit-widget widget-tercio mx-2">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <img src="/imgs/icons/balance.svg" class="mx-2 py-1 imagen-widget" alt="profits">
              <h5 class="mb-0 py-1"><%= __('Current Balance') %></h5>
            </div>
          </div>
          <!--PARTE CENTRAL DEL WIDGET-->
          <a href="#" class="">
            <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
              <div class="parte-central">
                <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
                <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
                <h1 class="data-widget"><%= dashboardData.currentAmount%> <%=dashboardData.base%></h1>
              </div>
              <% if (Number.isNaN(dashboardData.currentPercent)) { %>
                <div>
                  <p class="pill pill-yellow font-16">N/A%</p>
                </div>
              <% } else { %>
                <div>
                  <% if (dashboardData.currentPercent >= 0) { %>
                    <p class="pill pill-verde font-16"><img src="/imgs/icons/trending-up-green.svg" class="imagen-widget-grande mr-2">
                  <% } else { %>
                    <p class="pill pill-roja font-16"><img src="/imgs/icons/trending-down-red.svg" class="imagen-widget-grande mr-2">
                  <% } %>
                    <%= dashboardData.currentPercent %>%</p>
                </div>
              <% } %>
            </div>
          </a>
          <!--PARTE INFERIOR DEL WIDGET-->
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="bottom" title="<%= __('Current account balance. Neilit calculates this data based on the registered trades.') %>">
              </div>
            </a>
          </div>
        </div>
        <div class="neilit-widget widget-tercio mx-2">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <img src="/imgs/icons/star.svg" class="mx-2 py-1 imagen-widget" alt="profits">
              <h5 class="mb-0 py-1"><%= __('Biggest Trade') %></h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#!" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dd" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= __('All') %>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dd">
                    <li onclick="getBiggest('today')"><%= __('Today') %></li>
                    <li onclick="getBiggest('cweek')"><%= __('Current week') %></li>
                    <li onclick="getBiggest('lweek')"><%= __('Last week') %></li>
                    <li onclick="getBiggest('cmonth')"><%= __('Current month') %></li>
                    <li onclick="getBiggest('lmonth')"><%= __('Last month') %></li>
                    <li onclick="getBiggest('cquarter')"><%= __('Current quarter') %></li>
                    <li onclick="getBiggest('lquarter')"><%= __('Last quarter') %></li>
                    <li onclick="getBiggest('all')"><%= __('All') %></li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <!--PARTE CENTRAL DEL WIDGET-->
          <a href="#" class="">
            <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
              <div class="parte-central">
                <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
                <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
                <h1 id="biggest-pair" class="data-widget"><%= dashboardData.biggestPair %></h1>
              </div>
              <div>
                <p id="biggest-percent" class="pill pill-yellow font-16">
                  <%= dashboardData.biggestPercent.toFixed(2) %>%
                </p>
              </div>
            </div>
          </a>
          <!--PARTE INFERIOR DEL WIDGET-->
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="bottom" title="<%= __('Biggest trade made on the selected period of time. Neilit calculates this data based on the recorded operations.') %>">
              </div>
            </a>
          </div>
        </div>
        <div class="neilit-widget widget-tercio mx-2">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <img src="/imgs/icons/folder.svg" class="mx-2 py-1 imagen-widget" alt="profits">
              <h5 class="mb-0 py-1"><%= __('Total Entries') %></h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dd" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= __('All') %>
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dd">
                    <li onclick="getTotal('today')"><%= __('Today') %></li>
                    <li onclick="getTotal('cweek')"><%= __('Current week') %></li>
                    <li onclick="getTotal('lweek')"><%= __('Last week') %></li>
                    <li onclick="getTotal('cmonth')"><%= __('Current month') %></li>
                    <li onclick="getTotal('lmonth')"><%= __('Last month') %></li>
                    <li onclick="getTotal('cquarter')"><%= __('Current quarter') %></li>
                    <li onclick="getTotal('lquarter')"><%= __('Last quarter') %></li>
                    <li onclick="getTotal('all')"><%= __('All') %></li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <!--PARTE CENTRAL DEL WIDGET-->
          <a href="#" class="">
            <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
              <div class="parte-central">
                <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
                <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
                <h1 id="total-entries" class="data-widget"><%= dashboardData.total %></h1>
              </div>
              <div>
                <% if (isNaN(parseFloat(dashboardData.rate))) { %>
                  <p id="win-rate" class="pill pill-yellow font-16">N/A% <%= __('wins') %></p>
                <% } else { %>
                  <p id="win-rate" class="pill pill-yellow font-16"><%= dashboardData.rate %>% <%= __('wins') %></p>
                <% } %>
              </div>
            </div>
          </a>
          <!--PARTE INFERIOR DEL WIDGET-->
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="bottom" title="<%= __('Total entries and its win rate in the selected period of time. Neilit calculates this data based on the recorded operations.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 w-100">
      <div class="mt-2 mx-2">
        <!-- Second Widget on dashboard//home-->
        <div class="neilit-widget widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="/imgs/icons/wallet.svg" class="mx-2 py-1 imagen-widget" alt="Outcome">
              <h5 class="mb-0 py-1"><%= __('Outcome') %></h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dd" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= __('All') %>
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dd">
                    <li onclick="return false;"><%= __('Today') %></li>
                    <li onclick="return false;"><%= __('Current week') %></li>
                    <li onclick="return false;"><%= __('Last week') %></li>
                    <li onclick="return false;"><%= __('Current month') %></li>
                    <li onclick="return false;"><%= __('Last month') %></li>
                    <li onclick="return false;"><%= __('Current quarter') %></li>
                    <li onclick="return false;"><%= __('Last quarter') %></li>
                    <li onclick="return false;"><%= __('All') %></li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <div class="">
            <div class="container-graph px-3 mt-2">
              <canvas id="resultsChart" width="300" height="250"></canvas>
            </div>
          </div>
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 py-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="<%= __('Operation outcomes distributed through a monthly grid.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 w-100">
      <div class="mt-2 mx-2">
        <!-- Third Widget on dashboard//home-->
        <div class="neilit-widget widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="/imgs/icons/open-ops.svg" class="mx-2 py-1 imagen-widget" alt="Outcome">
              <h5 class="mb-0 py-1"><%= __('Open positions') %></h5>
            </div>
          </div>
          <div class="">
            <div class="mb-2 mt-3 w-100">
              <div class="parte-central">
                <!-- Every row of the table must be linked to the details of that operation.  -->
                <!-- IMPORTANT: The user must be able to sort and order the open positions by every column -->
                <table class="table table-hover table-borderless font-16 text-center">
                  <thead>
                    <tr class="pb-4">
                      <th><%= __('Asset') %></th>
                      <th><%= __('Lots') %></th>
                      <th><%= __('Direction') %></th>
                      <th><%= __('Entry date') %></th>
                      <th><%= __('Entry price') %></th>
                      <th><%= __('Current price') %></th>
                      <th><%= __('Open result') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (const ops in dashboardOps) { %>
                      <tr>
                        <th scope="row" class="align-middle"><%= dashboardOps[ops].pair %></th>
                        <!-- Lot -->
                        <td><%= dashboardOps[ops].lot %></td>
                        <!-- Direction -->
                        <td>
                          <div class=" d-flex flex-row justify-content-center">
                            <% if (dashboardOps[ops].direction == 'long') { %>
                              <p class="mb-0 pill pill-roja pill-direction">
                                <img src="/imgs/icons/trending-down-red.svg" class="py-1 img-direction" alt="direction">
                                <%= __('Short') %>
                              </p>
                            <% } else { %>
                              <p class="mb-0 pill pill-roja pill-direction">
                                <img src="/imgs/icons/trending-up-green.svg" class="py-1 img-direction" alt="direction">
                                <%= __('Long') %>
                              </p>
                            <% } %>
                          </div>
                        </td>
                        <!-- Entry date -->
                        <td><%= dashboardOps[ops].date %></td>
                        <!-- Entry price -->
                        <td><%= dashboardOps[ops].entry %></td>
                        <!-- Current price -->
                        <td>---</td>
                        <!-- Open result -->
                        <td>
                          <div class=" d-flex flex-row justify-content-center">
                            <p class="mb-0 pill pill-roja pill-direction">
                              ---
                            </p>
                          </div>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
                <a href="#!">
                  <div class="d-flex flex-row justify-content-center align-items-center">
                    <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="<%= __('Displays the current open operations. This trades need closure to be taken in account in the statistics.') %>">
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="">
            <!-- Poner un boton que lleve a una p치gina con m치s detalles de las operaciones -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex flex-row justify-content-center mb-4">
    <div class="container-global mt-2 w-100">
      <div class="mt-2 mx-2">
        <!-- Third Widget on dashboard//home-->
        <div class="neilit-widget widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="/imgs/icons/flag.svg" class="mx-2 py-1 imagen-widget" alt="Outcome">
              <h5 class="mb-0 py-1"><%= __('Goals') %></h5>
            </div>
            <a href="#!" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dd" class="grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= __('Options') %>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button type="button" data-toggle="modal" data-target="#accountBalance" onclick="return false;"><%= __('Account to') %></button>
                    </li>
                    <li>
                      <button type="button" data-toggle="modal" data-target="#monthlyNumber" onclick="return false;"><%= __('Monthly trades') %></button>
                    </li>
                    <li>
                      <button type="button" data-toggle="modal" data-target="#weeklyPer" onclick="return false;"><%= __('Weekly') %> %</button>
                    </li>
                    <li>
                      <button type="button" data-toggle="modal" data-target="#monthlyPer" onclick="return false;"><%= __('Monthly') %> %</button>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
            <!-- modal -->
            <div class="modal fade" id="accountBalance" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Select an amount to set as balance target') %></h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="1"><%= dashboardData.base %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="monthlyNumber" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Select an amount of trades as monthly target') %></h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="1">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="weeklyPer" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Select a % return as weekly target') %></h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="0.01">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="monthlyPer" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content neilit-widget">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= __('Select a % return as monthly target') %></h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="0.01">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-2">
            <div class="mt-3 w-100 px-3">
              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <!-- Cambiar el tipo de fuente del nombre de los objetivos-->
                <!-- Talvez tengamos que limitar el numero de caracteres del nombre del objetivo-->
                <div class="no-wrap mr-2">
                  <%= __('Account to') %> 50K <%= dashboardData.base %>
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100">
                  <% var to50 = parseInt(dashboardData.currentAmount.replace(/,/g, '')) / 50000 * 100 %>
                  <% if (to50 > 100) { to50 = 100; } %>
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: <%= to50 %>%"><%= to50 %>%</div>
                </div>
              </div>
              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <div class="no-wrap mr-2">
                  50 <%= __('monthly trades') %>
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100">
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: 40%"></div>
                </div>
              </div>

              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <div class="no-wrap mr-2">
                  5<%= __('% weekly') %>
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100">
                  <% var to5Per = weekFive / 5 * 100 %>
                  <% if (to5Per > 100) { to5Per = 100; } %>
                  <% if (to5Per < 0) { to5Per = 0; } %>
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: <%= to5Per %>%"><%= to5Per %>%</div>
                </div>
              </div>
              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <div class="no-wrap mr-2">
                  20<%= __('% monthly') %>
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100">
                  <% var to20Per = monthTwenty / 20 * 100 %>
                  <% if (to20Per > 100) { to20Per = 100; } %>
                  <% if (to20Per < 0) { to20Per = 0; } %>
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: <%= to20Per %>%"><%= to20Per %>%</div>
                </div>
                <!-- END of 1st Goal -->
              </div>
            </div>
          </div>
          <div class="">
            <!-- Poner un boton que lleve a una p치gina con m치s detalles de las operaciones -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var currentUser = <%- JSON.stringify(currentUser); %>
  var outcomeMonthAmount = <%- JSON.stringify(outcomeMonthAmount); %>
  var outcomeMonthTotal = <%- JSON.stringify(outcomeMonthTotal); %>
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-user") %>
