<%- include("../partials/header-user") %>

<!-- clean this bullshit design -->
<div class="">
  <!-- CONTENT -->
  <!-- First widget has to be shown just once. It's a "what's new". The user must be able to close this widget.-->
  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 mx-4 w-100">
      <div class="d-flex flex-row justify-content-between mx-2">
        <!-- Second Widget on dashboard//home-->
        <% if (notification) { %>
          <div class="widget-100 container-updates notification">
            <div class=" d-flex flex-row justify-content-between mt-2 pt-1">
              <div class="d-flex flex-row align-items-center">
                <h5 class="mb-0 py-1 ml-3 mt-2"><%= __("What's new?") %></h5>
              </div>
              <a onclick="removeNotification()" href="#!" class="mr-2">
                <img src="/imgs/icons/close-white.svg" class="py-1 imagen-widget opacity-1" alt="Close">
              </a>
            </div>
            <!-- Content of "Whats new" goes here!-->
            <!-- My idea (Jaume) is to put maximum 3 new features and if the user wants to see more, put that info in another page -->
            <div class="mb-2">
              <p class="mb-0 features-text mx-3 mt-1">
                <%= __('Here you will find all the new stuff that we are introducing to Neilit. If you want to know everything that we\'ve introduced over time, click on "Everything that\'s new" button.') %>
              </p>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center pb-3">
              <a href="/resources" class="news mx-3 px-3 font-16">
                <%= __('Everything that\'s new') %>
              </a>
              <a id="send-suggestion" href="#!" class="suggest mx-3 px-3 font-16">
                <%= __('Suggest features') %>
              </a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 w-100">
      <div class="d-flex flex-row justify-content-between">
        <!--PRIMER WIDGET PRIMERA LINEA || PROFITS-->
        <div class="widget-tercio mx-2">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <img src="/imgs/icons/profits.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
              <h5 class="mb-0 py-1"><%= __('Current Balance') %></h5>
            </div>
          </div>
          <!--PARTE CENTRAL DEL WIDGET-->
          <a href="#" class="">
            <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
              <div class="parte-central">
                <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
                <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
                <h1 class="black-h1"><%= dashboardData.currentAmount%> <%=dashboardData.base%></h1>
              </div>
              <% if (Number.isNaN(dashboardData.currentPercent)) { %>
                <div>
                  <p class="pill pill-yellow font-16">N/A%</p>
                </div>
              <% } else { %>
                <div>
                  <% if (dashboardData.currentPercent >= 0) { %>
                    <p class="pill pill-verde font-16"><img src="/imgs/icons/trending-up-green.svg" class="imagen-widget-grande mr-2">
                  <% } else { %>
                    <p class="pill pill-roja font-16"><img src="/imgs/icons/trending-down-red.svg" class="imagen-widget-grande mr-2">
                  <% } %>
                    <%= dashboardData.currentPercent %>%</p>
                </div>
              <% } %>
            </div>
          </a>
          <!--PARTE INFERIOR DEL WIDGET-->
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
            <a href="#">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
              </div>
            </a>
          </div>
        </div>
        <div class="widget-tercio mx-2">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <img src="/imgs/icons/star.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
              <h5 class="mb-0 py-1"><%= __('Biggest Trade') %></h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#!" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li onclick="getBiggest('today')">Today</li>
                    <li onclick="getBiggest('cweek')">Current week</li>
                    <li onclick="getBiggest('lweek')">Last week</li>
                    <li onclick="getBiggest('cmonth')">Current month</li>
                    <li onclick="getBiggest('lmonth')">Last month</li>
                    <li onclick="getBiggest('cquarter')">Current quarter</li>
                    <li onclick="getBiggest('lquarter')">Last quarter</li>
                    <li onclick="getBiggest('all')">All</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <!--PARTE CENTRAL DEL WIDGET-->
          <a href="#" class="">
            <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
              <div class="parte-central">
                <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
                <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
                <h1 id="biggest-pair" class="black-h1"><%= dashboardData.biggestPair %></h1>
              </div>
              <div>
                <p id="biggest-percent" class="pill pill-yellow font-16">
                  <%= dashboardData.biggestPercent.toFixed(2) %>%
                </p>
              </div>
            </div>
          </a>
          <!--PARTE INFERIOR DEL WIDGET-->
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
              </div>
            </a>
          </div>
        </div>
        <div class="widget-tercio mx-2">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <img src="/imgs/icons/folder.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="profits">
              <h5 class="mb-0 py-1"><%= __('Total Entries') %></h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li onclick="getTotal('today')">Today</li>
                    <li onclick="getTotal('cweek')">Current week</li>
                    <li onclick="getTotal('lweek')">Last week</li>
                    <li onclick="getTotal('cmonth')">Current month</li>
                    <li onclick="getTotal('lmonth')">Last month</li>
                    <li onclick="getTotal('cquarter')">Current quarter</li>
                    <li onclick="getTotal('lquarter')">Last quarter</li>
                    <li onclick="getTotal('all')">All</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <!--PARTE CENTRAL DEL WIDGET-->
          <a href="#" class="">
            <div class="mb-2 mt-3 d-flex flex-column justify-content-center align-items-center">
              <div class="parte-central">
                <!--AQUI TIENE QUE IR EL BENEFICIO TOTAL DE LAS OPERACIONES-->
                <!--EN EL SPAN DE LA MONEDA DEBEMOS COLOCAR LA MONEDA QUE HAYA SELECCIONADO EL USUARIO EN SETTINGS-->
                <h1 id="total-entries" class="black-h1"><%= dashboardData.total %></h1>
              </div>
              <div>
                <% if (isNaN(parseFloat(dashboardData.rate))) { %>
                  <p id="win-rate" class="pill pill-yellow font-16">N/A% wins</p>
                <% } else { %>
                  <p id="win-rate" class="pill pill-yellow font-16"><%= dashboardData.rate %>% wins</p>
                <% } %>
              </div>
            </div>
          </a>
          <!--PARTE INFERIOR DEL WIDGET-->
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 w-100">
      <div class="mt-2 mx-2">
        <!-- Second Widget on dashboard//home-->
        <div class="widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="/imgs/icons/wallet.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="Outcome">
              <h5 class="mb-0 py-1">Outcome</h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li onclick="return false;">Today</li>
                    <li onclick="return false;">Current week</li>
                    <li onclick="return false;">Last week</li>
                    <li onclick="return false;">Current month</li>
                    <li onclick="return false;">Last month</li>
                    <li onclick="return false;">Current quarter</li>
                    <li onclick="return false;">Last quarter</li>
                    <li onclick="return false;">All</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <div class="">
            <div class="container-graph px-3 mt-2">
              <canvas id="resultsChart" width="300" height="250"></canvas>
            </div>
          </div>
          <div class="inferior-widget d-flex flex-row justify-content-end px-2 py-1 mb-1">
            <a href="#!">
              <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center mb-1">
    <div class="container-global mt-2 w-100">
      <div class="mt-2 mx-2">
        <!-- Third Widget on dashboard//home-->
        <div class="widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="/imgs/icons/open-ops.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="Outcome">
              <h5 class="mb-0 py-1">Open positions</h5>
            </div>
          </div>
          <div class="">
            <div class="mb-2 mt-3 w-100">
              <div class="parte-central">
                <!-- Every row of the table must be linked to the details of that operation.  -->
                <!-- IMPORTANT: The user must be able to sort and order the open positions by every column -->
                <table class="table table-hover table-borderless font-16 text-center">
                  <thead>
                    <tr class="pb-4">
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="En esta columna se muestran todos los activos con almenos una operación cerrada">Asset</th>
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de entradas con cada timeframe como principal.">Lots</th>
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de entradas con cada timeframe como principal.">Direction</th>
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="Resultado medio en cada timeframe">Entry date</th>
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="Número de operaciones ganadoras">Entry price</th>
                      <!-- CURRENT PRICE | Check price with API -->
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="Check those numbers with your broker">Current price</th>
                      <!-- OPEN RESULT | Check price with API -->
                      <!-- SPANISH: Supongo que API proporcionará un cierto formato. Forzar al usuario a utilizar ese mismo formato para que podamos realizar comparaciones. -->
                      <th scope="col" data-toggle="tooltip" data-placement="top" title="Check those numbers with your broker.">Open result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (const ops in dashboardOps) { %>
                      <tr>
                        <th scope="row" class="align-middle"><%= dashboardOps[ops].pair %></th>
                        <!-- Lot -->
                        <td><%= dashboardOps[ops].lot %></td>
                        <!-- Direction -->
                        <td>
                          <div class=" d-flex flex-row justify-content-center">
                            <% if (dashboardOps[ops].direction == 'long') { %>
                              <p class="mb-0 pill pill-roja pill-direction">
                                <img src="/imgs/icons/trending-down-red.svg" class="py-1 imagen-widget opacity-1" alt="direction">
                                Short
                              </p>
                            <% } else { %>
                              <p class="mb-0 pill pill-roja pill-direction">
                                <img src="/imgs/icons/trending-up-green.svg" class="py-1 imagen-widget opacity-1" alt="direction">
                                Long
                              </p>
                            <% } %>
                          </div>
                        </td>
                        <!-- Entry date -->
                        <td><%= dashboardOps[ops].date %></td>
                        <!-- Entry price -->
                        <td><%= dashboardOps[ops].entry %></td>
                        <!-- Current price -->
                        <td>---</td>
                        <!-- Open result -->
                        <td>
                          <div class=" d-flex flex-row justify-content-center">
                            <p class="mb-0 pill pill-roja pill-direction">
                              ---
                            </p>
                          </div>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="inferior-widget d-flex flex-row justify-content-end px-2 pt-1 mb-1">
                <a href="#!">
                  <div class="d-flex flex-row justify-content-center align-items-center">
                    <img src="/imgs/icons/help.svg" class="mx-2 py-1 imagen-widget mb-0 pb-0 imagen-info" data-toggle="tooltip" data-placement="top" title="Beneficio obtenido en la temporalidad seleccionada. Neilit calcula este dato en base a las operaciones que registras en la plataforma." alt="alt">
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="">
            <!-- Poner un boton que lleve a una página con más detalles de las operaciones -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex flex-row justify-content-center mb-4">
    <div class="container-global mt-2 w-100">
      <div class="mt-2 mx-2">
        <!-- Third Widget on dashboard//home-->
        <div class="widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="/imgs/icons/flag.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="Outcome">
              <h5 class="mb-0 py-1">Goals</h5>
            </div>
            <a href="#!" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button type="button" data-toggle="modal" data-target="#accountBalance" onclick="return false;">Account to</button>
                    </li>
                    <li>
                      <button type="button" data-toggle="modal" data-target="#monthlyNumber" onclick="return false;">Monthly trades</button>
                    </li>
                    <li>
                      <button type="button" data-toggle="modal" data-target="#weeklyPer" onclick="return false;">Weekly %</button>
                    </li>
                    <li>
                      <button type="button" data-toggle="modal" data-target="#monthlyPer" onclick="return false;">Monthly %</button>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
            <!-- modal -->
            <div class="modal fade" id="accountBalance" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Select an amount to set as balance target</h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="1"><%= dashboardData.base %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal">Apply</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="monthlyNumber" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Select an amount of trades as monthly target</h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="1">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal">Apply</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="weeklyPer" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Select a % return as weekly target</h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="0.01">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal">Apply</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="monthlyPer" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Select a % return as monthly target</h5>
                  </div>
                  <div class="modal-body">
                    <input id="" type="number" min="0" step="0.01">
                  </div>
                  <div class="modal-footer">
                    <button type="button" onclick="" class="btn-neilit" data-dismiss="modal">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-2">
            <div class="mt-3 w-100 px-3">
              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <!-- Cambiar el tipo de fuente del nombre de los objetivos-->
                <!-- Talvez tengamos que limitar el numero de caracteres del nombre del objetivo-->
                <div class="no-wrap mr-2">
                  Account to 50K <%= dashboardData.base %>
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100 border">
                  <% var to50 = parseInt(dashboardData.currentAmount.replace(/,/g, '')) / 50000 * 100 %>
                  <% if (to50 > 100) { to50 = 100; } %>
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: <%= to50 %>%"><%= to50 %>%</div>
                </div>
              </div>
              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <div class="no-wrap mr-2">
                  50 monthly trades
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100 border">
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: 40%"></div>
                </div>
              </div>

              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <div class="no-wrap mr-2">
                  5% weekly
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100 border">
                  <% var to5Per = weekFive / 5 * 100 %>
                  <% if (to5Per > 100) { to5Per = 100; } %>
                  <% if (to5Per < 0) { to5Per = 0; } %>
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: <%= to5Per %>%"><%= to5Per %>%</div>
                </div>
              </div>
              <div class="parte-central d-flex justify-content-center align-items-center mb-3">
                <!-- Start of 1st Goal-->
                <div class="no-wrap mr-2">
                  20% monthly
                </div>
                <!-- In order for the progress-bar to work, must be a "div inside a div"-->
                <div class="progress w-100 border">
                  <% var to20Per = monthTwenty / 20 * 100 %>
                  <% if (to20Per > 100) { to20Per = 100; } %>
                  <% if (to20Per < 0) { to20Per = 0; } %>
                  <div class="progress-bar progress-bar-orange" role="progressbar" style="width: <%= to20Per %>%"><%= to20Per %>%</div>
                </div>
                <!-- END of 1st Goal -->
              </div>
            </div>
          </div>
          <div class="">
            <!-- Poner un boton que lleve a una página con más detalles de las operaciones -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var currentUser = <%- JSON.stringify(currentUser); %>
  var outcomeMonthAmount = <%- JSON.stringify(outcomeMonthAmount); %>
  var outcomeMonthTotal = <%- JSON.stringify(outcomeMonthTotal); %>
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-user") %>
