<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="pt-4 mx-4">
    <section>
      <div class="container">
        <h2 class="mx-auto"><%= __('Backtest') %></h2>
        <div class="journal-box px-0 py-3">
          <table id="index-table" class="table table-borderless table-hover">
            <thead>
              <tr class="table-header">
                <th scope="col"><%= __('Date') %></th>
                <th scope="col"><%= __('Outcome type') %></th>
                <th scope="col"><%= __('Pair') %></th>
                <th scope="col"><%= __('Strategy') %></th>
                <th scope="col"><%= __('Timeframe') %></th>
              </tr>
            </thead>
            <tbody>
              <% dataList.forEach((backtest) => { %>
                <tr onclick="document.location = '/<%= currentUser.username %>/journal/backtest/<%= backtest.id %>'">
                  <td><%= backtest.date %></td>
                  <td><%= backtest.result %></td>
                  <% if (backtest.aPair != null) { %>
                    <td><span class="pill pill-yellow"><%= backtest.aPair %></span></td>
                  <% } else { %>
                    <td><%= __('Multiple') %></td>
                  <% } %>
                  <% if (backtest.aStrategy != null) { %>
                    <td><span class="pill pill-yellow"><%= backtest.aStrategy %></span></td>
                  <% } else { %>
                    <td><%= __('Multiple') %></td>
                  <% } %>
                  <% if (backtest.aTimeframe != null) { %>
                    <td><span class="pill pill-yellow"><%= backtest.aTimeframe %></span></td>
                  <% } else { %>
                    <td><%= __('Multiple') %></td>
                  <% } %>
                </tr>
              <% }); %>
            </tbody>
          </table>
          <div class="d-flex mx-3">
            <a href="/<%= currentUser.username %>/journal/backtest/new" class="btn-neilit"><%= __('New') %></a>
          </div>
        </div>
      </div>
    </section>
  </div>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/backtest.js"></script>

<%- include("../../../partials/footer-log") %>
