<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mx-auto mb-5">
    <div class="journal-box px-0">
      <form action="/<%= currentUser.username %>/journal/backtest" method="POST">
        <h3 class="mx-3"><%= __('Create Backtesting') %></h3>
        <hr>
        <div class="mx-3 mb-3 form-fields backtest-fields">
          <h5><%= __('Pairs') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Multiple pairs') %>
              <input type="radio" name="pairs" value="0" onclick="letPair(false)" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="d-inline-block checkbox-orange mb-1">
              <%= __('Single pair') %>:
              <input type="radio" name="pairs" value="1" onclick="letPair(true)">
              <span class="checkmark"></span>
            </label>
            <input type="text" name="selectPair" value="<%= currencies[Object.keys(currencies)[0]].id %>" class="dropdown-server d-none">
            <!-- dropdown -->
            <div id="dropdown-pairs" class="dropdown d-none">
              <button id="dropdown-label" class="pairs dropdown-select p-1 px-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= Object.keys(currencies)[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <% Object.keys(currencies).forEach((key) => { %>
                  <li class="<%= currencies[key].id %>"><%= key %></li>
                <% }) %>
              </ul>
            </div>
          </span>
        </div>
        <div class="mx-3 mb-3">
          <h5><%= __('Direction') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Long and Short') %>
              <input type="radio" name="direction" value="0" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Only Long') %>
              <input type="radio" name="direction" value="1">
              <span class="checkmark"></span>
            </label>
          </span>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Only Short') %>
              <input type="radio" name="direction" value="-1">
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
        <div class="mx-3 mb-3">
          <h5><%= __('Operation\'s results') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('In Risk-Reward ratio (R)') %>
              <input type="radio" name="outcome" value="R">
              <span class="checkmark"></span>
            </label>
          </span>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('In Percentage (%)') %>
              <input type="radio" name="outcome" value="%">
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
        <br>
        <h3 class="mx-3"><%= __('Specifics') %></h3>
        <hr>
        <div class="mx-3 mb-3 form-fields backtest-fields">
          <h5><%= __('Timeframes') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Multiple timeframes') %>
              <input type="radio" name="timeframe" value="0" onclick="letTimeframe(false)" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="d-inline-block checkbox-orange mb-1">
              <%= __('Single timeframe') %>:
              <input type="radio" name="timeframe" value="1" onclick="letTimeframe(true)">
              <span class="checkmark"></span>
            </label>
            <input type="text" name="selectTimeframe" value="1" class="dropdown-server d-none">
            <!-- dropdown -->
            <div id="dropdown-timeframes" class="dropdown d-none">
              <button id="dropdown-label" class="timeframes dropdown-select p-1 px-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= timeframes[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <% for (var i = 0; i < timeframes.length; i++) { %>
                  <li class="<%= i + 1 %>"><%= timeframes[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
        </div>
        <div class="mx-3 mb-3 form-fields backtest-fields">
          <h5><%= __('Strategies') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Multiple strategies') %>
              <input type="radio" name="strategy" value="0" onclick="letStrategy(false)" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="d-inline-block checkbox-orange mb-1">
              <%= __('Single strategy') %>:
              <input type="radio" name="strategy" value="1" onclick="letStrategy(true)">
              <span class="checkmark"></span>
            </label>
            <input type="text" name="selectStrategy" value="<%= strategiesID[0] %>" class="dropdown-server d-none">
            <!-- dropdown -->
            <div id="dropdown-strategies" class="dropdown d-none">
              <button id="dropdown-label" class="strategies dropdown-select p-1 px-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= strategies[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <% for (var i = 0; i < strategies.length; i++) { %>
                  <li class="<%= strategiesID[i] %>"><%= strategies[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
        </div>
        <br>
        <h3 class="mx-3"><%= __('Addons') %></h3>
        <hr>
        <div class="mx-3">
          <div id="addons">
            <!-- backtest addons go here -->
          </div>
          <button id="addon" class="d-flex align-items-center" type="button" onclick="addList();">
            <img src="/imgs/icons/add.svg" class="mr-1" alt="create a new addon">
            <%= __('Add a parameter') %>
          </button>
        </div>
        <div class="d-flex justify-content-end mx-3">
          <button id="submit-backtest" type="submit" class="btn-neilit"><%= __('Create') %></button>
        </div>
      </form>
    </div>
  </div>

<script type="text/javascript">
  var addons = <%- JSON.stringify(addons) %>;
  var backtest = null;
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/backtest.js"></script>

<%- include("../../../partials/footer-log") %>
