<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mt-3 mb-5 mx-auto">
    <div class="journal-box px-0">
      <form action="/<%= currentUser.username %>/journal/backtest" method="POST">
        <h3 class="mx-3"><%= __('Create Backtesting') %></h3>
        <hr>
        <div class="mx-3 mb-3">
          <h5><%= __('Pairs') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Multiple pairs') %>
              <input type="radio" name="pairs" value="0" onclick="letPair(false);" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="input-group">
            <label class="checkbox-orange my-auto mr-2">
              <%= __('Single pair') %>
              <input type="radio" name="pairs" value="1" onclick="letPair(true);">
              <span class="checkmark"></span>
            </label>
            <input type="text" name="selectPair" value="1" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dropdown-label" class="pairs dropdown-select p-0 px-2 disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= currencies[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="Search..." onkeyup="searchDropdown(this)">
                <% for (var i = 0; i < currencies.length; i++) { %>
                  <li class="<%= i + 1 %>"><%= currencies[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
        </div>
        <div class="mx-3 mb-3">
          <h5><%= __('Direction') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Long and Short') %>
              <input type="radio" name="direction" value="0" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Only Long') %>
              <input type="radio" name="direction" value="1">
              <span class="checkmark"></span>
            </label>
          </span>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Only Short') %>
              <input type="radio" name="direction" value="-1">
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
        <div class="mx-3 mb-3">
          <h5><%= __('Operation\'s results') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('In Risk-Reward ratio (R)') %>
              <input type="radio" name="outcome" value="R">
              <span class="checkmark"></span>
            </label>
          </span>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('In Percentage (%)') %>
              <input type="radio" name="outcome" value="%">
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
        <br>
        <h3 class="mx-3"><%= __('Specifics') %></h3>
        <hr>
        <div class="mx-3 mb-3">
          <h5><%= __('Timeframes') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Multiple timeframes') %>
              <input type="radio" name="timeframe" value="0" onclick="letTimeframe(false);" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="input-group">
            <label class="checkbox-orange my-auto mr-2">
              <%= __('Single timeframe') %>
              <input type="radio" name="timeframe" value="1" onclick="letTimeframe(true);">
              <span class="checkmark"></span>
            </label>
            <input type="text" name="selectTimeframe" value="1" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dropdown-label" class="timeframes dropdown-select p-0 px-2 disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= timeframes[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="Search..." onkeyup="searchDropdown(this)">
                <% for (var i = 0; i < timeframes.length; i++) { %>
                  <li class="<%= i + 1 %>"><%= timeframes[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
        </div>
        <div class="mx-3 mb-3">
          <h5><%= __('Strategies') %></h5>
          <span>
            <label class="checkbox-orange my-auto">
              <%= __('Multiple strategies') %>
              <input type="radio" name="strategy" value="0" onclick="letStrategy(false);" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="input-group">
            <label class="checkbox-orange my-auto mr-2">
              <%= __('Single strategy') %>
              <input type="radio" name="strategy" value="1" onclick="letStrategy(true);">
              <span class="checkmark"></span>
            </label>
            <input type="text" name="selectStrategy" value="1" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown">
              <button id="dropdown-label" class="strategies dropdown-select p-0 px-2 disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= strategies[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="Search..." onkeyup="searchDropdown(this)">
                <% for (var i = 0; i < strategies.length; i++) { %>
                  <li class="<%= i + 1 %>"><%= strategies[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
        </div>
        <br>
        <h3 class="mx-3"><%= __('Addons') %></h3>
        <hr>
        <div class="mx-3">
          <div id="addons">
            <!-- backtest addons go here -->
          </div>
          <button id="addon" class="d-flex align-items-center" type="button" onclick="addList();">
            <img src="/imgs/icons/addon.svg" class="mr-1" alt="create a new addon">
            <%= __('Add a parameter') %>
          </button>
        </div>
        <div class="d-flex justify-content-end mx-3">
          <button id="submit-backtest" type="submit" class="btn-neilit"><%= __('Create') %></button>
        </div>
      </form>
    </div>
  </div>

<script type="text/javascript">
  var addons = <%- JSON.stringify(addons) %>;
  var backtest = null;
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/backtest.js"></script>

<%- include("../../../partials/footer-log") %>
