<%- include("../../partials/header-plan") %>

  <!-- CONTENT -->
  <section id="new-plan">
    <div class="container pt-4 mb-5 mx-auto">
      <div class="journal-box px-0">
        <form action="/<%= currentUser.username %>/plan" method="POST">
          <input id="title" class="w-100 mx-3" type="text" name="title" placeholder="<%= __('Title for the Trading Plan') %>">
          <hr>
          <div class="d-flex justify-content-between mx-3">
            <div id="document" class="w-100 pr-3">

              <!-- General Information -->
              <div id="general" class="mb-4 plan-fields">
                <h5><%= __('General Information') %></h5>
                <div id="broker" class="mb-1">
                  <span><%= __('Broker') %>:</span>
                  <input type="text" class="plan-input p-1 ml-1" name="broker" placeholder="<%= __('Name of your broker') %>">
                </div>
                <div id="charts" class="mb-1">
                  <span><%= __('Charts') %>:</span>
                  <input type="text" class="plan-input p-1 ml-1" name="charts" placeholder="<%= __('What charts do you use?') %>">
                </div>
                <div id="capital" class="mb-1">
                  <span><%= __('Trading Capital') %>:</span>
                  <input type="text" class="plan-input p-1 ml-1" name="capital" placeholder="<%= __('Trading capital available (in account base currency)') %>">
                </div>
                <div id="routine">
                  <span><%= __('Business Routine') %></span>
                  <div id="client-routine" class="diveditable bg-hover p-1" placeholder="<%= __('Explain your business routine') %>" contenteditable="true"></div>
                </div>
                <textarea id="server-routine" name="routine" class="d-none"></textarea>
              </div>

              <!-- Strategies -->
              <div id="strategy" class="mb-4 plan-fields">
                <h5><%= __('Strategies') %></h5>

              </div>
              <!-- backtest modal -->
              <div class="modal modal-backtest fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content text-center">
                    <div class="modal-header">
                      <h5 class="modal-title mx-auto"><%= __('Select a') %> <span class="orange"><%= __('backtest') %></span> <%= __('to cononect to the current strategy') %></h5>
                    </div>
                    <div class="modal-body d-flex flex-column">
                      <% backtests.title.forEach((backtest, i) => { %>
                        <a class="mt-2 bg-hover" data-dismiss="modal" onclick="connectBacktest(<%= i %>)"><%= backtest %></a>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Psychology -->
              <div id="psychology" class="mb-4 plan-fields">
                <h5><%= __('Psychology') %></h5>
                <div id="psychology-notes">
                  <span><%= __('Notes') %></span>
                  <div id="client-psychology" class="diveditable bg-hover p-1" placeholder="<%= __('Any additional notes on trading psychology?') %>'" contenteditable="true"></div>
                </div>
                <textarea id="server-psychology" name="psychology" class="d-none"></textarea>
                <input id="tips" type="checkbox" name="tips" class="d-none" checked>
              </div>

              <!-- Journaling -->
              <div id="journal" class="mb-4 plan-fields">
                <h5><%= __('Journaling') %></h5>
                <div id="journaling" class="mb-2">
                  <span><%= __('Journaling Process') %></span>
                  <div id="client-journaling" class="diveditable bg-hover p-1" placeholder="<%= __('How do you plan to journal?') %>'" contenteditable="true"></div>
                </div>
                <textarea id="server-journaling" name="journaling" class="d-none"></textarea>
                <div id="checklist">
                  <span class="d-flex align-items-center">
                    <%= __('Journaling Checklist') %>
                    <img class="info ml-2" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="<%= __('What items do you want to keep track of in your journal?') %>">
                  </span>
                  <div>
                    <input id="addTrack" class="plan-input p-1" type="text" placeholder="<%= __('Add something to include in you jouranl entries') %>">
                    <button type="button" class="float-right icon-btn px-0" onclick="addChecklist()">
                      <img src="/imgs/icons/add.svg">
                    </button>
                  </div>
                  <ul id="listJournalItems" class="pl-0 mb-2">

                  </ul>
                  <button class="btn-neilit" type="button" onclick="resetChecklist();"><%= __('Reset checklist') %></button>
                </div>
              </div>

              <!-- Objectives -->
              <div id="goals" class="mb-4">
                <h5><%= __('Objectives') %></h5>
                <div id="" class="input-group mb-2">
                  <input id="objective" type="text" class="form-control bg-hover p-1" aria-label="Choose an objective type" placeholder="<%= __('New Objective') %>">
                  <div class="input-group-append dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= __('Type') %></button>
                    <div id="dd-objectives" class="dropdown-menu py-0">
                      <a id="nonFinancialBtn" class="dropdown-item py-1" onclick="addGoal('objectiveNonfin')" href="#!">F<%= __('inancial Goal') %></a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a id="financialBtn" class="dropdown-item py-1" onclick="addGoal('objectiveFin')" href="#!"><%= __('Non-Financial Goal') %></a>
                    </div>
                  </div>
                </div>
                <div id="nonFinancialGoals">
                  <p class="mb-1">
                    <strong><%= __('Non-Financial Objectives') %></strong>
                  </p>
                  <ul id="objectiveNonfin" class="pl-0">

                  </ul>
                </div>
                <div id="financialGoals">
                  <p class="mb-1">
                    <strong><%= __('Financial Objectives') %></strong>
                  </p>
                  <ul id="objectiveFin" class="pl-0">

                  </ul>
                </div>
              </div>

              <!-- Others -->
              <div id="others" class="mb-2">
                <h5><%= __('Others') %></h5>
                <div id="strategy-revision" class="mb-1">
                  <span><%= __('Strategy Revision') %></span>
                  <div id="client-rstrategy" class="diveditable bg-hover p-1" placeholder="<%= __('Notes on the strategy revision process') %>" contenteditable="true"></div>
                </div>
                <textarea id="server-rstrategy" name="revisionStrategy" class="d-none"></textarea>
                <div id="journal-revision" class="mb-1">
                  <span><%= __('Journal Revision') %></span>
                  <div id="client-rjournal" class="diveditable bg-hover p-1" placeholder="<%= __('Notes on the journal revision process') %>" contenteditable="true"></div>
                </div>
                <textarea id="server-rjournal" name="revisionJournal" class="d-none"></textarea>
                <div id="plan-revision" class="mb-1">
                  <span><%= __('Trading Plan Revision') %></span>
                  <div id="client-rplan" class="diveditable bg-hover p-1" placeholder="<%= __('Notes on the trading plan revision process') %>" contenteditable="true"></div>
                </div>
                <textarea id="server-rplan" name="revisionPlan" class="d-none"></textarea>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-end mx-3">
            <button id="submit-plan" type="submit" class="btn-neilit">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </section>

<script type="text/javascript">
  var elements = <%- JSON.stringify(elements) %>;
  var backtests = <%- JSON.stringify(backtests) %>;
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../../partials/footer-plan") %>
