<%- include("../../partials/header-plan") %>

  <!-- CONTENT -->
  <section id="">
    <div class="container pt-4 mb-5 mx-auto">
      <div class="journal-box px-3">
        <h2 id="plan-title"><%= plan.title %></h2>
        <br>
        <% if (plan.broker != '' || plan.charts != '' || plan.capital != '' || plan.routine != '') { %>
          <h4 class="orange"><%= __('General Information') %></h4>
          <div>
            <ul class="px-0">
              <% if (plan.broker != '') { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Broker') %>:</label>
                  <span class="user-field"><%= plan.broker %></span>
                </li>
              <% } %>
              <% if (plan.charts != '') { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Charts') %>:</label>
                  <span class="user-field"><%= plan.charts %></span>
                </li>
              <% } %>
              <% if (plan.capital != '') { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Capital') %>:</label>
                  <span class="user-field"><%= plan.capital %></span>
                </li>
              <% } %>
              <% if (plan.routine != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Business Routine') %>:</label>
                  <p><%= plan.routine %></p>
                </li>
              <% } %>
            </ul>
          </div>
          <br>
        <% } %>
        <% for (const property in strategies) { %>
          <h4 class="orange"><%= strategies[property].name %></h4>
          <div>
            <ul class="px-0">
              <% if (strategies[property].main.about != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('About') %>:</label>
                  <p><%= strategies[property].main.about %></p>
                </li>
              <% } %>
              <% if (strategies[property].main.howto != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('How to Use') %>:</label>
                  <p><%= strategies[property].main.howto %></p>
                </li>
              <% } %>
              <% if (strategies[property].main.keynotes != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Key Notes') %>:</label>
                  <p><%= strategies[property].main.keynotes %></p>
                </li>
              <% } %>
              <% if (strategies[property].main.timeframe_id != null) { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Timeframes') %>:</label>
                  <span class="user-field"><%= timeframes[strategies[property].main.timeframe_id - 1] %></span>
                </li>
              <% } %>
              <% if (strategies[property].main.pair_id != null) { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Assets') %>:</label>
                  <span class="user-field"><%= pairs[strategies[property].main.pair_id - 1] %></span>
                </li>
              <% } %>
              <% if (strategies[property].main.risk != null) { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Risk Tolerance') %>:</label>
                  <span class="user-field"><%= strategies[property].main.risk %></span>
                </li>
              <% } %>
              <% if (strategies[property].main.backtest_id != null) { %>
                <li>
                  <label class="mr-1 font-weight-bold"><%= __('Backtest Sheet') %>:</label>
                  <a href="/<%= currentUser.username %>/journal/backtest/<%= strategies[property].main.backtest_id %>" class="user-field"><%= __('open') %></a>
                </li>
              <% } %>
              <% if (strategies[property].rules.length > 0) { %>
                <li>
                  <label class="font-weight-bold mb-2"><%= __('Positioning Rules') %>:</label>
                  <ol class="neilit-numbers">
                    <% strategies[property].rules.forEach((rule) => { %>
                      <li>
                        <% if (rule.title != '') { %>
                          <h5 class="orange d-inline-block ml-2"><%= rule.title %></h5>
                        <% } %>
                        <div class="ml-2">
                          <label class="mr-1 font-weight-bold"><%= __('Positioning Type') %>:</label>
                          <% if (rule.rule_type == 'tp-f') { %>
                            <span class="user-field"><% __('Absolute Take Profit') %></span>
                          <% } else if (rule.rule_type == 'tp-p') { %>
                            <span class="user-field"><% __('Partial Take Profit') %></span>
                          <% } else if (rule.rule_type == 'sl-f') { %>
                            <span class="user-field"><% __('Absolute Stop Loss') %></span>
                          <% } else { %>
                            <span class="user-field"><% __('Partial Stop Loss') %></span>
                          <% } %>
                        </div>
                        <% if (rule.amount != null) { %>
                          <div class="ml-2">
                            <label class="mr-1 font-weight-bold"><%= __('Amount') %>:</label>
                            <span class="user-field"><%= rule.amount %>%</span>
                          </div>
                        <% } %>
                        <% if (rule.order_type != null) { %>
                          <div class="ml-2">
                            <label class="mr-1 font-weight-bold"><%= __('Order Type') %>:</label>
                            <% if (rule.order_type == 'market') { %>
                              <span class="user-field"><%= __('Market order') %></span>
                            <% } else { %>
                              <span class="user-field"><%= __('Limit order') %></span>
                            <% } %>
                          </div>
                        <% } %>
                        <% if (rule.description != '') { %>
                          <div class="ml-2">
                            <label class="mr-1 font-weight-bold mb-0"><%= __('Description') %>:</label>
                            <p><%= rule.description %></p>
                          </div>
                        <% } %>
                      </li>
                    <% }); %>
                  </ol>
                </li>
              <% } %>
            </ul>
          </div>
          <br>
        <% } %>
        <% if (plan.psy_notes != '' || plan.psy_tips != 0) { %>
          <h4 class="orange"><%= __('Psychology') %></h4>
          <div>
            <ul class="px-0">
              <% if (plan.psy_notes != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Psychology Notes') %>:</label>
                  <p><%= plan.psy_notes %></p>
                </li>
              <% } %>
              <% if (plan.psy_tips != 0) { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Psychology Tips') %>:</label>
                  <ol>
                    <li class="mb-2">
                      <%= __('It is') %> <span class="orange"><%= __('more important to make money') %></span> <%= __('than to') %> <span class="orange"><%= __('be right') %></span>. <%= __('Therefore, there is nothing too expensive or too cheap') %>.
                      <%= __('Ever. Remember that oil went down to negative on 2020') %>.
                    </li>
                    <li class="mb-2">
                      <%= __('A game plan is a must. Before entering any operation, you have to know where will you take profit and where will you place your stop loss') %>.
                      <%= __('And it has to be as objective as possible') %>.
                    </li>
                    <li class="mb-2">
                      <span class="orange"><%= __('Trust your edge') %>.</span> <%= __('You will have 4 losing trades in a row and it is okay') %>. <span class="orange">
                      <%= __('Do not change your attitude') %></span> <%= __('towards trading. This is how a profit graph could potentially look') %>:<img class="d-block w-350" src="/imgs/profit_graph.png" alt="Profits Graph">
                    </li>
                    <li class="mb-2">
                      <%= __('Be aware that') %> <span class="orange"><%= __('being uncomfortable when trading is completely okay') %></span>. <%= __('It will never get easier') %>.
                      <%= __('You have to incomplete information; therefore, you will never be 100% comfortable') %>.
                    </li>
                    <li class="mb-2">
                      <span class="orange"><%= __('Do not') %></span> <%= __('try to make money by catching tops and bottoms') %>.
                    </li>
                    <li class="mb-2">
                      <%= __('Always remember that you, as a trader, also have the') %> <span class="orange"><%= __('right to make money') %></span> (<%= __('inner psychology') %>).
                    </li>
                    <li class="mb-2">
                      <span class="orange"><%= __('Do not') %></span> <%= __('be scared to change sides in the middle of a trade. Switch your directional bias when convenient and necessary') %>.
                      <%= __('Do not marry a side') %>.
                    </li>
                    <li class="mb-2">
                      <span class="orange"><%= __('Do not FOMO') %>!</span> <%= __('The market will open again tomorrow. It does not make sense to beat yourself over missing on something') %>.
                      <span class="orange"><%= __('New opportunities will come') %>.</span>
                    </li>
                    <li class="mb-2">
                      <%= __('Do not') %> <span class="orange"><%= __('EVER EVER EVER') %></span> <%= __('add to a losing position') %>.
                    </li>
                    <li class="mb-2">
                      <%= __('Cash is the goal. But never the measure of success. For instance, a measure of success would be') %>: <span class="orange"><%= __('did I follow my rules today') %>?</span>
                      <%= __('Even if it is a negative day in terms of cash flows it can still be a successful day') %>.
                    </li>
                    <li class="mb-2">
                      <span class="orange"><%= __('Read the right side of the chart instead of the left') %></span> (<%= __('it takes practice') %>). <%= __('Everybody knows how to see a Head and Shoulders after it has formed') %>.
                      Start by trying to anticipate the next candles of your most traded asset.
                    </li>
                    <li class="mb-2">
                      <%= __('You should be able to explain your edge to someone else in an elevator ride') %>. <span class="orange"><%= __('Otherwise you do not have an edge') %></span>.
                    </li>
                    <li class="mb-2">
                      <%= __('Losing a trade does not make you a loser') %>.
                    </li>
                    <li class="mb-2">
                      <%= __('The original conviction on an active trade') %> <span class="orange"><%= __('must remain') %></span> <%= __('unless something major changes') %>.
                    </li>
                  </ol>
                </li>
              <% } %>
            </ul>
          </div>
          <br>
        <% } %>
        <% if (plan.jrn_process != '' || checklist.length > 0) { %>
          <h4 class="orange"><%= __('Journaling') %></h4>
          <div>
            <ul class="px-0">
              <% if (plan.jrn_process != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Journaling Process') %>:</label>
                  <p><%= plan.jrn_process %></p>
                </li>
              <% } %>
              <% if (checklist.length > 0) { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Journal Checklist') %>:</label>
                  <ol>
                    <% checklist.forEach((item) => { %>
                      <li><%= item %></li>
                    <% }); %>
                  </ol>
                </li>
              <% } %>
            </ul>
          </div>
          <br>
        <% } %>
        <% if (nonfinObjectives.length > 0 ||finObjectives.length > 0) { %>
          <h4 class="orange"><%= __('Objectives') %></h4>
          <div>
            <ul class="px-0">
              <% if (nonfinObjectives.length > 0) { %>
                <li>
                  <label class="mr-1 mb-0 font-weight-bold"><%= __('Non-Financial Objectives') %>:</label>
                  <ul class="neilit-bullets mb-3">
                    <% nonfinObjectives.forEach((goal) => { %>
                      <li><%= goal %></li>
                    <% }); %>
                  </ul>
                </li>
              <% } %>
              <% if (finObjectives.length > 0) { %>
                <li>
                  <label class="mr-1 mb-0 font-weight-bold"><%= __('Financial Objectives') %>:</label>
                  <ul class="neilit-bullets mb-3">
                    <% finObjectives.forEach((goal) => { %>
                      <li><%= goal %></li>
                    <% }); %>
                  </ul>
                </li>
              <% } %>
            </ul>
          </div>
          <br>
        <% } %>
        <% if (plan.str_revision != '' || plan.jrn_revision != '' || plan.pln_revision != '') { %>
          <h4 class="orange"><%= __('Others') %></h4>
          <div>
            <ul class="px-0">
              <% if (plan.str_revision != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Strategy Revision') %>:</label>
                  <p><%= plan.str_revision %></p>
                </li>
              <% } %>
              <% if (plan.jrn_revision != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Journal Revision') %>:</label>
                  <p><%= plan.jrn_revision %></p>
                </li>
              <% } %>
              <% if (plan.pln_revision != '') { %>
                <li>
                  <label class="font-weight-bold mb-0"><%= __('Trading Plan Revision') %>:</label>
                  <p><%= plan.pln_revision %></p>
                </li>
              <% } %>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </section>

<!-- <section> is inside partials -->
</section>

<%- include("../../partials/footer-plan") %>
