<%- include("../../partials/header-statistics") %>
  <!-- CONTENT -->
  <div class="mx-2 mx-lg-4">
    <section>
      <div class="container">
        <!-- strategies x month graph -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Monthly Strategies Outcome">
            <h5 class="m-0"><%= __('Monthly Strategies Outcome') %></h5>
          </div>
          <div class="w-100 px-3 mt-2">
            <canvas id="resultsStrategiesMonth" height="300"></canvas>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy outcomes distributed through a monthly grid.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- 2nd row: three widget square -->
        <div class="row mx-2">
          <!-- strategies outcome radar -->
          <div class="col-12 col-lg-8 mb-4 px-0">
            <div class="widget-neilit mr-1">
              <div class="d-flex align-items-start pt-3 mx-2 w-100s">
                <img src="/imgs/icons/bubble.svg" class="mx-2 image-widget" alt="Outcome Strategies">
                <h5 class="mb-0"><%= __('Strategies Outcome') %></h5>
              </div>
              <div class="w-100 px-3 mt-2">
                <canvas id="resultsStrategiesRadar" height="100"></canvas>
              </div>
              <hr class="mb-0">
              <div class="px-3 py-1">
                <a href="#!">
                  <div class="text-right">
                    <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy\'s outcome distributed in a radar chart.') %>">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- strategies table -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
              <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Strategies">
              <h5 class="mb-0 no-wrap"><%= __('Strategies') %></h5>
          </div>
          <div class="mt-2 w-100">
            <div class="position-relative">
              <div class="overflow-auto">
                <table class="table table-hover table-borderless font-16 text-center">
                  <thead>
                    <tr class="pb-4">
                      <th scope="col"><%= __('Strategy') %></th>
                      <th scope="col"><%= __('Entries') %></th>
                      <th scope="col"><%= __('Avg. return') %></th>
                      <th scope="col"><%= __('Wins') %></th>
                      <th scope="col"><%= __('Break evens') %></th>
                      <th scope="col"><%= __('Losses') %></th>
                      <th scope="col"><%= __('Win rate') %></th>
                      <th scope="col"><%= __('Expected return') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% strategyStats.forEach((strategy) => { %>
                      <tr>
                        <td><a href="#!" class="grey"><%= strategy.strategy %></a></td>
                        <td><%= strategy.entries %></td>
                        <td>
                          <% if (strategy.avg_return >= 0) { %>
                            <p class="mb-0 pill pill-green">
                              <%= strategy.avg_return.toFixed(2) %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-red">
                              <%= strategy.avg_return.toFixed(2) %>%
                            </p>
                          <% } %>
                        </td>
                        <td><%= strategy.win %></td>
                        <td><%= strategy.be %></td>
                        <td><%= strategy.loss %></td>
                        <td><%= strategy.win_rate.toFixed(2) %></td>
                        <td><%= strategy.expected_result.toFixed(2) %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on the account\'s strategies.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

<script type="text/javascript">
  var username      = <%- JSON.stringify(currentUser.username); %>
  var darkMode      = <%- JSON.stringify(currentUser.darkMode); %>
  var strategyGraph = <%- JSON.stringify(strategyGraph); %>
  var strategyRadar = <%- JSON.stringify(strategyRadar); %>
  var months        = <%- JSON.stringify(months); %>
</script>

<!-- <section> is inside partials -->
</section>

<%- include("../../partials/footer-statistics-details") %>
