<%- include("../../partials/header-statistics") %>
  <!-- CONTENT -->
  <div class="mx-2 mx-lg-4">
    <section>
      <div class="container">
        <!-- strategies x month graph -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Monthly Strategies Outcome">
            <h5 class="m-0"><%= __('Monthly Strategies Outcome') %></h5>
          </div>
          <div class="w-100 px-3 mt-2">
            <canvas id="resultsStrategiesMonth" height="300"></canvas>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy outcomes distributed through a monthly grid.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- statistics per strategy table -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/science.svg" class="mx-2 image-widget" alt="Per Strategy Statistics">
            <h5 class="m-0"><%= __('Per Strategy Statistics') %></h5>
          </div>
          <div class="w-100 mt-2 mb-0 mx-3">
            <span class="select-detail pb-2">
              <label><%= __('Select a strategy') %>:</label>
              <!-- dropdown -->
              <div class="dropdown d-inline">
                <button id="dropdown-label" class="dropdown-select px-2" type="button" data-toggle="dropdown">
                  <%= strategies[0] %>
                </button>
                <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                  <% for (var i = 0; i < strategies.length; i++) { %>
                    <li class="<%= strategiesID[i] %>" onclick="changeStats(<%= strategiesID[i] %>)"><%= strategies[i] %></li>
                  <% } %>
                </ul>
              </div>
            </span>
            <div class="row my-2">
              <div class="col-4 d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <label><%= __('Total Revenue') %></label>
                  <span id="revenue"><%= strategyStats.revenue.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Total Fees') %></label>
                  <span id="fees"><%= strategyStats.fees.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Net Profit') %></label>
                  <span id="profit"><%= strategyStats.profit.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Return') %></label>
                  <span id="return"><%= strategyStats.str_return.toFixed(2) %> %</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Max Win') %></label>
                  <span id="max-win"><%= strategyStats.max.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Max Loss') %></label>
                  <span id="max-loss"><%= strategyStats.min.toFixed(2) %> <%= userCurrency %></span>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-between">
                  <label><%= __('Average Win') %></label>
                  <span id="avg-win"><%= strategyStats.avg_win.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Average Loss') %></label>
                  <span id="avg-loss"><%= strategyStats.avg_loss.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Average') %></label>
                  <span id="avg"><%= strategyStats.avg.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Average Holding Time') %></label>
                  <span id="avg-hold"><%= strategyStats.avg_holding.toFixed(2) %> <%= __('days') %></span>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-between">
                  <label><%= __('Gross Loss') %></label>
                  <span id="gross-loss"><%= strategyStats.gross_loss.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Profit Factor') %></label>
                  <span id="profit-factor"><%= strategyStats.profit_factor.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Playoff Ratio') %></label>
                  <span id="playoff-ratio"><%= strategyStats.playoff.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Maximum Dradown') %></label>
                  <span id="max-drawdown"><%= strategyDrawdown.max_drawdown.toFixed(2) %> <%= userCurrency %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Consecutive Winning Trades') %></label>
                  <% if (strategyCountWin != undefined) { %>
                    <span id="consec-win"><%= strategyCountWin.numcount.toFixed(2) %></span>
                  <% } else { %>
                    <span id="consec-win">N/A</span>
                  <% } %>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Consecutive Lossing Trades') %></label>
                  <% if (strategyCountLoss != undefined) { %>
                    <span id="consec-loss"><%= strategyCountLoss.numcount.toFixed(2) %></span>
                  <% } else { %>
                    <span id="consec-loss">N/A</span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd row: three widget square -->
        <div class="row mx-2">
          <!-- strategies outcome radar -->
          <div class="col-12 col-lg-8 mb-4 px-0">
            <div class="widget-neilit mr-1">
              <div class="d-flex align-items-start pt-3 mx-2 w-100s">
                <img src="/imgs/icons/bubble.svg" class="mx-2 image-widget" alt="Outcome Strategies">
                <h5 class="mb-0"><%= __('Strategies Outcome') %></h5>
              </div>
              <div class="w-100 px-3 mt-2">
                <canvas id="resultsStrategiesRadar" height="100"></canvas>
              </div>
              <hr class="mb-0">
              <div class="px-3 py-1">
                <a href="#!">
                  <div class="text-right">
                    <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy\'s outcome distributed in a radar chart.') %>">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- statistics per period -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/science.svg" class="mx-2 image-widget" alt="Statistics Per Period">
            <h5 class="m-0"><%= __('Statistics Per Period') %></h5>
          </div>
          <div class="w-100 mt-2 mb-0 mx-3">
            <span class="select-detail pb-2">
              <label><%= __('Select a strategy') %>:</label>
              <!-- dropdown -->
              <div class="dropdown d-inline">
                <button id="dropdown-label" class="dropdown-select px-2" type="button" data-toggle="dropdown">
                  <%= strategies[0] %>
                </button>
                <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                  <% for (var i = 0; i < strategies.length; i++) { %>
                    <li class="<%= strategiesID[i] %>" onclick="changeAvgs(<%= strategiesID[i] %>)"><%= strategies[i] %></li>
                  <% } %>
                </ul>
              </div>
            </span>
            <div class="row my-2">
              <div class="col-4 d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <label><%= __('Trades/Day') %></label>
                  <span id="avg-day"><%= strategyAvgs.avg_daily.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Trades/Week') %></label>
                  <span id="avg-week"><%= strategyAvgs.avg_week.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Trades/Month') %></label>
                  <span id="avg-month"><%= strategyAvgs.avg_month.toFixed(2) %></span>
                </div>
              </div>
              <div class="col-4 flex-column">
                <div class="d-flex justify-content-between">
                  <label><%= __('Winning Trades/Day') %></label>
                  <span id="avg-win-day"><%= strategyAvgs.avg_win_daily.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Winning Trades/Week') %></label>
                  <span id="avg-win-week"><%= strategyAvgs.avg_win_week.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Winning Trades/Month') %></label>
                  <span id="avg-win-month"><%= strategyAvgs.avg_win_month.toFixed(2) %></span>
                </div>
              </div>
              <div class="col-4 flex-column">
                <div class="d-flex justify-content-between">
                  <label><%= __('Lost Trades/Day') %></label>
                  <span id="avg-loss-day"><%= strategyAvgs.avg_loss_daily.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Lost Trades/Week') %></label>
                  <span id="avg-loss-week"><%= strategyAvgs.avg_loss_week.toFixed(2) %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <label><%= __('Lost Trades/Month') %></label>
                  <span id="avg-loss-month"><%= strategyAvgs.avg_loss_month.toFixed(2) %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- strategies outcome vs fees -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/bubble.svg" class="mx-2 image-widget" alt="Monthly Strategies Outcome">
            <h5 class="m-0"><%= __('Strategies Outcome vs Fees') %></h5>
          </div>
          <div class="w-100 px-3 mt-2">
            <canvas id="combOutcomeFees" height="100"></canvas>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy outcomes distributed through a monthly grid.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- strategy pofitability by durability -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/bubble.svg" class="mx-2 image-widget" alt="Profit by Durability">
            <h5 class="m-0"><%= __('Strategy Profitability by Durability') %></h5>
          </div>
          <span class="select-detail mt-2 mx-3">
            <label><%= __('Select a strategy') %>:</label>
            <!-- dropdown -->
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="dropdown-select px-2" type="button" data-toggle="dropdown">
                <%= strategies[0] %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <% for (var i = 0; i < strategies.length; i++) { %>
                  <li class="<%= strategiesID[i] %>" onclick="changeGraphDurability(<%= strategiesID[i] %>)"><%= strategies[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
          <div class="w-100 px-3 mt-2">
            <canvas id="profitDurability" height="80"></canvas>
            <p id="no-data-durability" class="text-center placeholder-stats d-none"><%= __('Not enough data') %></p>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy outcomes distributed through a monthly grid.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- strategy pofitability by durability -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/bubble.svg" class="mx-2 image-widget" alt="Strategies Outcome and # of Trade">
            <h5 class="m-0"><%= __('Strategy Profitability per # of Trades') %></h5>
          </div>
          <div class="w-100 px-3 mt-2">
            <canvas id="profitNumberOfTrades" height="100"></canvas>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Strategy outcomes distributed through a monthly grid.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- strategies table -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
              <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Strategies">
              <h5 class="mb-0 no-wrap"><%= __('Strategies') %></h5>
          </div>
          <div class="mt-2 w-100">
            <div class="position-relative">
              <div class="overflow-auto">
                <table class="table table-hover table-borderless font-16 text-center">
                  <thead>
                    <tr class="pb-4">
                      <th scope="col"><%= __('Strategy') %></th>
                      <th scope="col"><%= __('Entries') %></th>
                      <th scope="col"><%= __('Avg. return') %></th>
                      <th scope="col"><%= __('Wins') %></th>
                      <th scope="col"><%= __('Break evens') %></th>
                      <th scope="col"><%= __('Losses') %></th>
                      <th scope="col"><%= __('Win rate') %></th>
                      <th scope="col"><%= __('Expected return') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% strategyTable.forEach((strategy) => { %>
                      <tr>
                        <td><a href="#!" class="grey"><%= strategy.strategy %></a></td>
                        <td><%= strategy.entries %></td>
                        <td>
                          <% if (strategy.avg_return > 0) { %>
                            <p class="mb-0 pill pill-green">
                              <%= strategy.avg_return.toFixed(2) %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-red">
                              <%= strategy.avg_return.toFixed(2) %>%
                            </p>
                          <% } %>
                        </td>
                        <td><%= strategy.win %></td>
                        <td><%= strategy.be %></td>
                        <td><%= strategy.loss %></td>
                        <td><%= strategy.win_rate.toFixed(2) %></td>
                        <td><%= strategy.expected_result.toFixed(2) %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr class="w-100 my-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on the account\'s strategies.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

<script type="text/javascript">
  var username              = <%- JSON.stringify(currentUser.username); %>
  var darkMode              = <%- JSON.stringify(currentUser.darkMode); %>
  var strategyGraph         = <%- JSON.stringify(strategyGraph); %>
  var strategyFeesOutcome   = <%- JSON.stringify(strategyFeesOutcome); %>
  var strategyOutcomeTime   = <%- JSON.stringify(strategyOutcomeTime); %>
  var strategyAmountOutcome = <%- JSON.stringify(strategyAmountOutcome); %>
  var strategyRadar         = <%- JSON.stringify(strategyRadar); %>
  var userCurrency          = <%- JSON.stringify(userCurrency); %>
  var months                = <%- JSON.stringify(months); %>
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utilities/chart.js/Chart.js"></script>
<script type="text/javascript" src="/utilities/chart.js/Chart.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/statistics/strategies.js" charset="utf-8"></script>

<%- include("../../partials/footer-statistics-details") %>
