<%- include("../../partials/header-statistics") %>
  <!-- CONTENT -->
  <div class="mx-2 mx-lg-4">
    <section>
      <div class="container">
        <!-- win ratio of most traded timeframes -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
            <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Monthly Strategies Outcome">
            <h5 class="m-0"><%= __('Win Ratio of Most Traded Timeframes') %></h5>
          </div>
          <div class="w-100 px-3 mt-2">
            <canvas id="resultsRatioTimeframeCount" height="300"></canvas>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Win ratio of the most traded timeframes.') %>">
              </div>
            </a>
          </div>
        </div>
        <!-- 2nd row: three widget square -->
        <div class="row mx-2">
          <!-- strategies best performing assets -->
          <div class="col-12 col-lg-4 mb-4 px-0">
            <div class="widget-neilit mr-1">
              <div class="d-flex align-items-start pt-3 mx-2 w-100">
                <img src="/imgs/icons/bubble.svg" class="mx-2 image-widget" alt="Outcome Strategies">
                <h5 class="mb-0"><%= __('Best Performing Timeframes') %></h5>
              </div>
              <div class="w-100 mb-3 mt-2">
                <% if (bestTimeframesGraph.timeframes.length > 0) { %>
                  <canvas id="resultsPerformanceTimeframes" height="100"></canvas>
                <% } else { %>
                  <p class="placeholder-stats text-center my-4"><%= __('Not enough data') %></p>
                  <canvas id="resultsPerformanceTimeframes" class="d-none" height="100"></canvas>
                <% } %>
              </div>
              <hr class="mb-0">
              <div class="px-3 py-1">
                <a href="#!">
                  <div class="text-right">
                    <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Outcome of the best performing timeframes') %>">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- timeframes table -->
        <div class="widget-neilit row mx-2 mb-4">
          <div class="d-flex align-items-center pt-3 mx-2 w-100">
              <img src="/imgs/icons/patterns.svg" class="mx-2 image-widget" alt="Strategies">
              <h5 class="mb-0 no-wrap"><%= __('Timeframes') %></h5>
          </div>
          <div class="mt-2 w-100 px-3">
            <div class="position-relative">
              <div class="overflow-auto">
                <table class="table table-hover table-borderless font-16 text-center">
                  <thead>
                    <tr class="pb-4">
                      <th scope="col"><%= __('Timeframe') %></th>
                      <th scope="col"><%= __('Entries') %></th>
                      <th scope="col"><%= __('Avg. return') %></th>
                      <th scope="col"><%= __('Wins') %></th>
                      <th scope="col"><%= __('Break evens') %></th>
                      <th scope="col"><%= __('Losses') %></th>
                      <th scope="col"><%= __('Win rate') %></th>
                      <th scope="col"><%= __('Expected return') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% timeframesTable.forEach((timeframe) => { %>
                      <tr>
                        <td><a href="#!" class="grey"><%= timeframe.timeframe %></a></td>
                        <td><%= timeframe.entries %></td>
                        <td>
                          <% if (timeframe.avg_return > 0) { %>
                            <p class="mb-0 pill pill-green">
                              <%= timeframe.avg_return.toFixed(2) %>%
                            </p>
                          <% } else { %>
                            <p class="mb-0 pill pill-red">
                              <%= timeframe.avg_return.toFixed(2) %>%
                            </p>
                          <% } %>
                        </td>
                        <td><%= timeframe.win %></td>
                        <td><%= timeframe.be %></td>
                        <td><%= timeframe.loss %></td>
                        <td><%= timeframe.win_rate.toFixed(2) %></td>
                        <td><%= timeframe.expected_result.toFixed(2) %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr class="w-100 mb-0">
          <div class="px-3 py-1">
            <a href="#!">
              <div class="text-right">
                <img src="/imgs/icons/help.svg" class="image-widget image-info my-auto" data-toggle="tooltip" data-placement="bottom" title="<%= __('Results breakout based on timeframes.') %>">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

<script type="text/javascript">
  var darkMode            = <%- JSON.stringify(currentUser.darkMode); %>
  var bestTimeframesGraph = <%- JSON.stringify(bestTimeframesGraph); %>
  var timeframesWinRate   = <%- JSON.stringify(timeframesWinRate); %>
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/chart.js/Chart.js"></script>
<script type="text/javascript" src="/utilities/chart.js/Chart.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/statistics/timeframes.js" charset="utf-8"></script>

<%- include("../../partials/footer-statistics-details") %>
