<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mx-auto mb-5">
    <div class="journal-box px-0">
      <form action="/<%= currentUser.username %>/journal/ta/<%= taInfo.id %>?_method=PUT" method="POST">
        <h3 class="mx-3"><%= taInfo.pair %> - <%= __('Updated') %>: <%= new Date(taInfo.last_update).toLocaleDateString(currentUser.language, options) %></h3>
        <hr>
        <div class="form-fields mb-2 mx-3">
          <span class="d-block mb-2">
            <label class="mb-0"><%= __('Pair') %>:</label>
            <input id="ta-pair" type="text" name="pair" value="<%= taInfo.pair_id %>" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="ta-pair dropdown-select px-2" type="button" data-toggle="dropdown">
                <%= taInfo.pair %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <% for (let [key, value] of currencies) { %>
                  <li class="<%= value.id %>"><%= key %></li>
                <% } %>
              </ul>
            </div>
          </span>
          <div class="d-flex flex-column">
            <span class="mb-2">
              <label class="mb-0"><%= __('Category') %>:</label>
              <input id="ta-category" type="text" class="form-input orange px-2" name="category" value="<%= taInfo.category %>" readonly>
            </span>
            <span class="mb-2">
              <label class="mb-0"><%= __('Date') %>:</label>
              <input type="text" class="datepicker form-input orange px-2" data-target="date" value="<%= new Date(taInfo.created_at).toLocaleDateString(currentUser.language, options) %>">
              <input type="text" id="date" class="d-none" name="date" value="<%= taInfo.format_date %>">
            </span>
          </div>
        </div>
        <hr>

        <!-- START: user content -->
        <div id="ta-content" class="mx-3 mb-3">
          <%- taContent %>
        </div>
        <!-- END: user content -->

        <div class="btn-group dropright mx-3">
          <button type="button" id="add-e" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= __('Add element') %>
          </button>
          <div class="dropdown-menu py-0">
            <a id="title" class="dropdown-item"><%= __('Title') %></a>
            <a id="image" class="dropdown-item"><%= __('Image') %></a>
            <a id="text" class="dropdown-item"><%= __('Text') %></a>
            <a id="strategy" class="dropdown-item"><%= ('Strategy') %></a>
          </div>
        </div>
        <div class="d-flex justify-content-end mx-3">
          <a href="javascript:history.back()" class="btn-inverted ml-2"><%= __('Cancel') %></a>
          <button type="submit" id="submit-ta" class="btn-neilit ml-2"><%= __('Save') %></button>
        </div>
      </form>
    </div>
  </div>

  <!-- FIX: only use what's necessary -->
  <script>
    var language = <%- JSON.stringify(currentUser.language) %>;
    var currencies = <%- JSON.stringify(Array.from(currencies.entries())) %>;
    var elements   = <%- JSON.stringify(elements) %>;
  </script>

  <!-- JQUERY -->
  <script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/utilities/jquery/datepicker-es.js"></script>
  <script type="text/javascript" src="/utilities/jquery/datepicker-en.js"></script>
  <script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
  <!-- LOCAL SCRIPTS -->
  <script type="text/javascript" src="/js/ta.js"></script>

<%- include("../../../partials/footer-log") %>
