<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="pt-4 mx-4">
    <section>
      <div class="container">
        <h2 class="mx-auto"><%= __('Technical Analysis') %></h2>
        <div class="journal-box px-0 py-3">
          <% dataList.forEach((result) => { %>
            <div class="bg-grey mx-3 p-3 mb-3 rounded">
              <div class="d-flex justify-content-between mb-2">
                <span class="orange"><strong><%= result.pair %></strong></span>
                <span><%= result.date %></span>
              </div>
              <div class="text-right">
                <a href="/<%= currentUser.username %>/journal/ta/<%= result.id %>" class="btn-neilit"><%= __('Go to TA') %></a>
              </div>
            </div>
          <% }); %>
          <div class="d-flex mx-3">
            <a href="/<%= currentUser.username %>/journal/backtest/new" class="btn-neilit"><%= __('New') %></a>
          </div>
        </div>
      </div>
    </section>
  </div>

<!-- <section> is inside partials -->
</section>
<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/ta.js"></script>

<%- include("../../../partials/footer-log") %>
