<%- include("../../partials/header-sub") %>

  <!-- CONTENT -->
  <div id="initial-user-screen" class="mt-3 mx-4">

  <!-- NOTE: CHANGE THE ENTRY NAMING CONVENTIN TO TA -->
  <!-- ********************************************* -->

    <!-- NEW ENTRY -->
    <div id="new-ta" class="journal-box my-4">
      <form method="POST" action="/username/journal/ta">
        <h5>Crear Análisis Técnico</h5>
        <hr>
        <div class="d-flex flex-wrap mb-3">
          <input id="pair-entry" type="text" name="pair" list="pairsntickers" class="entry-pair custom-select py-1 mx-4 my-1" placeholder="PAIRS" onchange="setCategory()">
            <datalist id="pairsntickers">
              <% for (var c = 0; c < currencies.length; c++) { %>
                <option value="<%= currencies[c] %>">
              <% } %>
            </datalist>
          <div class="entry-category mx-4 my-1">
            <label for="size" class="my-0 mr-1">Categoría</label>
            <input id="entry-category" type="text" class="field-input" name="category" readonly>
          </div>
          <div class="entry-date mx-4 my-1">
            <label for="size" class="my-0 mr-1">Fecha</label>
            <input type="date" class="field-input" name="date" value="">
          </div>
        </div>
        <hr>
        <div id="ta-user-content" class="">
          <!-- NOTE: sample elements that the user can add to the TA -->
          <!-- NOTE: sample of TITLE element -->
          <!-- <span class="d-flex">
            <input type="text" name="" class="block-title inline-element" value="" placeholder="Título">
            <span class="d-flex">
              <img class="inline-element" src="../../imgs/icons/home.svg">
              <img class="inline-element" src="../../imgs/icons/home.svg">
            </span>
          </span> -->
          <!-- NOTE: sample of TEXT element -->
          <!-- <span class="d-flex">
            <div id="test123" class="block-text mr-2 contenteditable" contenteditable>
                Utilice este espacio para escribir algún comentario adicional
            </div>
            <span class="d-flex align-items-start">
              <img class="inline-element" src="../../imgs/icons/home.svg" alt="">
              <img class="inline-element" src="../../imgs/icons/home.svg" alt="">
            </span>
          </span> -->
          <!-- NOTE: sample of IMAGE element -->
          <!-- <div class="px-0 div-image">
            <label class="ml-2 mr-1 pb-1">Subir una imagen</label>
            <input class="p-1 upload-image-file" type="file" name="" value="">
            <span class="or-style">o</span>
            <label class="pb-1" for="">Insertar URL</label>
            <input class="py-1 upload-image-url" type="text" name="" value="dfdsf" placeholder="www.imagen.com">
            <input class="submit-image" type="button" name="" value="Aceptar" onclick="placeImage()">
            <img class="block-image my-2" src="" alt="">
          </div> -->
          <!-- NOTE: sample of STRATEGY element -->

          <!-- <span class="d-flex">
            <div class="d-flex flex-wrap py-2">
              <div class="form-check block-strategy mr-3">
                <% for (var s = 0; s < strategies.length; s++) { %>
                  <div>
                    <input class="form-check-input" type="checkbox" value="" id="strategy-<%= s %>">
                    <label class="form-check-label" for="strategy-<%= s %>">
                      <%= strategies[s] %>
                    </label>
                  </div>
                <% } %>
              </div>
              <div class="d-flex flex-column mr-3">
                <h6>Tipo de Patron</h6>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="strategy-!" id="strategy-trigger" value="trigger">
                  <label class="form-check-label" for="strategy-trigger">
                    Patrones desencadenantes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="strategy-!" id="strategy-general" value="general">
                  <label class="form-check-label" for="strategy-general">
                    Patrones generales
                  </label>
                </div>
              </div>
              <div class="timeframe-strategy mr-3">
                <h6>Strategy Timeframe</h6>
                <div class="form-check">
                  <% for (var t = 0; t < timeframes.length; t++) { %>
                    <div>
                      <input class="form-check-input" type="radio" name="" id="strategy-timeframes-<%= t %>">
                      <label class="form-check-label" for="strategy-timeframes-<%= t %>">
                        <%= timeframes[t] %>
                      </label>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
            <span class="d-flex align-self-start ml-auto">
              <img class="inline-element" src="../../imgs/icons/home.svg">
              <img class="inline-element" src="../../imgs/icons/home.svg">
            </span>
          </span> -->
        </div>
        <!-- END: user content -->
        <div class="btn-group dropright my-2">
          <button type="button" id="add-ta-element" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Agregar elemento
          </button>
          <div class="dropdown-menu">
            <a id="ta_new_title" class="dropdown-item">Titulo</a>
            <a id="ta_new_image" class="dropdown-item">Imagen</a>
            <a id="ta_new_text" class="dropdown-item">Texto</a>
            <a id="ta_new_strategy" class="dropdown-item">Estrategia</a>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <button id="create-ta" type="submit" class="px-3 py-2 journal-button">Crear</button>
        </div>
      </form>
    </div>

  </div>

<!-- <section> is inside partials -->
</section>

<script type="text/javascript">
  var currencies = <%- JSON.stringify(currencies) %>;
  var categories = <%- JSON.stringify(categories) %>;
  var strategies = <%- JSON.stringify(strategies) %>;
  var timeframes = <%- JSON.stringify(timeframes) %>;
</script>


<%- include("../../partials/footer-sub") %>
