<%- include("../../partials/header-sub") %>

  <!-- CONTENT -->
  <div id="initial-user-screen" class="mt-3 mx-4">

    <!-- NEW ENTRY -->
    <div id="new" class="journal-box my-4">
      <form action="/username/journal/comment/<%= comment.id %>?_method=PUT" method="POST">
        <h5>Comentatio creado el <%= comment.date %></h5>
        <hr>
        <div class="entry-comments mb-3">
          <div id="entry-comment" contenteditable="true"><%= comment.comment %></div>
        </div>
        <textarea id="comment-input" name="comment" class="d-none"></textarea>
        <br>
        <div class="d-flex justify-content-end">
          <a href="javascript:history.back()" class="ml-2 px-3 py-2 default-btn"> Cancelar</a>
          <button id="create-comment" type="submit" class="ml-2 px-3 py-2 journal-button">Guardar</button>
        </div>
      </form>
    </div>

  </div>

<!-- <section> is inside partials -->
</section>



<%- include("../../partials/footer-sub") %>
