<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mt-3 mx-auto">
    <div class="journal-box px-0">
      <form action="/<%= currentUser.username %>/journal/comment/<%= comment.id %>?_method=DELETE" method="POST">
        <h3 class="mx-3">Comentatio creado el <%= comment.date %></h3>
        <hr>
        <div class="mb-2 mx-3">
          <div><%= comment.comment %></div>
        </div>
        <div class="text-right mx-3">
          <a href="javascript:history.back()" class="btn-neilit ml-2">Cancelar</a>
          <a href="/<%= currentUser.username %>/journal/comment/<%= comment.id %>/edit" class="btn-inverted ml-2">Modificar</a>
          <button type="submit" class="btn-neilit ml-2">Eliminar</button>
        </div>
      </form>
    </div>
  </div>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/comment.js"></script>

<%- include("../../../partials/footer-log") %>
