<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="mt-3 mx-4">
    <div class="journal-box">
      <form action="/username/journal/comment/<%= comment.id %>?_method=DELETE" method="POST">
        <h3 class="mb-0">Comentatio creado el <%= comment.date %></h3>
        <hr>
        <div class="mb-2">
          <div><%= comment.comment %></div>
        </div>
        <br>
        <div class="d-flex justify-content-end">
          <a href="javascript:history.back()" class="btn-neilit">Cancelar</a>
          <a href="/username/journal/comment/<%= comment.id %>/edit" class="btn-inverted">Modificar</a>
          <button type="submit" class="btn-neilit">Eliminar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- <section> is inside partials -->
  </section>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/comment.js"></script>

<%- include("../../../partials/footer-log") %>
