<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mx-auto mb-5">
    <div class="journal-box px-0 entry-input">
      <div class="d-flex mx-3">
        <h3 class="flex-grow-1 mr-3"><%= entryInfo.pair %> - <%= entryInfo.entry_dt.toLocaleDateString(currentUser.language, options) %></h3>
        <span class="status-badge save d-flex align-items-center mb-2">
          <%= __('Saved') %>
          <img class="ml-1" src="/imgs/icons/check-circle.svg">
        </span>
      </div>
      <hr>
      <div class="mb-2 mx-3">
        <div class="d-flex flex-column mt-2 p-2 form-fields">
          <h5><%= __('Specific') %></h5>
          <span class="mb-2 d-block">
            <label><%= __('Pair') %>:</label>
            <input type="text" name="pair" value="<%= entryInfo.pair_id %>" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                <%= entryInfo.pair %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu dropdown-asset" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <% Object.keys(currencies).forEach((key) => { %>
                  <li class="<%= currencies[key].id %>"><%= key %></li>
                <% }) %>
              </ul>
            </div>
          </span>
          <span class="mb-2 d-block">
            <label><%= __('Category') %>:</label>
            <input id="category" type="text" class="form-input default p-1 px-2" name="category" value="<%= entryInfo.category %>" readonly>
          </span>
          <span class="mb-2 d-block">
            <label><%= __('Strategy') %>:</label>
            <input type="text" name="strategy" value="<%= entryInfo.strategy_id %>" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                <%= entryInfo.strategy %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <% for (var i = 0; i < strategies.length; i++) { %>
                  <li class="<%= strategiesID[i] %>"><%= strategies[i] %></li>
                <% } %>
              </ul>
            </div>
          </span>
          <span class="d-block">
            <label><%= __('Timeframe') %>:</label>
            <input id="val-timeframe" type="text" name="timeframe" value="<%= entryInfo.timeframe_id %>" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="dropdown-select p-2 dd-timeframe" type="button" data-toggle="dropdown">
                <%= entryInfo.timeframe %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <span class="d-flex justify-content-between">
                  <input id="add-timeframe" class="help-link" type="input" placeholder="<%= __('Add Timeframe') %>">
                  <button id="btn-add-timeframe" type="button">
                    <img src="/imgs/icons/add.svg">
                  </button>
                </span>
                <% Object.keys(timeframes).forEach((key) => { %>
                  <li class="<%= timeframes[key].id %>"><%= key %></li>
                <% }) %>
              </ul>
            </div>
          </span>
        </div>
        <div class="d-flex flex-column mt-2 p-2 form-fields">
          <h5><%= __('Finance') %></h5>
          <div class="mt-2">
            <span class="input-group mb-2">
              <label class="my-auto"><%= __('Size') %>:</label>
              <input id="size" type="number" class="form-control form-input p-1 px-2" min="0" step="0.001" value="<%= entryInfo.size %>" required>
            </span>
            <span class="input-group mb-2">
              <label class="my-auto"><%= __('Entry Price') %>:</label>
              <input id="entry-price" type="number" class="form-control form-input p-1 px-2" min="0" step="0.00000001" value="<%= entryInfo.entry_price %>" required>
            </span>
            <span class="input-group mb-2">
              <label class="my-auto"><%= __('Stop Loss') %>:</label>
              <input id="stop-loss" type="number" class="form-control form-input p-1 px-2" min="0" step="0.00000001" value="<%= entryInfo.stop_loss %>">
            </span>
            <span class="input-group">
              <label class="my-auto"><%= __('Take Profit') %>:</label>
              <input id="take-profit" type="number" class="form-control form-input p-1 px-2" min="0" step="0.00000001" value="<%= entryInfo.take_profit %>">
            </span>
          </div>
        </div>
        <div class="d-flex flex-column mt-2 p-2 form-fields">
          <h5><%= __('Logistics') %></h5>
          <div class="info-fields mt-2">
            <span class="input-group mb-2">
              <label class="my-auto"><%= __('Date of Entry') %>:</label>
              <input id="entry-date-pretty" type="text" class="datepicker form-control form-input p-1 px-2" data-target="entry-date" value="<%= entryInfo.entry_dt.toLocaleDateString(currentUser.language, options) %>" required>
              <input type="text" id="entry-date" class="d-none" name="entryDate" value="<%= entryInfo.open_format %>">
            </span>
            <span class="input-group mb-2">
              <label class="my-auto"><%= __('Direction') %>:</label>
              <div class="form-check form-check-inline">
                <label class="checkbox-orange mb-0">
                  <%= __('Long') %>
                  <% if (entryInfo.direction === 'long') { %>
                    <input type="radio" name="direction" value="long" required checked>
                  <% } else { %>
                    <input type="radio" name="direction" value="long" required>
                  <% } %>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="checkbox-orange mb-0">
                  <%= __('Short') %>
                  <% if (entryInfo.direction === 'short') { %>
                    <input type="radio" name="direction" value="short" required checked>
                  <% } else { %>
                    <input type="radio" name="direction" value="short" required>
                  <% } %>
                  <span class="checkmark"></span>
                </label>
              </div>
            </span>
          </div>
        </div>
      </div>
      <br>
      <h3 class="mx-3"><%= ('Connect a Technical Analysis') %></h3>
      <hr>
      <div class="mx-3">
        <span class="d-block">
          <label class="checkbox-orange mb-0">
            <%= __('Entry without a Technical Analysis') %>
            <% if (entryInfo.ta_id != null) { %>
              <input id="noneTa" type="radio" name="selectTa" value="none">
            <% } else { %>
              <input id="noneTa" type="radio" name="selectTa" value="none" checked>
            <% } %>
            <span class="checkmark"></span>
          </label>
        </span>
        <span class="d-block">
          <label class="checkbox-orange mb-0">
            <%= __('Connect a Technical Analysis') %>
            <% if (entryInfo.ta_id) { %>
              <input id="selectTa" type="radio" name="selectTa" value="select" data-toggle="modal" data-target=".modal-ta" checked>
            <% } else { %>
              <input id="selectTa" type="radio" name="selectTa" value="select" data-toggle="modal" data-target=".modal-ta">
            <% } %>
            <span class="checkmark"></span>
          </label>
        </span>
        <% if (entryInfo.ta_id != null) { %>
          <span id="entry-ta">
            <label class="mt-2 mb-0"><strong><%= __('Entry connected to') %>:</strong></label>
            <% for (var i = 0; i < technicalAnalysis.length; i++) { %>
              <% if (entryInfo.ta_id === technicalAnalysis[i].id) { %>
                <p id="connect-ta" class="d-inline bg-hover orange px-2"><%= technicalAnalysis[i].pair %> -
                  <%= new Date(technicalAnalysis[i].created_at).toLocaleDateString(currentUser.language, options) %></p>
                <input id="ta" type="text" name="entryTa" class="d-none" value="<%= technicalAnalysis[i].id %>">
              <% } %>
            <% } %>
          </span>
        <% } else { %>
          <span id="entry-ta" class="d-none">
            <label class="mt-2 mb-0"><strong><%= __('Entry connected to') %>:</strong></label>
            <p id="connect-ta" class="d-inline bg-hover orange px-2"></p>
            <input id="ta" type="text" name="entryTa" class="d-none">
          </span>
        <% } %>
      </div>
      <!-- technical analysis modal -->
      <div class="modal modal-ta fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-center">
            <div class="modal-header">
              <h5 class="modal-title mx-auto"><%= __('Select a') %> <span class="orange"><%= __('Technical Analysis') %></span> <%= __('to connect to this entry') %></h5>
            </div>
            <div class="modal-body d-flex flex-column">
              <% technicalAnalysis.forEach((ta, i) => { %>
                <a class="mt-2 bg-hover" data-dismiss="modal" onclick="connectTa(<%= i %>);"><%= ta.pair %> - <%= ta.created_at.toLocaleDateString(currentUser.language, options) %></a>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h3 class="mx-3"><%= __('Comments') %></h3>
      <hr>
      <div class="mx-3">
        <div id="comment" class="editcontent p-2" placeholder="<%= __('Use this space to write anything outstanding during the operation') %>" contenteditable="true"><%- entryInfo.comment %></div>
      </div>
      <br>
      <h3 class="mx-3"><%= __('Images') %></h3>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-6 mb-2">
            <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(1)"><%= __('Upload Image') %> 1</button>
            <% if (entryImgs.image1 != null) { %>
              <img id="entry-image-1" class="entry-image mt-1" src="<%= entryImgs.image1 %>" alt="image-1">
            <% } else { %>
              <img id="entry-image-1" class="entry-image mt-1 d-none" src="" alt="image-1">
            <% } %>
          </div>
          <div class="col-6 mb-2">
            <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(2)"><%= __('Upload Image') %> 2</button>
            <% if (entryImgs.image2 != null) { %>
              <img id="entry-image-2" class="entry-image mt-1" src="<%= entryImgs.image2 %>" alt="image-2">
            <% } else { %>
              <img id="entry-image-2" class="entry-image mt-1 d-none" src="" alt="image-2">
            <% } %>
          </div>
          <div class="col-6 mb-2">
            <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(3)"><%= __('Upload Image') %> 3</button>
            <% if (entryImgs.image3 != null) { %>
              <img id="entry-image-3" class="entry-image mt-1" src="<%= entryImgs.image3 %>" alt="image-3">
            <% } else { %>
              <img id="entry-image-3" class="entry-image mt-1 d-none" src="" alt="image-3">
            <% } %>
          </div>
          <div class="col-6 mb-2">
            <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(4)"><%= __('Upload Image') %> 4</button>
            <% if (entryImgs.image4 != null) { %>
              <img id="entry-image-4" class="entry-image mt-1" src="<%= entryImgs.image4 %>" alt="image-4">
            <% } else { %>
              <img id="entry-image-4" class="entry-image mt-1 d-none" src="" alt="image-4">
            <% } %>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-between mx-3">
        <h3><%= __('Close Entry') %></h3>
        <a href="/resources/create-entry#logCriteria" class="help-link"><%= __('quick look up at logging criteria') %></a>
      </div>
      <hr>
      <div class="mx-3 mb-3">
        <span class="d-block">
          <label class="checkbox-orange mb-0 font-18">
            <%= __('The operation remains open') %>
            <% if (!entryInfo.status) { %>
              <input id="entry-open" type="radio" name="status" value="0" onclick="displayClose(this.value)" checked>
            <% } else { %>
              <input id="entry-open" type="radio" name="status" value="0" onclick="displayClose(this.value)">
            <% } %>
            <span class="checkmark"></span>
          </label>
        </span>
        <span class="d-block">
          <label class="checkbox-orange mb-0">
            <%= __('The operation is closed') %>
            <% if (!entryInfo.status) { %>
              <input id="entry-close" type="radio" name="status" value="1" onclick="displayClose(this.value)">
            <% } else { %>
              <input id="entry-close" type="radio" name="status" value="1" onclick="displayClose(this.value)" checked>
            <% } %>
            <span class="checkmark"></span>
          </label>
        </span>
      </div>
      <div id="entry-closure" class="<% if (entryInfo.status) { %> <%= 'd-flex' %> <% } else { %> <%= 'd-none' %> <% } %> flex-column mx-3 form-fields">
        <span class="input-group mb-2">
          <label class="my-auto mr-1"><%= __('Exit Date') %>:</label>
          <% if (entryInfo.exit_dt != null) { %>
            <input id="exit-date-pretty" type="text" class="datepicker form-control form-input p-1 px-2" data-target="exit-date" value="<%= entryInfo.exit_dt.toLocaleDateString(currentUser.language, options) %>">
            <input type="text" id="exit-date" class="d-none" name="exitDate" value="<%= entryInfo.close_format %>">
          <% } else { %>
            <input id="exit-date-pretty" type="text" class="datepicker form-control form-input p-1 px-2" data-target="exit-date">
            <input type="text" id="exit-date" class="d-none" name="exitDate">
          <% } %>
        </span>
        <span class="input-group mb-2">
          <label class="my-auto mr-1"><%= __('Exit Price') %>:</label>
          <input id="exit-price" type="number" class="form-control form-input p-1 px-2" min="0" step="0.00000001" value="<%= entryInfo.exit_price %>">
        </span>
        <span class="input-group mb-2">
        <label class="my-auto mr-1"><%= __('Profits') %>:</label>
        <input id="profits" type="number" class="form-control form-input p-1 px-2" placeholder="<%= __('In account\'s currency') %>: <%= __(currency) %>" step="0.0001" value="<%= entryInfo.profits %>">
        <span class="ml-2 my-auto">
          <img class="info" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="<%= __('In case of leaving this field blank, Neilit will calculate the profits of the operation for you.') %>'">
        </span>
      </span>
      <span class="input-group mb-2">
        <label class="my-auto mr-1"><%= __('Fees') %>:</label>
        <input id="fees" type="number" class="form-control form-input p-1 px-2" placeholder="<%= __('In account\'s currency') %>: <%= __(currency) %>" step="0.01" value="<%= entryInfo.fees %>">
      </span>
      <span class="mb-2 d-block">
        <label><%= __('Results') %>:</label>
        <input type="text" name="result" value="<%= entryInfo.result %>" class="dropdown-server d-none">
        <div class="dropdown d-inline">
          <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
            <% if (entryInfo.result == 'win') { %>
              <%= __('Win') %>
            <% } else if (entryInfo.result == 'loss') { %>
              <%= __('Loss') %>
            <% } else { %>
              <%= __('Break Even') %>
            <% } %>
          </button>
          <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
            <li class="win"><%= __('Win') %></li>
            <li class="loss"><%= __('Loss') %></li>
            <li class="be"><%= __('Break Even') %></li>
          </ul>
        </div>
      </span>
      </div>
      <div class="d-flex justify-content-end mx-3">
        <a href="/<%= currentUser.username %>/journal/entry/<%= entryInfo.id %>" class="btn-neilit ml-2"><%= __('Done') %></a>
      </div>
      <!-- image upload modal -->
      <div class="modal modal-image fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div id="url-1" class="d-none">
                <input id="url-src-1" type="text" name="urlImage1" placeholder="URL" class="bg-style mb-2">
                <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(1)"><%= __('Submit URL') %></button>
              </div>
              <div id="url-2" class="d-none">
                <input id="url-src-2" type="text" name="urlImage2" placeholder="URL" class="bg-style mb-2">
                <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(2)"><%= __('Submit URL') %></button>
              </div>
              <div id="url-3" class="d-none">
                <input id="url-src-3" type="text" name="urlImage3" placeholder="URL" class="bg-style mb-2">
                <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(3)"><%= __('Submit URL') %></button>
              </div>
              <div id="url-4" class="d-none">
                <input id="url-src-4" type="text" name="urlImage4" placeholder="URL" class="bg-style mb-2">
                <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(4)"><%= __('Submit URL') %></button>
              </div>
              <hr class="my-2">
              <button id="file-1" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(1)"><%= __('Upload File') %></button>
              <input id="file-src-1" type="file" name="fileImage1" class="d-none">
              <button id="file-2" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(2)"><%= __('Upload File') %></button>
              <input id="file-src-2" type="file" name="fileImage2" class="d-none">
              <button id="file-3" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(3)"><%= __('Upload File') %></button>
              <input id="file-src-3" type="file" name="fileImage3" class="d-none">
              <button id="file-4" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(4)"><%= __('Upload File') %></button>
              <input id="file-src-4" type="file" name="fileImage4" class="d-none">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  var username          = <%- JSON.stringify(currentUser.username) %>;
  var id                = <%- JSON.stringify(entryInfo.id) %>;
  var language          = <%- JSON.stringify(currentUser.language) %>;
  var options           = <%- JSON.stringify(options) %>;
  var currencies        = <%- JSON.stringify(currencies) %>;
  var technicalAnalysis = <%- JSON.stringify(technicalAnalysis) %>;
  var savedTxt          = <%- JSON.stringify(saved); %>
  var savingTxt         = <%- JSON.stringify(saving); %>
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/datepicker-es.js"></script>
<script type="text/javascript" src="/utilities/jquery/datepicker-en.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/entry.js"></script>

<%- include("../../../partials/footer-log") %>
