<%- include("../../../partials/header-log") %>

<!-- CONTENT -->
<div class="pt-4 mx-4">
  <section>
    <div class="container">
      <h2 class="mx-auto"><%= __('Entries') %></h2>
      <div class="journal-box px-0">
        <span class="d-flex justify-content-end mx-3">
          <a href="#!" class="d-none text-decoration-none mb-2"><%= __('Filter') %></a>
          <a href="#!" class="text-decoration-none mb-2">[Somthing In Progres Here]</a>
        </span>
        <hr>
        <table id="index-table" class="table table-borderless table-hover">
          <tbody>
            <% dataList.forEach((entry) => { %>
              <tr onclick="document.location = '/<%= currentUser.username %>/journal/entry/<%= entry.id %>'">
                <td class="orange mandatory"><%= entry.pair %></td>
                <td class="orange mandatory"><%= entry.date %></td>
                <% if (entry.status) { %>
                  <% if (entry.result == 'win') { %>
                    <td><span class="pill pill-green d-block"><%= entry.result.toUpperCase() %></span></td>
                  <% } else if (entry.result == 'loss') { %>
                    <td><span class="pill pill-red d-block"><%= entry.result.toUpperCase() %></span></td>
                  <% } else { %>
                    <td><span class="pill pill-yellow"><%= entry.result.toUpperCase() %></span></td>
                  <% } %>
                <% } else { %>
                  <td><img src="/imgs/icons/open-ops.svg" class="simple-img"></td>
                <% } %>
                <td><%= entry.strategy %></td>
                <td><%= entry.timeframe %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <hr>
        <div class="d-flex mx-3">
          <a href="/<%= currentUser.username %>/journal/entry/new" class="btn-neilit"><%= __('New') %></a>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/entry.js"></script>


<%- include("../../../partials/footer-log") %>
