<%- include("../../../partials/header-log") %>

<!-- CONTENT -->
<div class="mx-2 mx-lg-4">
  <section>
    <div class="container">
      <h2><%= __('Entries') %></h2>
      <div class="journal-box px-0">
        <% if (dataList.length > 0) { %>
          <div class="table-wrapper">
            <div class="table-scroll">
              <table id="index-table" class="table table-borderless table-hover">
                <tbody>
                  <% dataList.forEach((entry) => { %>
                    <tr onclick="document.location = '/<%= currentUser.username %>/journal/entry/<%= entry.id %>'">
                      <td class="orange"><%= entry.pair %></td>
                      <td class="orange text-center"><%= entry.entry_dt.toLocaleDateString(currentUser.language, options) %></td>
                      <td class="text-center">
                        <% if (entry.status) { %>
                          <% if (entry.result == 'win') { %>
                            <span class="pill pill-green d-block"><%= entry.result.toUpperCase() %></span>
                          <% } else if (entry.result == 'loss') { %>
                            <span class="pill pill-red d-block"><%= entry.result.toUpperCase() %></span>
                          <% } else { %>
                            <span class="pill pill-yellow d-block"><%= entry.result.toUpperCase() %></span>
                          <% } %>
                        <% } else { %>
                          <img src="/imgs/icons/open-ops.svg" class="simple-img">
                        <% } %>
                      </td>
                      <td><%= entry.strategy %></td>
                      <td><%= entry.timeframe %></td>
                  <% }) %>
                </tbody>
              </table>
              <div class="d-flex justify-content-center mb-3">
                <div id="spinner" class="spinner-border d-none" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        <% } else { %>
          <p class="text-center placeholder-journal"><%= __('No entries created yet') %></p>
          <br>
        <% } %>
        <hr>
        <div class="d-flex justify-content-end mx-3">
          <button type="button" id="open-filter" class="btn-inverted mr-2" data-toggle="modal" data-target="#filter-modal"><%= __('Filter') %></button>
          <a href="/<%= currentUser.username %>/journal/entry/new" class="btn-neilit"><%= __('New') %></a>
        </div>
      </div>
      <!-- loading modal -->
      <div id="modal-loading" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content p-5">
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- filter modal -->
      <div id="filter-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <form id="form-filter">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= __('Apply Filtering to TA') %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body form-fields">
                <span class="mb-2 d-block">
                  <label><%= __('Pair') %>:</label>
                  <!-- dropdown -->
                  <div class="dropdown d-inline">
                    <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                      <%= __('All') %>
                    </button>
                    <ul id="dropdown-items" class="dropdown-menu filter" aria-labelledby="dropdown-label">
                      <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                      <ol class="0">
                        <label class="checkbox-orange d-inline">
                          <%= __('All') %>
                          <input type="checkbox" name="pair" value="%" checked>
                          <span class="checkmark"></span>
                        </label>
                      </ol>
                      <% for (let [key, value] of currencies) { %>
                        <ol class="<%= value.id %>">
                          <label class="checkbox-orange d-inline">
                            <%= key %>
                            <input type="checkbox" name="pair" value="<%= key %>">
                            <span class="checkmark"></span>
                          </label>
                        </ol>
                      <% } %>
                    </ul>
                  </div>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Category') %>:</label>
                  <!-- dropdown -->
                  <div class="dropdown d-inline">
                    <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                      <%= __('All') %>
                    </button>
                    <ul id="dropdown-items" class="dropdown-menu filter" aria-labelledby="dropdown-label">
                      <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                      <ol class="0">
                        <label class="checkbox-orange d-inline">
                          <%= __('All') %>
                          <input type="checkbox" name="category" value="%" checked>
                          <span class="checkmark"></span>
                        </label>
                      </ol>
                      <% for (var i = 0; i < categories.length; i++) { %>
                        <ol class="<%= i + 1 %>">
                          <label class="checkbox-orange d-inline">
                            <%= categories[i] %>
                            <input type="checkbox" name="category" value="<%= categories[i] %>">
                            <span class="checkmark"></span>
                          </label>
                        </ol>
                      <% } %>
                    </ul>
                  </div>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Creation Date') %>:</label>
                  <label class="checkbox-orange d-inline ml-2">
                    <input type="checkbox" id="display-create">
                    <span class="checkmark"></span>
                  </label>
                  <div id="filter-create" class="d-none">
                    <div class="mb-2">
                      <label><%= __('From') %>:</label>
                      <input type="text" class="datepicker form-input p-1 px-2" data-target="create-from">
                      <input type="text" id="create-from" name="create" class="d-none">
                    </div>
                    <div class="mb-2">
                      <label><%= __('To') %>:</label>
                      <input type="text" class="datepicker form-input p-1 px-2" data-target="create-to">
                      <input type="text" id="create-to" name="create" class="d-none">
                    </div>
                  </div>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Exit Date') %>:</label>
                  <label class="checkbox-orange d-inline ml-2">
                    <input type="checkbox" id="display-exit">
                    <span class="checkmark"></span>
                  </label>
                  <div id="filter-exit" class="d-none">
                    <div class="mb-2">
                      <label><%= __('From') %>:</label>
                      <input type="text" class="datepicker form-input p-1 px-2" data-target="exit-from">
                      <input type="text" id="exit-from" name="exit" class="d-none">
                    </div>
                    <div class="mb-2">
                      <label><%= __('To') %>:</label>
                      <input type="text" class="datepicker form-input p-1 px-2" data-target="exit-to">
                      <input type="text" id="exit-to" name="exit" class="d-none">
                    </div>
                  </div>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Strategy') %>:</label>
                  <!-- dropdown -->
                  <div class="dropdown d-inline">
                    <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                      <%= __('All') %>
                    </button>
                    <ul id="dropdown-items" class="dropdown-menu filter" aria-labelledby="dropdown-label">
                      <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                      <ol class="0">
                        <label class="checkbox-orange d-inline">
                          <%= __('All') %>
                          <input type="checkbox" name="strategy" value="%" checked>
                          <span class="checkmark"></span>
                        </label>
                      </ol>
                      <% for (var i = 0; i < strategies.length; i++) { %>
                        <ol class="<%= i + 1 %>">
                          <label class="checkbox-orange d-inline">
                            <%= strategies[i] %>
                            <input type="checkbox" name="strategy" value="<%= strategiesID[i] %>">
                            <span class="checkmark"></span>
                          </label>
                        </ol>
                      <% } %>
                    </ul>
                  </div>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Timeframe') %>:</label>
                  <!-- dropdown -->
                  <div class="dropdown d-inline">
                    <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                      <%= __('All') %>
                    </button>
                    <ul id="dropdown-items" class="dropdown-menu filter" aria-labelledby="dropdown-label">
                      <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                      <ol class="0">
                        <label class="checkbox-orange d-inline">
                          <%= __('All') %>
                          <input type="checkbox" name="timeframe" value="%" checked>
                          <span class="checkmark"></span>
                        </label>
                      </ol>
                      <% for (var i = 0; i < timeframes.length; i++) { %>
                        <ol class="<%= i + 1 %>">
                          <label class="checkbox-orange d-inline">
                            <%= timeframes[i] %>
                            <input type="checkbox" name="timeframe" value="<%= i + 1 %>">
                            <span class="checkmark"></span>
                          </label>
                        </ol>
                      <% } %>
                    </ul>
                  </div>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Result') %>:</label>
                  <label class="checkbox-orange d-inline ml-1">
                    <%= __('Win') %>
                    <input type="checkbox" name="result" value="win" checked>
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-orange d-inline ml-2">
                    <%= __('Loss') %>
                    <input type="checkbox" name="result" value="loss" checked>
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-orange d-inline ml-2">
                    <%= __('Break Even') %>
                    <input type="checkbox" name="result" value="be" checked>
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-orange d-inline ml-2">
                    <%= __('Open') %>
                    <input type="checkbox" name="result" value="open" checked>
                    <span class="checkmark"></span>
                  </label>
                </span>
                <span class="mb-2 d-block">
                  <label><%= __('Advanced Filtering') %>:</label>
                  <label class="checkbox-orange d-inline ml-2">
                    <input type="checkbox" id="display-advance">
                    <span class="checkmark"></span>
                  </label>
                </span>
                <div id="filter-advance" class="d-none">
                  <span class="mb-2 d-block">
                    <label><%= __('Sort by') %>:</label>
                    <label class="checkbox-orange d-inline ml-1">
                      <%= __('Pair') %>
                      <input type="radio" name="sort" value="pair_id">
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Category') %>
                      <input type="radio" name="sort" value="entries.category">
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Creation') %>
                      <input type="radio" name="sort" value="entry_dt" checked>
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Closure') %>
                      <input type="radio" name="sort" value="exit_dt">
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Strategy') %>
                      <input type="radio" name="sort" value="strategy_id">
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Timeframe') %>
                      <input type="radio" name="sort" value="timeframe_id">
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Size') %>
                      <input type="radio" name="sort" value="size">
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Result') %>
                      <input type="radio" name="sort" value="result">
                      <span class="checkmark"></span>
                    </label>
                  </span>
                  <span class="mb-2 d-block">
                    <label><%= __('Order by') %>:</label>
                    <label class="checkbox-orange d-inline ml-1">
                      <%= __('Descending') %>
                      <input type="radio" name="order" value="DESC" checked>
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-orange d-inline ml-2">
                      <%= __('Ascending') %>
                      <input type="radio" name="order" value="ASC">
                      <span class="checkmark"></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="modal-footer">
                <button id="apply-filter" type="button" class="btn-neilit" data-dismiss="modal"><%= __('Apply') %></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  var language = <%- JSON.stringify(currentUser.language) %>;
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/entry.js"></script>


<%- include("../../../partials/footer-log") %>
