<%- include("../../../partials/header-log") %>

<!-- CONTENT -->
<div class="container mt-3 mx-auto">
  <div class="journal-box px-0">
    <span class="d-flex justify-content-between mx-3">
      <h3>Últimas entradas</h3>
      <a href="#!" class="text-decoration-none">Filtrar</a>
    </span>
    <hr>
    <div class="mx-3">
      <% historyEntry.id.forEach((id, i) => { %>
        <div class="row mb-1">
          <div class="col-5">
            <!-- fix: fix naming -->
            <a href="/<%= currentUser.username %>/journal/entry/<%= id %>" class="text-decoration-none">
              <span class="bg-hover px-2"><%= historyEntry.title[i] %></span>
            </a>
          </div>
          <div class="col-2 text-center">
            <% if (historyEntry.result[i] === "win") { %>
              <span class="tag win"><%= historyEntry.result[i].toUpperCase(); %></span>
            <% } else if (historyEntry.result[i] === "loss") { %>
              <span class="tag loss"><%= historyEntry.result[i].toUpperCase(); %></span>
            <% } else if (historyEntry.result[i] === "be") { %>
              <span class="tag be"><%= historyEntry.result[i].toUpperCase(); %></span>
            <% } %>
          </div>
          <div class="col-4">
            <span class="orange"><%= historyEntry.strategy[i] %></span>
          </div>
          <div class="col-1">
            <% if (historyEntry.status[i] == 0) { %>
              <span>
                <a href="/<%= currentUser.username %>/journal/entry/<%= id %>">
                  <img src="/imgs/icons/open-ops.svg" alt="open entry">
                </a>
              </span>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/entry.js"></script>


<%- include("../../../partials/footer-log") %>
