<%- include("../../../partials/header-log") %>

  <div id="local-alert" class="container d-none">
    <div class="alert alert-danger mt-2" role="alert">
      Entry time does not follow the correct format. Time has to be typed in 24-hour clock. For instance, 13:55.
    </div>
  </div>
  <!-- CONTENT -->
  <div class="container mt-3 mb-5 mx-auto">
    <div class="journal-box px-0">
      <form action="/<%= currentUser.username %>/journal/entry" method="POST" onsubmit="event.preventDefault(); return checkTime(this);">
        <h3 class="mx-3">Crear Entrada</h3>
        <hr>
        <div class="mb-2 mx-3">
          <select id="entry-pair" name="pair" class="custom-select p-1" onchange="entryCategory();">
            <% for (var i = 0; i < currencies.length; i++) { %>
              <option value="<%= i %>"><%= currencies[i] %></option>
            <% } %>
          </select>
          <div class="d-flex flex-column mt-2 info-box p-2">
            <h5 class="cursor-pointer mb-0" onclick="toggleDisplay(this);">Específicos</h5>
            <div class="info-fields mt-2">
              <span class="mb-2">
                <label>Categoría
                  <span class="mandatory">*</span>
                </label>
                <input id="entry-category" type="text" class="bg-hover orange px-2" name="category" readonly>
              </span>
              <span class="input-group mb-2">
                <label class="my-auto">Estrategia
                  <span class="mandatory">*</span>
                </label>
                <select class="custom-select p-1" name="strategy">
                  <% for (var i = 0; i < strategies.length; i++) { %>
                    <option value="<%= i %>" ><%= strategies[i] %></option>
                  <% } %>
                </select>
              </span>
              <span class="input-group">
                <label class="my-auto">Timeframe de Anclaje
                  <span class="mandatory">*</span>
                </label>
                <select class="custom-select p-1" name="timeframe">
                  <% for (var i = 0; i < timeframes.length; i++) { %>
                    <option value="<%= i %>" ><%= timeframes[i] %></option>
                  <% } %>
                </select>
              </span>
            </div>
          </div>
          <div class="d-flex flex-column mt-2 info-box p-2">
            <h5 class="cursor-pointer mb-0" onclick="toggleDisplay(this);">Finanzas</h5>
            <div class="info-fields mt-2">
              <span class="input-group">
                <label class="my-auto">Tamaño
                  <span class="mandatory">*</span>
                </label>
                <input type="number" class="bg-hover form-control px-2" name="size" min="0" step="0.01" placeholder="especifique su tamaño de operación en lotes">
              </span>
              <span class="input-group">
                <label class="my-auto">Precio de Entrada
                  <span class="mandatory">*</span>
                </label>
                <input type="number" class="bg-hover form-control px-2" name="entryPrice" min="0" step="0.00001">
              </span>
              <span class="input-group">
                <label class="my-auto">Stop Loss</label>
                <input type="number" class="bg-hover form-control px-2" name="stopLoss" min="0" step="0.00001">
              </span>
              <span class="input-group">
                <label class="my-auto">Take Profit</label>
                <input type="number" class="bg-hover form-control px-2" name="takeProfit" min="0" step="0.00001">
              </span>
            </div>
          </div>
          <div class="d-flex flex-column mt-2 info-box p-2">
            <h5 class="cursor-pointer mb-0" onclick="toggleDisplay(this);">Logística</h5>
            <div class="info-fields mt-2">
              <span class="input-group">
                <label class="my-auto">Fecha de Entrada
                  <span class="mandatory">*</span>
                </label>
                <input type="date" class="bg-hover form-control px-2" name="entryDate">
              </span>
              <span class="input-group mb-1">
                <label class="my-auto">Hora de Entrada</label>
                <input id="entry-time" type="text" class="bg-hover form-control px-2" name="entryTime">
              </span>
              <span class="mb-2">
                <div class="form-check form-check-inline">
                  <label class="checkbox-orange mb-0">
                    Compra
                    <input type="radio" name="direction" value="1">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="checkbox-orange mb-0">
                    Venta
                    <input type="radio" name="direction" value="-1">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </span>
            </div>
          </div>
        </div>
        <br>
        <h3 class="mx-3">Asociar Análisis Técnico</h3>
        <hr>
        <div class="mx-3">
          <span class="d-block">
            <label class="checkbox-orange mb-0">
              Entrada sin análisis técnico
              <input id="noneTa" type="radio" name="selectTa" value="none" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="checkbox-orange mb-0">
              Conectar a análisis técnico
              <input id="selectTa" type="radio" name="selectTa" value="select" data-toggle="modal" data-target=".modal-ta">
              <span class="checkmark"></span>
            </label>
          </span>
          <span id="entry-ta" class="d-none">
            <label class="mt-2 mb-0"><strong>Entrada connectada a:</strong></label>
            <p id="connect-ta" class="d-inline bg-hover orange px-2"></p>
            <input id="ta" type="text" name="entryTa" class="d-none">
          </span>
        </div>
        <!-- technical analysis modal -->
        <div class="modal modal-ta fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-header">
                <h5 class="modal-title mx-auto">Seleccione un <span class="orange">análisis técnico</span> para conectar a esta entrada</h5>
              </div>
              <div class="modal-body d-flex flex-column">
                <% tas.title.forEach((ta, i) => { %>
                  <a class="mt-2 bg-hover" data-dismiss="modal" onclick="connectTa(<%= i %>);"><%= ta %></a>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h3 class="mx-3">Comentarios</h3>
        <hr>
        <div class="mx-3">
          <div id="client-comment" class="px-2" placeholder="Utilice este espacio para escribir algún comentario adicional" contenteditable="true"></div>
        </div>
        <textarea id="server-comment" name="comment" class="d-none"></textarea>
        <br>
        <h3 class="mx-3">Cerrar Entrada</h3>
        <hr>
        <div class="mx-3 mb-3">
          <span class="d-block">
            <label class="checkbox-orange mb-0 font-18">
              La entrada continua abierta
              <input id="entry-open" type="radio" name="status" value="0" onclick="displayClose(this.value)" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="checkbox-orange mb-0">
              La entrada esta cerrada
              <input id="entry-close" type="radio" name="status" value="1" onclick="displayClose(this.value)">
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
        <div id="entry-closure" class="flex-column mx-3 w-50 d-none">
          <span class="mb-2">
            <label class="mb-0">Fecha de Salida</label>
            <input type="date" class="bg-hover orange px-2" name="exitDate">
          </span>
          <span class="mb-2">
            <label class="mb-0">Precio de Salida</label>
            <input type="number" class="bg-hover orange px-2" name="closePrice" min="0" step="0.00001">
          </span>
          <span class="mb-2">
            <label class="mb-0">Beneficios</label>
            <input type="number" class="bg-hover orange px-2" name="profits" placeholder="en divisa base de cuenta" min="0" step="0.0001">
              <img class="info" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="En case de dejarlo en blanco Neilit calculara por ti los beneficios de la operación.">
          </span>
          <span class="mb-2">
            <label class="mb-0">Comisiones</label>
            <input type="number" class="bg-hover orange px-2" name="fees" min="0" step="0.01">
          </span>
          <span class="mb-2">
            <label class="mb-0">Resultado</label>
            <select id="entry-result" name="result" class="custom-select p-1 w-auto">
              <option value="win">Win</option>
              <option value="be">Break Even</option>
              <option value="loss">Loss</option>
            </select>
          </span>
        </div>
        <div class="d-flex justify-content-end mx-3">
          <button id="submit-entry" type="submit" class="btn-neilit">Crear</button>
        </div>
      </form>
    </div>
  </div>

<script type="text/javascript">
  var currencies = <%- JSON.stringify(currencies) %>;
  var categories = <%- JSON.stringify(categories) %>;
  var strategies = <%- JSON.stringify(strategies) %>;
  var tas = <%- JSON.stringify(tas) %>;
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/entry.js"></script>


<%- include("../../../partials/footer-log") %>
