<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mx-auto mb-5">
    <div class="journal-box px-0 entry-input">
      <form id="entry-form" action="/<%= currentUser.username %>/journal/entry" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
        <div class="d-flex justify-content-between mx-3">
          <h3><%= __('Create Entry') %></h3>
          <div>
            <input type="checkbox" name="flag" value="0" class="d-none">
            <img id="flag-entry" src="/imgs/icons/flag-outline.svg" alt="flag">
          </div>
        </div>
        <hr>
        <div class="mb-2 mx-3">
          <div class="d-flex flex-column mt-2 p-2 form-fields">
            <h5><%= __('Specific') %></h5>
            <span class="mb-2 d-block">
              <label class="mandatory"><%= __('Pair') %>:</label>
              <input type="text" name="pair" value="<%= currencies[Object.keys(currencies)[0]].id %>" class="dropdown-server d-none">
              <!-- dropdown -->
              <div class="dropdown d-inline">
                <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                  <%= Object.keys(currencies)[0] %>
                </button>
                <ul id="dropdown-items" class="dropdown-menu dropdown-asset" aria-labelledby="dropdown-label">
                  <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                  <% Object.keys(currencies).forEach((key) => { %>
                    <li class="<%= currencies[key].id %>"><%= key %></li>
                  <% }) %>
                  <a href="/<%= currentUser.username %>/settings" class="help-link"><%= __("Can't find your pair? Add it now") %></a>
                </ul>
              </div>
              <!-- adds space to hyperlink only when its placed next ot the dropdown -->
              <span class="mr-3"></span>
              <a href="/resources/manage-assets" class="help-link non-wrap"><%= __('Learn to manage your assets') %></a>
            </span>
            <span class="mb-2 d-block">
              <label class="mandatory"><%= __('Category') %>:</label>
              <input id="category" type="text" class="form-input orange p-1 px-2" name="category" value="<%= currencies[Object.keys(currencies)[0]].category %>" readonly>
            </span>
            <span class="mb-2 d-block">
              <label class="mandatory"><%= __('Strategy') %>:</label>
              <input type="text" name="strategy" value="<%= strategiesID[0] %>" class="dropdown-server d-none">
              <!-- dropdown -->
              <div class="dropdown d-inline">
                <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                  <%= strategies[0] %>
                </button>
                <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                  <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                  <% for (var i = 0; i < strategies.length; i++) { %>
                    <li class="<%= strategiesID[i] %>"><%= strategies[i] %></li>
                  <% } %>
                </ul>
              </div>
            </span>
            <span class="d-block">
              <label class="mandatory"><%= __('Timeframe') %>:</label>
              <input id="val-timeframe" type="text" name="timeframe" value="<%= timeframes[Object.keys(timeframes)[0]].id %>" class="dropdown-server d-none">
              <!-- dropdown -->
              <div class="dropdown d-inline">
                <button id="dropdown-label" class="dropdown-select p-2 dd-timeframe" type="button" data-toggle="dropdown">
                  <%= Object.keys(timeframes)[0] %>
                </button>
                <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                  <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                  <span class="d-flex justify-content-between">
                    <input id="add-timeframe" class="help-link" type="input" placeholder="<%= __('Add Timeframe') %>">
                    <button id="btn-add-timeframe" type="button">
                      <img src="/imgs/icons/add.svg">
                    </button>
                  </span>
                  <% Object.keys(timeframes).forEach((key) => { %>
                    <li class="<%= timeframes[key].id %>"><%= key %></li>
                  <% }) %>
                </ul>
              </div>
            </span>
          </div>
          <div class="d-flex flex-column mt-2 p-2 form-fields">
            <h5><%= __('Finance') %></h5>
            <span class="input-group mb-2">
              <label class="my-auto mandatory"><%= __('Size') %>:</label>
              <input type="number" class="form-control form-input p-1 px-2" name="size" min="0" step="0.001" placeholder="<%= __('State the size of your operation in lots') %>" required>
            </span>
            <span class="input-group mb-2">
              <label class="my-auto mandatory"><%= __('Entry Price') %>:</label>
              <input type="number" class="form-control form-input p-1 px-2" name="entryPrice" min="0" step="0.00000001" required>
            </span>
            <span class="input-group mb-2">
              <label class="my-auto"><%= __('Stop Loss') %>:</label>
              <input type="number" class="form-control form-input p-1 px-2" name="stopLoss" min="0" step="0.00000001">
            </span>
            <span class="input-group">
              <label class="my-auto"><%= __('Take Profit') %>:</label>
              <input type="number" class="form-control form-input p-1 px-2" name="takeProfit" min="0" step="0.00000001">
            </span>
          </div>
          <div class="d-flex flex-column mt-2 p-2 form-fields">
            <h5><%= __('Logistics') %></h5>
            <span class="input-group mb-2">
              <label class="my-auto mandatory"><%= __('Date of Entry') %>:</label>
              <input type="text" class="datepicker form-control form-input p-1 px-2" data-target="entry-date" required>
              <input type="text" id="entry-date" class="d-none" name="entryDate">
            </span>
            <span class="input-group mb-3">
              <label class="my-auto"><%= __('Time of Entry') %>:</label>
              <input id="entry-time" type="text" class="form-control form-input p-1 px-2" name="entryTime">
              <span class="ml-2 my-auto">
                <img class="info" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="bottom" title="<%= __('The entry time has to be typed in military time. For instnace, 14:45.') %>'">
              </span>
            </span>
            <span class="mb-2">
              <div class="form-check form-check-inline">
                <label class="checkbox-orange mb-0 mandatory">
                  <%= __('Long') %>
                  <input type="radio" class="form-check-input" name="direction" value="1" required>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="checkbox-orange mb-0 mandatory">
                  <%= __('Short') %>
                  <input type="radio" class="form-check-input" name="direction" value="-1" required>
                  <span class="checkmark"></span>
                </label>
              </div>
            </span>
          </div>
        </div>
        <br>
        <h3 class="mx-3"><%= __('Connect a Technical Analysis') %></h3>
        <hr>
        <div class="mx-3">
          <span class="d-block">
            <label class="checkbox-orange mb-0">
              <%= __('Entry without a Technical Analysis') %>
              <input id="noneTa" type="radio" name="selectTa" value="none" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="checkbox-orange mb-0">
              <%= __('Connect a Technical Analysis') %>
              <input id="selectTa" type="radio" name="selectTa" value="select" data-toggle="modal" data-target=".modal-ta">
              <span class="checkmark"></span>
            </label>
          </span>
          <span id="entry-ta" class="d-none">
            <label class="mt-2 mb-0"><strong><%= __('Entry connected to') %>:</strong></label>
            <p id="connect-ta" class="d-inline bg-hover orange px-2"></p>
            <input id="ta" type="text" name="entryTa" class="d-none">
          </span>
        </div>
        <!-- technical analysis modal -->
        <div class="modal modal-ta fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-header">
                <h5 class="modal-title mx-auto"><%= __('Select a') %> <span class="orange"><%= __('Technical Analysis') %></span> <%= __('to connect to this entry') %></h5>
              </div>
              <div class="modal-body d-flex flex-column">
                <% technicalAnalysis.forEach((ta, i) => { %>
                  <a class="mt-2 bg-hover" data-dismiss="modal" onclick="connectTa(<%= i %>);"><%= ta.pair %> - <%= ta.created_at.toLocaleDateString(currentUser.language, options) %></a>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h3 class="mx-3"><%= __('Comments') %></h3>
        <hr>
        <div class="mx-3">
          <div id="client-comment" class="editcontent p-2" placeholder="<%= __('Use this space to write anything outstanding during the operation') %>" contenteditable="true"></div>
        </div>
        <textarea id="server-comment" name="comment" class="d-none"></textarea>
        <br>
        <h3 class="mx-3">Images</h3>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-6 mb-2">
              <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(1)">Upload Image 1</button>
              <img id="entry-image-1" class="entry-image mt-1 d-none" src="" alt="image-1">
            </div>
            <div class="col-6 mb-2">
              <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(2)">Upload Image 2</button>
              <img id="entry-image-2" class="entry-image mt-1 d-none" src="" alt="image-2">
            </div>
            <div class="col-6 mb-2">
              <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(3)">Upload Image 3</button>
              <img id="entry-image-3" class="entry-image mt-1 d-none" src="" alt="image-3">
            </div>
            <div class="col-6 mb-2">
              <button type="button" class="btn-inverted" data-toggle="modal" data-target=".modal-image" onclick="uploadTo(4)">Upload Image 4</button>
              <img id="entry-image-4" class="entry-image mt-1 d-none" src="" alt="image-4">
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-between mx-3">
          <h3><%= __('Close Entry') %></h3>
          <a href="/resources/create-entry#logCriteria" class="help-link"><%= __('Quick look up at logging criteria') %></a>
        </div>
        <hr>
        <div class="mx-3 mb-3">
          <span class="d-block">
            <label class="checkbox-orange mb-0 font-18">
              <%= __('The operation remains open') %>
              <input id="entry-open" type="radio" name="status" value="0" onclick="displayClose(this.value)" checked>
              <span class="checkmark"></span>
            </label>
          </span>
          <span class="d-block">
            <label class="checkbox-orange mb-0">
              <%= __('The operation is closed') %>
              <input id="entry-close" type="radio" name="status" value="1" onclick="displayClose(this.value)">
              <span class="checkmark"></span>
            </label>
          </span>
        </div>
        <div id="entry-closure" class="flex-column d-none mx-3 mt-2 form-fields">
          <span class="input-group mb-2">
            <label class="my-auto"><%= __('Exit Date') %>:</label>
            <input type="text" class="datepicker form-control form-input p-1 px-2" data-target="exit-date">
            <input type="text" id="exit-date" class="d-none" name="exitDate">
          </span>
          <span class="input-group mb-2">
            <label class="my-auto mandatory"><%= __('Exit Price') %>:
            </label>
            <input type="number" class="form-control form-input p-1 px-2" name="closePrice" min="0" step="0.00000001">
          </span>
          <span class="input-group mb-2">
            <label class="mandatory my-auto"><%= __('Profits') %>:</label>
            <input type="number" class="form-control form-input p-1 px-2" name="profits" placeholder="<%= __('In account\'s currency') %>: <%= __(currency) %>" step="0.0001">
            <span class="ml-2 my-auto">
              <img class="info" src="/imgs/icons/info.svg" data-toggle="tooltip" data-placement="right" title="<%= __('In case of leaving this field blank and Neilit has access to its rate, we will calculate the profits of the operation for you.') %>">
            </span>
          </span>
          <span class="input-group mb-2">
            <label class="my-auto"><%= __('Fees') %>:</label>
            <input type="number" class="form-control form-input px-2" placeholder="<%= __('In account\'s currency') %>: <%= __(currency) %>" name="fees" step="0.01">
          </span>
          <span class="mb-2 d-block">
            <label class="mandatory"><%= __('Results') %>:</label>
            <input type="text" name="result" value="win" class="dropdown-server d-none">
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                <%= __('Win') %>
              </button>
              <ul id="dropdown-items" class="dropdown-menu" aria-labelledby="dropdown-label">
                <li class="win"><%= __('Win') %></li>
                <li class="loss"><%= __('Loss') %></li>
                <li class="be"><%= __('Break Even') %></li>
              </ul>
            </div>
          </span>
          <span class="mb-2 d-block">
            <label>Mistakes:</label>
            <input type="text" name="mistakes" value="null" class="dropdown-server d-none">
            <!-- dropdown -->
            <div class="dropdown d-inline">
              <button id="dropdown-label" class="dropdown-select p-2" type="button" data-toggle="dropdown">
                None
              </button>
              <ul id="dropdown-items" class="dropdown-menu dropdown-asset" aria-labelledby="dropdown-label">
                <input class="dropdown-search p-2 w-100" type="text" placeholder="<%= __('Search') %>..." onkeyup="searchDropdown(this)">
                <li>Too excited</li>
                <input class="help-link" type="input" placeholder="New mistaks">
              </ul>
            </div>
          </span>
        </div>
        <div class="d-flex justify-content-end mx-3">
          <button id="submit-entry" type="submit" class="btn-neilit"><%= __('Create') %></button>
        </div>
        <!-- image upload modal -->
        <div class="modal modal-image fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div id="url-1" class="d-none">
                  <input id="url-src-1" type="text" name="urlImage1" placeholder="URL" class="bg-style mb-2">
                  <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(1)">Submit URL</button>
                </div>
                <div id="url-2" class="d-none">
                  <input id="url-src-2" type="text" name="urlImage2" placeholder="URL" class="bg-style mb-2">
                  <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(2)">Submit URL</button>
                </div>
                <div id="url-3" class="d-none">
                  <input id="url-src-3" type="text" name="urlImage3" placeholder="URL" class="bg-style mb-2">
                  <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(3)">Submit URL</button>
                </div>
                <div id="url-4" class="d-none">
                  <input id="url-src-4" type="text" name="urlImage4" placeholder="URL" class="bg-style mb-2">
                  <button type="button" class="btn-neilit" data-dismiss="modal" onclick="renderURL(4)">Submit URL</button>
                </div>
                <hr>
                <button id="file-1" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(1)">Upload File</button>
                <input id="file-src-1" type="file" name="fileImage1" class="d-none">
                <button id="file-2" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(2)">Upload File</button>
                <input id="file-src-2" type="file" name="fileImage2" class="d-none">
                <button id="file-3" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(3)">Upload File</button>
                <input id="file-src-3" type="file" name="fileImage3" class="d-none">
                <button id="file-4" type="button" class="btn-neilit d-none" data-dismiss="modal" onclick="renderFile(4)">Upload File</button>
                <input id="file-src-4" type="file" name="fileImage4" class="d-none">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- loading modal -->
  <div id="modal-loading" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content p-5">
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  var username          = <%- JSON.stringify(currentUser.username) %>;
  var language          = <%- JSON.stringify(currentUser.language) %>;
  var currencies        = <%- JSON.stringify(currencies) %>;
  var technicalAnalysis = <%- JSON.stringify(technicalAnalysis) %>;
  var options           = <%- JSON.stringify(options) %>;
</script>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/entry.js"></script>

<%- include("../../../partials/footer-log") %>
