<%- include("../../partials/header-sub") %>

  <!-- CONTENT -->
  <div id="initial-user-screen" class="mt-3 mx-4">

    <!-- NEW ENTRY -->
    <div id="new" class="journal-box my-4">
      <form action="/username/journal/ta/<%= entry.entryId %>?_method=DELETE" method="POST">
        <h5><%= entry.entryPair %>: <%= entry.entryTitle %></h5>
        <hr>
        <div class="row">
          <div class="col-4">
            <h6>General</h6>
            <div class="mb-2">
              <label class="my-0 mr-1">Activo</label>
              <input id="" type="text" class="field-input" value="<%= entry.entryPair %>" readonly>
            </div>
            <div class="mb-2">
              <label for="catetory" class="my-0 mr-1">Categoría</label>
              <input id="entry-category" type="text" class="field-input" value="<%= entry.entryCategory %>" readonly>
            </div>
            <div class="mb-2">
              <label class="my-0 mr-1">Dirección</label>
              <% if (entry.entryDirection == 'long') { %>
                <input id="" type="text" class="field-input" value="Compra" readonly>
              <% } else { %>
                <input id="" type="text" class="field-input" value="Venta" readonly>
              <% } %>
            </div>
            <div class="mb-2">
              <label class="my-0 mr-1">Fecha de entrada</label>
              <input id="" type="text" class="field-input" value="<%= entry.entryDate %>" readonly>
            </div>
            <% if (!(entry.exitDate == null)) { %>
              <div class="mb-2">
                <label class="my-0 mr-1">Fecha de salida</label>
                <input id="" type="text" class="field-input" value="<%= entry.exitDate %>" readonly>
              </div>
            <% } %>
          </div>
          <div class="col-4">
            <h6>Específica</h6>
            <div class="mb-2">
              <label class="my-0 mr-1">Tamaño</label>
              <input id="" type="text" class="field-input" value="<%= entry.entrySize %>" readonly>
            </div>
            <div class="mb-2">
              <label class="my-0 mr-1">Strategy</label>
              <input id="" type="text" class="field-input" value="<%= entry.entryStrategy %>" readonly>
            </div>
            <div class="mb-2">
              <label class="my-0 mr-1">Entrada</label>
              <input id="" type="text" class="field-input" value="<%= entry.entryPrice %>" readonly>
            </div>
            <div class="mb-2">
              <label class="my-0 mr-1">Stop Loss</label>
              <input id="" type="text" class="field-input" value="<%= entry.stopLoss %>" readonly>
            </div>
            <div class="mb-2">
              <label class="my-0 mr-1">Take Profit</label>
              <input id="" type="text" class="field-input" value="<%= entry.takeProfit %>" readonly>
            </div>
            <% if (!(entry.exitPrice == null)) { %>
              <div class="mb-2">
                <label class="my-0 mr-1">Salida</label>
                <input id="" type="text" class="field-input" value="<%= entry.exitPrice %>" readonly>
              </div>
            <% } %>
          </div>
          <% if (!(entry.entryResult == null)) { %>
            <div class="col-3">
              <h6>Cierre</h6>
              <div class="mb-2">
                <label class="my-0 mr-1">Resultado</label>
                <input id="" type="text" class="field-input" value="<%= entry.entryResult.toUpperCase(); %>" readonly>
              </div>
              <div class="mb-2">
                <label class="my-0 mr-1">Salida</label>
                <input id="" type="text" class="field-input" value="<%= entry.exitPrice %>" readonly>
              </div>
            </div>
          <% } %>
        </div>
        <br>
        <h5>Comentarios</h5>
        <hr>
        <div class="entry-comments mb-3">
          <div id="entry-comment"><%= entry.entryComment %></div>
        </div>
        <br>
        <% if (!(typeof ta == 'undefined')) { %>
          <h5>Análisis Técnico</h5>
          <hr>
          <div class="d-flex justify-content-between mb-3">
            <div id="date-entry-ta" class="mb-2 d-none">
              <label class="my-0 mr-1">Creación de TA</label>
              <input id="" type="text" class="field-input" value="<%= ta.taDate %>" readonly>
            </div>
            <span class="ml-auto">
              <a id="show-entry-ta" href="#!">show</a>
              <a id="hide-entry-ta" class="d-none" href="#!">hide</a>
            </span>
          </div>
          <div id="load-entry-ta" class="d-none">
            <% for (var i = 0; i < ta.taElements.length; i++) { %>
              <%- ta.taElements[i] %>
            <% } %>
          </div>
          <br>
        <% } %>
        <div class="d-flex justify-content-end">
          <a href="javascript:history.back()" class="ml-2 px-3 py-2 default-btn"> Cancelar</a>
          <% if (entry.entryResult == null) { %>
            <a href="#" class="ml-2 px-3 py-2 default-btn"> Cerrar</a>
          <% } %>
          <a href="/username/journal/entry/<%= entry.entryId %>/edit" class="ml-2 px-3 py-2 invert-btn">Modificar</a>
          <button type="submit" class="ml-2 px-3 py-2 invert-btn">Eliminar</button>
        </div>
      </form>
    </div>

  </div>

<!-- <section> is inside partials -->
</section>



<%- include("../../partials/footer-sub") %>
