<%- include("../../../partials/header-log") %>

  <!-- CONTENT -->
  <div class="container mt-3 mb-5 mx-auto">
    <div class="journal-box px-0">
      <form action="/<%= currentUser.username %>/journal/ta/<%= entry.id %>?_method=DELETE" method="POST">
        <h3 class="mx-3"><%= entry.title %></h3>
        <hr>
        <div class="row mx-3">
          <div class="col-6">
            <!-- GENERAL ENTRY INFORMATION -->
            <h5>General</h5>
            <div>
              <label>Activo</label>
              <input type="text" class="bg-hover orange px-2" value="<%= currencies[entry.pair] %>" readonly>
            </div>
            <span>
              <label>Categoría</label>
              <input type="text" class="bg-hover orange px-2" value="<%= entry.category %>" readonly>
            </span>
            <div>
              <label>Dirección</label>
              <% if (entry.direction == 'long') { %>
                <input type="text" class="bg-hover orange px-2" value="Compra" readonly>
              <% } else { %>
                <input type="text" class="bg-hover orange px-2" value="Venta" readonly>
              <% } %>
            </div>
            <div>
              <label>Fecha de entrada</label>
              <input type="text" class="bg-hover orange px-2" value="<%= entry.entryDate %>" readonly>
            </div>
            <% if ('entryTime' in entry) { %>
              <div>
                <label>Hora de entrada</label>
                <input type="text" class="bg-hover orange px-2" value="<%= entry.entryTime %>" readonly>
              </div>
            <% } %>
          </div>
          <!-- SPECIFIC ENTRY INFORMATION -->
          <div class="col-6">
            <h5>Específica</h5>
            <div>
              <label>Tamaño</label>
              <input type="text" class="bg-hover orange px-2" value="<%= entry.size %>" readonly>
            </div>
            <div>
              <label>Estrategia</label>
              <input type="text" class="bg-hover orange px-2" value="<%= strategies[entry.strategy] %>" readonly>
            </div>
            <div>
              <label>Timeframe de Anclaje</label>
              <input type="text" class="bg-hover orange px-2" value="<%= timeframes[entry.timeframe] %>" readonly>
            </div>
            <div>
              <label>Entrada</label>
              <input type="text" class="bg-hover orange px-2" value="<%= entry.entryPrice %>" readonly>
            </div>
            <% if ('stopLoss' in entry) { %>
              <div>
                <label>Stop Loss</label>
                <input type="text" class="bg-hover orange px-2" value="<%= entry.stopLoss %>" readonly>
              </div>
            <% } %>
            <% if ('takeProfit' in entry) { %>
              <div>
                <label>Take Profit</label>
                <input type="text" class="bg-hover orange px-2" value="<%= entry.takeProfit %>" readonly>
              </div>
            <% } %>
          </div>
        </div>
        <% if (entry.status != 0 && 'exitPrice' in entry) { %>
          <div class="row mx-3">
            <div class="col-6">
              <h5>Resultado</h5>
              <div>
                <label>Salida</label>
                <input type="text" class="bg-hover orange px-2" value="<%= entry.exitPrice %>" readonly>
              </div>
              <% if ('exitDate' in entry) { %>
                <div>
                  <label>Fecha de salida</label>
                  <input type="text" class="bg-hover orange px-2" value="<%= entry.exitDate %>" readonly>
                </div>
              <% } %>
              <div>
                <label>Resultado</label>
                <input type="text" class="bg-hover orange px-2" value="<%= entry.result.toUpperCase() %>" readonly>
              </div>
            </div>
          </div>
        <% } %>
        <br>
        <h3 class="mx-3">Comentarios</h3>
        <hr>
        <div class="mx-3">
          <% if ('comment' in entry) { %>
            <div><%= entry.comment %></div>
          <% } %>
        </div>
        <br>
        <h3 class="mx-3">Análisis Técnico</h3>
        <hr>
        <span class="mx-3">
          <label><strong>Ir al análisis técnico asociado:</strong></label>
          <a href="/<%= currentUser.username %>/journal/ta/<%= entry.taId %>" class="text-decoration-none">
            <span class="bg-hover orange px-2">Click</span>
          </a>
        </span>
        <div class="d-flex justify-content-end mx-3">
          <a href="javascript:history.back()" class="btn-neilit ml-2">Cancelar</a>
          <a href="/<%= currentUser.username %>/journal/entry/<%= entry.id %>/edit" class="btn-inverted ml-2">Modificar</a>
          <button type="submit" class="btn-neilit ml-2">Eliminar</button>
        </div>
      </form>
    </div>
  </div>

<!-- <section> is inside partials -->
</section>

<!-- JQUERY -->
<script type="text/javascript" src="/utilities/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/utilities/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/utilities/bootstrap/js/bootstrap.min.js"></script>
<!-- LOCAL SCRIPTS -->
<script type="text/javascript" src="/js/ta.js"></script>

<%- include("../../../partials/footer-log") %>
