<%- include("../partials/header-home") %>

<div>
  <nav class="navbar d-none d-md-flex px-3">
  <!-- email -->
  <ul class="navbar-nav">
    <li class="nav-item ml-2">
      <p class="mb-0">
        <img src="/imgs/icons/email.svg" alt="email">
        info@neilit.com
      </p>
    </li>
  </ul>
  <!-- language -->
   <ul class="navbar-nav">
     <li class="nav-item">
        <a data-toggle="modal" data-target=".modal-language-lg" class="cursor-pointer ml-4">
          <img src="/imgs/icons/language.svg" alt="language">
          <span><%= __('Language')%></span>
        </a>
        <!-- language modal -->
        <div class="modal modal-language-lg fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content text-center">
              <div class="modal-body py-2">
                <form action="/language/en" method="POST">
                  <button type="submit"><%= __('English')%></button>
                </form>
                <form action="/language/es" method="POST">
                  <button type="submit"><%= __('Spanish')%></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
   <!-- social media -->
   <ul class="navbar-nav ml-auto">
     <li class="nav-item social">
       <p class="mb-0">
         <!-- facebook -->
         <!-- <img src="/imgs/icons/fb.svg" alt="facebook" class="ml-2"> -->
         <!-- instagram -->
         <!-- <img src="/imgs/icons/ig.svg" alt="instagram" class="ml-2"> -->
         <!-- youtube -->
         <!-- <img src="/imgs/icons/yt.svg" alt="youtube" class="ml-2"> -->
         <!-- linkedin -->
         <!-- <img src="/imgs/icons/linkedin.svg" alt="linkedin" class="ml-2"> -->
         <!-- twitter -->
         <!-- <img src="/imgs/icons/twitter.svg" alt="twitter" class="ml-2"> -->
       </p>
     </li>
    </ul>
  </nav>

  <div class="sticky-top">
    <p id="beta" class="mb-0"><strong><%= __('We are in BETA') %></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg px-lg-4" id="sticky-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <img class="icon-navbar" src="/imgs/icons/menu-orange.svg" alt="navbar">
      </span>
    </button>
    <div class="collapse navbar-collapse mt-2 mt-lg-0 px-3 pb-3 p-lg-0" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/" class="btn-nav"><%= __('Home')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/features" class="btn-nav"><%= __('Features')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/pricing" class="btn-nav"><%= __('Pricing')%></a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 mr-lg-4">
          <a href="/resources" class="btn-nav"><%= __('Resources')%></a>
        </li>
      </ul>
      <div class="ml-auto mt-3 mt-lg-0">
        <!-- login -->
        <a class="btn-neilit" href="/login">Login</a>
        <!-- signup -->
        <a class="btn-inverted ml-3" href="/signup">Sign Up</a>
      </div>
    </div>
  </nav>

  <div class="bg-sm-nav d-lg-none"></div>

  <div class="py-5">
    <div class="container">
      <h1><%= __('Cryptocurrency assets') %></h1>
      <p>
        <%= __('We acknowledge that we don\'t have all of the most popular cryptocurrencies in our premade assets.') %>
        <%= __('However, we only include the crypto assets which we have access to their rates.') %>
        <%= __('Therefore, we are able provide position and profits calculations.') %>
      </p>
      <div class="row">
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">ADA/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">BAT/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">BCH/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">BTC/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">REP/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">DASH/USD</span>
      </div>
      <div class="row">
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">EOS/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">ETC/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">ETH/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">GNO/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">ICX/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">KNC/USD</span>
      </div>
      <div class="row">
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">LINK/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">LSK/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">LTC/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">OMG/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">SC/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">STORJ/USD</span>
      </div>
      <div class="row">
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">TRX/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">USDT/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">XLM/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">XMR/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">XRP/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">XTZ/USD</span>
      </div>
      <div class="row">
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">WAVES/USD</span>
        <span class="col-6 col-sm-4 col-lg-2 font-20 orange text-center mb-2">ZED/USD'</span>
      </div>
    </div>
  </div>
</div>

<footer class="mt-2 py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo">N</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 col-lg-5">
        <span>
          <%= __('value statement') %>
        </span>
        <div class="my-3">
          <div class="footer-header"><%= __('Contact us') %>:</div>
          <div>
            <img class="mr-2" src="/imgs/icons/email-black.svg" alt="email">info@neilit.com
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-lg-3">
        <ul class="pl-0">
          <li><a href="/"><%= __('Home') %></a></li>
          <li><a href="/features"><%= __('Features') %></a></li>
          <li><a href="/pricing"><%= __('Pricing') %></a></li>
          <li><a href="/resources"><%= __('Resources') %></a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-lg-4">
        <span><%= ('Stay up to date on the latest from Neilit') %></span>
        <!-- Begin Mailchimp Signup Form -->
          <form action="https://neilit.us7.list-manage.com/subscribe/post?u=c948a8be82c0ef2a67a286794&amp;id=6b33ce7392" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        	     <input type="email" value="" name="EMAIL" class="my-2 newsletter px-2" id="mce-EMAIL" placeholder="<%= ('Email address') %>" required>
               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c948a8be82c0ef2a67a286794_6b33ce7392" tabindex="-1" value=""></div>
               <div class="clear"><input type="submit" value="<%= __('Subscribe') %>" name="subscribe" id="mc-embedded-subscribe" class="btn-neilit py-1"></div>
          </form>
          <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="footer-bottom">
      @2020 Neilit. All Rights Reseverd.
    </div>
  </div>
</footer>

<%- include("../partials/footer-home") %>
